
--stmt                                                                                                                     
------                                                                                                                     
-- [-- DB CONTEXT --] --                                                                                                   
USE [fhlb]                                                                                                                 
                                                                                                                           
-- [-- DB USERS --] --                                                                                                     
IF NOT EXISTS (SELECT [name] FROM sys.database_principals WHERE [name] =  'BUILTIN\Administrators') BEGIN CREATE USER  [BUILTIN\Administrators] FOR LOGIN [BUILTIN\Administrators] WITH DEFAULT_SCHEMA = [dbo] END; 
IF NOT EXISTS (SELECT [name] FROM sys.database_principals WHERE [name] =  'dbo') BEGIN CREATE USER  [dbo] FOR LOGIN [sa] WITH DEFAULT_SCHEMA = [dbo] END; 
IF NOT EXISTS (SELECT [name] FROM sys.database_principals WHERE [name] =  'fhlbdm\devltst') BEGIN CREATE USER  [fhlbdm\devltst] FOR LOGIN [FHLBDM\DEVLTST] WITH DEFAULT_SCHEMA = [fhlbdm\devltst] END; 
IF NOT EXISTS (SELECT [name] FROM sys.database_principals WHERE [name] =  'FHLBDM\ETLUser') BEGIN CREATE USER  [FHLBDM\ETLUser] FOR LOGIN [FHLBDM\ETLUser] WITH DEFAULT_SCHEMA = [dbo] END; 
IF NOT EXISTS (SELECT [name] FROM sys.database_principals WHERE [name] =  'FHLBDM\G-FHLBAPPS-CallBonds Admin') BEGIN CREATE USER  [FHLBDM\G-FHLBAPPS-CallBonds Admin] FOR LOGIN [FHLBDM\G-FHLBAPPS-CallBonds Admin] WITH DEFAULT_SCHEMA = [dbo] END; 
IF NOT EXISTS (SELECT [name] FROM sys.database_principals WHERE [name] =  'FHLBDM\G-FHLBAPPS-CallBonds') BEGIN CREATE USER  [FHLBDM\G-FHLBAPPS-CallBonds] FOR LOGIN [FHLBDM\G-FHLBAPPS-CallBonds] WITH DEFAULT_SCHEMA = [dbo] END; 
IF NOT EXISTS (SELECT [name] FROM sys.database_principals WHERE [name] =  'fhlbdm\G-Fhlbapps-dwh_mpf') BEGIN CREATE USER  [fhlbdm\G-Fhlbapps-dwh_mpf] FOR LOGIN [fhlbdm\G-Fhlbapps-dwh_mpf] WITH DEFAULT_SCHEMA = [dbo] END; 
IF NOT EXISTS (SELECT [name] FROM sys.database_principals WHERE [name] =  'FHLBDM\G-FHLBApps-MATS_MFS') BEGIN CREATE USER  [FHLBDM\G-FHLBApps-MATS_MFS] FOR LOGIN [FHLBDM\G-FHLBApps-MATS_MFS] WITH DEFAULT_SCHEMA = [dbo] END; 
IF NOT EXISTS (SELECT [name] FROM sys.database_principals WHERE [name] =  'FHLBDM\G-FHLBAPPS-QRM_Extract') BEGIN CREATE USER  [FHLBDM\G-FHLBAPPS-QRM_Extract] FOR LOGIN [FHLBDM\G-FHLBAPPS-QRM_Extract] WITH DEFAULT_SCHEMA = [dbo] END; 
IF NOT EXISTS (SELECT [name] FROM sys.database_principals WHERE [name] =  'FHLBDM\G-FHLBAPPS-QRM_Reports RO') BEGIN CREATE USER  [FHLBDM\G-FHLBAPPS-QRM_Reports RO] FOR LOGIN [FHLBDM\G-FHLBAPPS-QRM_Reports RO] WITH DEFAULT_SCHEMA = [dbo] END; 
IF NOT EXISTS (SELECT [name] FROM sys.database_principals WHERE [name] =  'FHLBDM\G-FHLBAPPS-QRM_Reports') BEGIN CREATE USER  [FHLBDM\G-FHLBAPPS-QRM_Reports] FOR LOGIN [FHLBDM\G-FHLBAPPS-QRM_Reports] WITH DEFAULT_SCHEMA = [dbo] END; 
IF NOT EXISTS (SELECT [name] FROM sys.database_principals WHERE [name] =  'FHLBDM\G-FHLB-Developers') BEGIN CREATE USER  [FHLBDM\G-FHLB-Developers] FOR LOGIN [FHLBDM\G-FHLB-Developers] WITH DEFAULT_SCHEMA = [dbo] END; 
IF NOT EXISTS (SELECT [name] FROM sys.database_principals WHERE [name] =  'FHLBDM\Global- Accounting') BEGIN CREATE USER  [FHLBDM\Global- Accounting] FOR LOGIN [FHLBDM\Global- Accounting] WITH DEFAULT_SCHEMA = [dbo] END; 
IF NOT EXISTS (SELECT [name] FROM sys.database_principals WHERE [name] =  'FHLBDM\G-SQL AccountingReports Admin') BEGIN CREATE USER  [FHLBDM\G-SQL AccountingReports Admin] FOR LOGIN [FHLBDM\G-SQL AccountingReports Admin] WITH DEFAULT_SCHEMA = [dbo] END; 
IF NOT EXISTS (SELECT [name] FROM sys.database_principals WHERE [name] =  'FHLBDM\G-SQL Admin') BEGIN CREATE USER  [FHLBDM\G-SQL Admin] FOR LOGIN [FHLBDM\G-SQL Admin] WITH DEFAULT_SCHEMA = [dbo] END; 
IF NOT EXISTS (SELECT [name] FROM sys.database_principals WHERE [name] =  'FHLBDM\G-SQL Credit') BEGIN CREATE USER  [FHLBDM\G-SQL Credit] FOR LOGIN [FHLBDM\G-SQL Credit] WITH DEFAULT_SCHEMA = [dbo] END; 
IF NOT EXISTS (SELECT [name] FROM sys.database_principals WHERE [name] =  'FHLBDM\G-SQL MPF-BGS') BEGIN CREATE USER  [FHLBDM\G-SQL MPF-BGS] FOR LOGIN [FHLBDM\G-SQL MPF-BGS] WITH DEFAULT_SCHEMA = [dbo] END; 
IF NOT EXISTS (SELECT [name] FROM sys.database_principals WHERE [name] =  'FHLBDM\G-SQL MPG') BEGIN CREATE USER  [FHLBDM\G-SQL MPG] FOR LOGIN [FHLBDM\G-SQL MPG] WITH DEFAULT_SCHEMA = [dbo] END; 
IF NOT EXISTS (SELECT [name] FROM sys.database_principals WHERE [name] =  'FHLBDM\G-SQL Operations') BEGIN CREATE USER  [FHLBDM\G-SQL Operations] FOR LOGIN [FHLBDM\G-SQL Operations] WITH DEFAULT_SCHEMA = [dbo] END; 
IF NOT EXISTS (SELECT [name] FROM sys.database_principals WHERE [name] =  'FHLBDM\G-SQL OpRiskExceptions RO') BEGIN CREATE USER  [FHLBDM\G-SQL OpRiskExceptions RO] FOR LOGIN [FHLBDM\G-SQL OpRiskExceptions RO] WITH DEFAULT_SCHEMA = [dbo] END; 
IF NOT EXISTS (SELECT [name] FROM sys.database_principals WHERE [name] =  'FHLBDM\G-SQL OpRiskExceptions') BEGIN CREATE USER  [FHLBDM\G-SQL OpRiskExceptions] FOR LOGIN [FHLBDM\G-SQL OpRiskExceptions] WITH DEFAULT_SCHEMA = [dbo] END; 
IF NOT EXISTS (SELECT [name] FROM sys.database_principals WHERE [name] =  'FHLBDM\G-SQL Public') BEGIN CREATE USER  [FHLBDM\G-SQL Public] FOR LOGIN [FHLBDM\G-SQL Public] WITH DEFAULT_SCHEMA = [dbo] END; 
IF NOT EXISTS (SELECT [name] FROM sys.database_principals WHERE [name] =  'FHLBDM\G-SQL QlikSense RO') BEGIN CREATE USER  [FHLBDM\G-SQL QlikSense RO] FOR LOGIN [FHLBDM\G-SQL QlikSense RO] WITH DEFAULT_SCHEMA = [dbo] END; 
IF NOT EXISTS (SELECT [name] FROM sys.database_principals WHERE [name] =  'FHLBDM\svc_HubDWHLinkRO') BEGIN CREATE USER  [FHLBDM\svc_HubDWHLinkRO] FOR LOGIN [FHLBDM\svc_HubDWHLinkRO] WITH DEFAULT_SCHEMA = [dbo] END; 
IF NOT EXISTS (SELECT [name] FROM sys.database_principals WHERE [name] =  'FHLBDM\tsvc_StockUpdate') BEGIN CREATE USER  [FHLBDM\tsvc_StockUpdate] FOR LOGIN [FHLBDM\tsvc_StockUpdate] WITH DEFAULT_SCHEMA = [dbo] END; 
IF NOT EXISTS (SELECT [name] FROM sys.database_principals WHERE [name] =  'FHLBDM\UDAHelper') BEGIN CREATE USER  [FHLBDM\UDAHelper] FOR LOGIN [FHLBDM\UDAHelper] WITH DEFAULT_SCHEMA = [dbo] END; 
IF NOT EXISTS (SELECT [name] FROM sys.database_principals WHERE [name] =  'G-SQL PFI Full') BEGIN CREATE USER  [G-SQL PFI Full] FOR LOGIN [FHLBDM\G-SQL PFI Full] WITH DEFAULT_SCHEMA = [dbo] END; 
IF NOT EXISTS (SELECT [name] FROM sys.database_principals WHERE [name] =  'G-SQL PFI RO') BEGIN CREATE USER  [G-SQL PFI RO] FOR LOGIN [FHLBDM\G-SQL PFI RO] WITH DEFAULT_SCHEMA = [dbo] END; 
IF NOT EXISTS (SELECT [name] FROM sys.database_principals WHERE [name] =  'G-SQL-CIARestrictions RO') BEGIN CREATE USER  [G-SQL-CIARestrictions RO] FOR LOGIN [FHLBDM\G-SQL-CIARestrictions RO] WITH DEFAULT_SCHEMA = [dbo] END; 
IF NOT EXISTS (SELECT [name] FROM sys.database_principals WHERE [name] =  'G-SQL-CIARestrictions') BEGIN CREATE USER  [G-SQL-CIARestrictions] FOR LOGIN [FHLBDM\G-SQL-CIARestrictions] WITH DEFAULT_SCHEMA = [dbo] END; 
IF NOT EXISTS (SELECT [name] FROM sys.database_principals WHERE [name] =  'Intranet_User') BEGIN CREATE USER  [Intranet_User] FOR LOGIN [intranet_user] WITH DEFAULT_SCHEMA = [Intranet_User] END; 
IF NOT EXISTS (SELECT [name] FROM sys.database_principals WHERE [name] =  'MKTUBJH') BEGIN CREATE USER  [MKTUBJH] FOR LOGIN [FHLBDM\MKTUBJH] WITH DEFAULT_SCHEMA = [MKTUBJH] END; 
IF NOT EXISTS (SELECT [name] FROM sys.database_principals WHERE [name] =  'QRM_ETL') BEGIN CREATE USER  [QRM_ETL] FOR LOGIN [QRM_ETL] WITH DEFAULT_SCHEMA = [QRM_ETL] END; 
IF NOT EXISTS (SELECT [name] FROM sys.database_principals WHERE [name] =  'FHLBDM\svc_HubDWHLinkRO') BEGIN CREATE USER  [FHLBDM\svc_HubDWHLinkRO] FOR LOGIN [FHLBDM\svc_HubDWHLinkRO] WITH DEFAULT_SCHEMA = [dbo] END; 
IF NOT EXISTS (SELECT [name] FROM sys.database_principals WHERE [name] =  'FHLBDM\tsvc_scp_user') BEGIN CREATE USER  [FHLBDM\tsvc_scp_user] FOR LOGIN [FHLBDM\tsvc_scp_user] WITH DEFAULT_SCHEMA = [dbo] END; 
IF NOT EXISTS (SELECT [name] FROM sys.database_principals WHERE [name] =  'FHLBDM\tsvc_slx_marketo') BEGIN CREATE USER  [FHLBDM\tsvc_slx_marketo] FOR LOGIN [FHLBDM\tsvc_slx_marketo] WITH DEFAULT_SCHEMA = [dbo] END; 

-- [-- ORPHANED USERS --] --                                                                                               
-- [-- DB ROLES --] --                                                                                                     
EXEC sp_addrolemember @rolename = 'db_datareader', @membername = 'FHLBDM\G-FHLBAPPS-QRM_Reports'                           
EXEC sp_addrolemember @rolename = 'db_datareader', @membername = 'FHLBDM\G-FHLBAPPS-QRM_Reports RO'                        
EXEC sp_addrolemember @rolename = 'db_datareader', @membername = 'FHLBDM\G-SQL Public'                                     
EXEC sp_addrolemember @rolename = 'db_datareader', @membername = 'FHLBDM\G-SQL QlikSense RO'                               
EXEC sp_addrolemember @rolename = 'db_datareader', @membername = 'FHLBDM\svc_HubDWHLinkRO'                                 
EXEC sp_addrolemember @rolename = 'db_datareader', @membername = 'FHLBDM\UDAHelper'                                        
EXEC sp_addrolemember @rolename = 'db_datareader', @membername = 'Intranet_User'                                           
EXEC sp_addrolemember @rolename = 'db_datareader', @membername = 'QRM_ETL'                                                 
EXEC sp_addrolemember @rolename = 'db_owner', @membername = 'BUILTIN\Administrators'                                       
EXEC sp_addrolemember @rolename = 'db_owner', @membername = 'FHLBDM\ETLUser'                                               
EXEC sp_addrolemember @rolename = 'db_owner', @membername = 'FHLBDM\mlevere'                                               
EXEC sp_addrolemember @rolename = 'db_owner', @membername = 'FHLBDM\smartinez'                                             
                                                                                                                           
-- [-- OBJECT LEVEL PERMISSIONS --] --                                                                                     
GRANT DELETE ON [dbo].[CIARestrictions] TO [G-SQL-CIARestrictions]                                                         
GRANT DELETE ON [dbo].[DCPriceAdjust] TO [G-FHLBAPPS-DWH_Risk]                                                             
GRANT DELETE ON [dbo].[DCSpreads] TO [G-FHLBAPPS-DWH_Risk]                                                                 
GRANT DELETE ON [dbo].[DSS_Call_and_Amort_Summary] TO [FHLBDM\G-FHLBAPPS-CallBonds Admin]                                  
GRANT DELETE ON [dbo].[DSS_IAN_Redemption_Notice] TO [FHLBDM\G-FHLBAPPS-CallBonds Admin]                                   
GRANT DELETE ON [dbo].[dtproperties] TO [public]                                                                           
GRANT DELETE ON [dbo].[Membership_Comments] TO [FHLBDM\G-FHLBApps-MATS_MFS]                                                
GRANT DELETE ON [dbo].[OpRiskExceptions] TO [FHLBDM\G-SQL OpRiskExceptions]                                                
GRANT DELETE ON [dbo].[PFI Information] TO [G-SQL PFI Full]                                                                
GRANT DELETE ON [dbo].[PFI_External_Info] TO [fhlbdm\G-Fhlbapps-dwh_mpf]                                                   
GRANT DELETE ON [dbo].[SWAP_EXP_CUSHION] TO [FHLBDM\G-SQL Credit]                                                          
GRANT EXECUTE ON [dbo].[dt_addtosourcecontrol] TO [public]                                                                 
GRANT EXECUTE ON [dbo].[dt_addtosourcecontrol_u] TO [public]                                                               
GRANT EXECUTE ON [dbo].[dt_adduserobject] TO [public]                                                                      
GRANT EXECUTE ON [dbo].[dt_adduserobject_vcs] TO [public]                                                                  
GRANT EXECUTE ON [dbo].[dt_checkinobject] TO [public]                                                                      
GRANT EXECUTE ON [dbo].[dt_checkinobject_u] TO [public]                                                                    
GRANT EXECUTE ON [dbo].[dt_checkoutobject] TO [public]                                                                     
GRANT EXECUTE ON [dbo].[dt_checkoutobject_u] TO [public]                                                                   
GRANT EXECUTE ON [dbo].[dt_displayoaerror] TO [public]                                                                     
GRANT EXECUTE ON [dbo].[dt_displayoaerror_u] TO [public]                                                                   
GRANT EXECUTE ON [dbo].[dt_droppropertiesbyid] TO [public]                                                                 
GRANT EXECUTE ON [dbo].[dt_dropuserobjectbyid] TO [public]                                                                 
GRANT EXECUTE ON [dbo].[dt_generateansiname] TO [public]                                                                   
GRANT EXECUTE ON [dbo].[dt_getobjwithprop] TO [public]                                                                     
GRANT EXECUTE ON [dbo].[dt_getobjwithprop_u] TO [public]                                                                   
GRANT EXECUTE ON [dbo].[dt_getpropertiesbyid] TO [public]                                                                  
GRANT EXECUTE ON [dbo].[dt_getpropertiesbyid_u] TO [public]                                                                
GRANT EXECUTE ON [dbo].[dt_getpropertiesbyid_vcs] TO [public]                                                              
GRANT EXECUTE ON [dbo].[dt_getpropertiesbyid_vcs_u] TO [public]                                                            
GRANT EXECUTE ON [dbo].[dt_isundersourcecontrol] TO [public]                                                               
GRANT EXECUTE ON [dbo].[dt_isundersourcecontrol_u] TO [public]                                                             
GRANT EXECUTE ON [dbo].[dt_removefromsourcecontrol] TO [public]                                                            
GRANT EXECUTE ON [dbo].[dt_setpropertybyid] TO [public]                                                                    
GRANT EXECUTE ON [dbo].[dt_setpropertybyid_u] TO [public]                                                                  
GRANT EXECUTE ON [dbo].[dt_validateloginparams] TO [public]                                                                
GRANT EXECUTE ON [dbo].[dt_validateloginparams_u] TO [public]                                                              
GRANT EXECUTE ON [dbo].[dt_vcsenabled] TO [public]                                                                         
GRANT EXECUTE ON [dbo].[dt_verstamp006] TO [public]                                                                        
GRANT EXECUTE ON [dbo].[dt_verstamp007] TO [public]                                                                        
GRANT EXECUTE ON [dbo].[dt_whocheckedout] TO [public]                                                                      
GRANT EXECUTE ON [dbo].[dt_whocheckedout_u] TO [public]                                                                    
GRANT EXECUTE ON [dbo].[udf_payment_IRSB_cubicspline] TO [FHLBDM\G-FHLB-Developers]                                        
GRANT EXECUTE ON [dbo].[udf_payment_Rate_cubicspline] TO [FHLBDM\G-FHLB-Developers]                                        
GRANT EXECUTE ON [dbo].[udf_payment_Rate_cubicspline] TO [public]                                                          
GRANT EXECUTE ON [dbo].[udf_payment_TCOF_Bullet_cubicspline_WO15816] TO [FHLBDM\G-FHLB-Developers]                         
GRANT EXECUTE ON [dbo].[udf_payment_TCOF_Convertible_cubicspline_WO15816] TO [FHLBDM\G-FHLB-Developers]                    
GRANT EXECUTE ON [dbo].[usp_FRB_100Billion_exclusions] TO [FHLBDM\G-SQL Public]                                            
GRANT EXECUTE ON [dbo].[usp_FRB_25million_exclusions] TO [FHLBDM\G-SQL Public]                                             
GRANT EXECUTE ON [dbo].[usp_FRB_Adv_Maturing_Renewed_Orig_Term_excl100B_total] TO [FHLBDM\G-SQL Public]                    
GRANT EXECUTE ON [dbo].[usp_FRB_Adv_Maturing_Renewed_Orig_Term_excl25M_indiv] TO [FHLBDM\G-SQL Public]                     
GRANT EXECUTE ON [dbo].[usp_FRB_Adv_Maturing_Renewed_Orig_Term_Incl_100B_total] TO [FHLBDM\G-SQL Public]                   
GRANT EXECUTE ON [dbo].[usp_FRB_Advances_Maturing_Renewed_Original_Term] TO [FHLBDM\G-SQL Public]                          
GRANT EXECUTE ON [dbo].[usp_FRB_pledged_collateral_load] TO [FHLBDM\G-SQL Public]                                          
GRANT EXECUTE ON [dbo].[usp_GetMemberInfo] TO [Intranet_User]                                                              
GRANT INSERT ON [dbo].[app_EventLog] TO [FHLBDM\G-SQL Credit]                                                              
GRANT INSERT ON [dbo].[CanaryBonds] TO [FHLBDM\G-SQL AccountingReports Admin]                                              
GRANT INSERT ON [dbo].[CIARestrictions] TO [G-SQL-CIARestrictions]                                                         
GRANT INSERT ON [dbo].[CO_Descriptions] TO [FHLBDM\G-SQL AccountingReports Admin]                                          
GRANT INSERT ON [dbo].[DCPriceAdjust] TO [G-FHLBAPPS-DWH_Risk]                                                             
GRANT INSERT ON [dbo].[DCSpreads] TO [G-FHLBAPPS-DWH_Risk]                                                                 
GRANT INSERT ON [dbo].[DSS_Call_and_Amort_Summary] TO [FHLBDM\G-FHLBAPPS-CallBonds Admin]                                  
GRANT INSERT ON [dbo].[DSS_IAN_Redemption_Notice] TO [FHLBDM\G-FHLBAPPS-CallBonds Admin]                                   
GRANT INSERT ON [dbo].[dtproperties] TO [public]                                                                           
GRANT INSERT ON [dbo].[Membership_App_Tracking_Log] TO [FHLBDM\G-FHLBApps-MATS_MFS]                                        
GRANT INSERT ON [dbo].[Membership_Comments] TO [Credit]                                                                    
GRANT INSERT ON [dbo].[Membership_Comments] TO [FHLBDM\G-FHLBApps-MATS_MFS]                                                
GRANT INSERT ON [dbo].[OpRiskExceptions] TO [FHLBDM\G-SQL OpRiskExceptions]                                                
GRANT INSERT ON [dbo].[PFI Information] TO [G-SQL PFI Full]                                                                
GRANT INSERT ON [dbo].[PFI_External_Info] TO [fhlbdm\G-Fhlbapps-dwh_mpf]                                                   
GRANT INSERT ON [dbo].[SWAP_EXP_CUSHION] TO [FHLBDM\G-SQL Credit]                                                          
GRANT REFERENCES ON [dbo].[DSS_Call_and_Amort_Summary] TO [FHLBDM\G-FHLBAPPS-CallBonds Admin]                              
GRANT REFERENCES ON [dbo].[dtproperties] TO [public]                                                                       
GRANT SELECT ON [dbo].[AAL_Date] TO [FHLBDM\G-SQL Public]                                                                  
GRANT SELECT ON [dbo].[AAL_Date] TO [Intranet_User]                                                                        
GRANT SELECT ON [dbo].[AAL_Request] TO [FHLBDM\G-SQL Public]                                                               
GRANT SELECT ON [dbo].[AAL_Request] TO [Intranet_User]                                                                     
GRANT SELECT ON [dbo].[ACC] TO [FHLBDM\G-SQL Public]                                                                       
GRANT SELECT ON [dbo].[ACC] TO [Intranet_User]                                                                             
GRANT SELECT ON [dbo].[Account_Names_and_Addresses] TO [FHLBDM\G-SQL Public]                                               
GRANT SELECT ON [dbo].[Account_Names_and_Addresses] TO [Intranet_User]                                                     
GRANT SELECT ON [dbo].[Accounts_Receivable] TO [FHLBDM\G-SQL Public]                                                       
GRANT SELECT ON [dbo].[Accounts_Receivable] TO [Intranet_User]                                                             
GRANT SELECT ON [dbo].[AchRtAcct] TO [FHLBDM\G-SQL Public]                                                                 
GRANT SELECT ON [dbo].[AchRtAcct] TO [Intranet_User]                                                                       
GRANT SELECT ON [dbo].[ADV_Current1] TO [FHLBDM\G-SQL Public]                                                              
GRANT SELECT ON [dbo].[Adv_Tot_V] TO [FHLBDM\G-SQL Public]                                                                 
GRANT SELECT ON [dbo].[Advance Daily Activity] TO [FHLBDM\G-SQL Public]                                                    
GRANT SELECT ON [dbo].[Advance Daily Activity] TO [Intranet_User]                                                          
GRANT SELECT ON [dbo].[Advance_Averages] TO [FHLBDM\G-SQL Public]                                                          
GRANT SELECT ON [dbo].[Advance_Averages] TO [Intranet_User]                                                                
GRANT SELECT ON [dbo].[Advance_Daily_Activity_Fact_EOD] TO [FHLBDM\G-SQL Public]                                           
GRANT SELECT ON [dbo].[Advances] TO [FHLBDM\G-SQL Public]                                                                  
GRANT SELECT ON [dbo].[Advances] TO [Intranet_User]                                                                        
GRANT SELECT ON [dbo].[Advances_Fact_EOD] TO [FHLBDM\G-SQL Public]                                                         
GRANT SELECT ON [dbo].[Advances_V] TO [FHLBDM\G-SQL Public]                                                                
GRANT SELECT ON [dbo].[app_EventLog] TO [FHLBDM\G-SQL Credit]                                                              
GRANT SELECT ON [dbo].[Basis_Adjustments] TO [FHLBDM\G-SQL Public]                                                         
GRANT SELECT ON [dbo].[Basis_Adjustments] TO [Intranet_User]                                                               
GRANT SELECT ON [dbo].[Basis_Adjustments_Fact_EOD] TO [FHLBDM\G-SQL Public]                                                
GRANT SELECT ON [dbo].[Beneficiary] TO [FHLBDM\G-SQL Public]                                                               
GRANT SELECT ON [dbo].[Beneficiary] TO [Intranet_User]                                                                     
GRANT SELECT ON [dbo].[Beneficiary_FACT_EOD] TO [FHLBDM\G-SQL Public]                                                      
GRANT SELECT ON [dbo].[Broker_Information] TO [FHLBDM\G-SQL Public]                                                        
GRANT SELECT ON [dbo].[Broker_Information] TO [Intranet_User]                                                              
GRANT SELECT ON [dbo].[Budget] TO [FHLBDM\G-SQL Public]                                                                    
GRANT SELECT ON [dbo].[Budget] TO [Intranet_User]                                                                          
GRANT SELECT ON [dbo].[Budget_File_V] TO [FHLBDM\G-SQL Public]                                                             
GRANT SELECT ON [dbo].[BUDGET_V] TO [FHLBDM\G-SQL Public]                                                                  
GRANT SELECT ON [dbo].[CanaryBonds] TO [FHLBDM\G-SQL Public]                                                               
GRANT SELECT ON [dbo].[CanaryBonds] TO [Intranet_User]                                                                     
GRANT SELECT ON [dbo].[Capital_Stock] TO [FHLBDM\G-SQL Public]                                                             
GRANT SELECT ON [dbo].[Capital_Stock] TO [Intranet_User]                                                                   
GRANT SELECT ON [dbo].[Capital_Stock_Bal_V] TO [FHLBDM\G-SQL Public]                                                       
GRANT SELECT ON [dbo].[Capital_Stock_CP] TO [FHLBDM\G-SQL Public]                                                          
GRANT SELECT ON [dbo].[Capital_Stock_CP] TO [Intranet_User]                                                                
GRANT SELECT ON [dbo].[Capital_Stock_Redemption] TO [FHLBDM\G-SQL Public]                                                  
GRANT SELECT ON [dbo].[Capital_Stock_Redemption_FACT_EOD] TO [FHLBDM\G-SQL Public]                                         
GRANT SELECT ON [dbo].[CapitalStock_Balancing] TO [FHLBDM\G-SQL Public]                                                    
GRANT SELECT ON [dbo].[CDS] TO [FHLBDM\psvc_StockUpdate]                                                                   
GRANT SELECT ON [dbo].[CDS] TO [FHLBDM\tsvc_scp_user]                                                                      
GRANT SELECT ON [dbo].[CDS_Fact_EOD] TO [FHLBDM\G-SQL Public]                                                              
GRANT SELECT ON [dbo].[CDS_SW_FREQ] TO [FHLBDM\G-SQL Public]                                                               
GRANT SELECT ON [dbo].[CDS_SW_FREQ] TO [Intranet_User]                                                                     
GRANT SELECT ON [dbo].[CDS_Table] TO [FHLBDM\G-SQL Public]                                                                 
GRANT SELECT ON [dbo].[CDS_Table] TO [Intranet_User]                                                                       
GRANT SELECT ON [dbo].[CDS_Table_Fact_EOD] TO [FHLBDM\G-SQL Public]                                                        
GRANT SELECT ON [dbo].[CIARestrictions] TO [FHLBDM\G-FHLB-Developers]                                                      
GRANT SELECT ON [dbo].[CIARestrictions] TO [G-SQL-CIARestrictions RO]                                                      
GRANT SELECT ON [dbo].[CIARestrictions] TO [G-SQL-CIARestrictions]                                                         
GRANT SELECT ON [dbo].[CO_Descriptions] TO [FHLBDM\G-SQL Public]                                                           
GRANT SELECT ON [dbo].[CO_Descriptions] TO [Intranet_User]                                                                 
GRANT SELECT ON [dbo].[CO_Line_of_Business] TO [FHLBDM\G-SQL Public]                                                       
GRANT SELECT ON [dbo].[CO_Line_of_Business] TO [Intranet_User]                                                             
GRANT SELECT ON [dbo].[Collateral_and_Pledges_FACT_EOD] TO [FHLBDM\G-SQL Public]                                           
GRANT SELECT ON [dbo].[Collateral_Customer_Profile] TO [FHLBDM\G-SQL Public]                                               
GRANT SELECT ON [dbo].[Collateral_Customer_Profile] TO [Intranet_User]                                                     
GRANT SELECT ON [dbo].[Collateral_Haircut_Exceptions] TO [FHLBDM\G-SQL Public]                                             
GRANT SELECT ON [dbo].[Collateral_Haircut_Exceptions] TO [Intranet_User]                                                   
GRANT SELECT ON [dbo].[Collateral_Haircut_Exceptions_FACT_EOD] TO [FHLBDM\G-SQL Public]                                    
GRANT SELECT ON [dbo].[Collateral_Pricing] TO [FHLBDM\G-SQL Public]                                                        
GRANT SELECT ON [dbo].[Collateral_Pricing] TO [Intranet_User]                                                              
GRANT SELECT ON [dbo].[Collateral_Securities_Pledges] TO [FHLBDM\G-SQL Public]                                             
GRANT SELECT ON [dbo].[Collateral_Securities_Pledges] TO [Intranet_User]                                                   
GRANT SELECT ON [dbo].[Collateral_Securities_Pledges_Fact_EOD] TO [FHLBDM\G-SQL Public]                                    
GRANT SELECT ON [dbo].[CollatProfile_Count_V] TO [FHLBDM\G-SQL Public]                                                     
GRANT SELECT ON [dbo].[Commit_V] TO [FHLBDM\G-SQL Public]                                                                  
GRANT SELECT ON [dbo].[Commitment_Lookup] TO [FHLBDM\G-SQL Public]                                                         
GRANT SELECT ON [dbo].[Commitment_Lookup] TO [Intranet_User]                                                               
GRANT SELECT ON [dbo].[Commitments] TO [FHLBDM\G-SQL Public]                                                               
GRANT SELECT ON [dbo].[Commitments] TO [Intranet_User]                                                                     
GRANT SELECT ON [dbo].[Commitments_Credit_Enhance_v] TO [FHLBDM\G-SQL Public]                                              
GRANT SELECT ON [dbo].[Commitments_V] TO [FHLBDM\G-SQL Public]                                                             
GRANT SELECT ON [dbo].[Consolidated_Obligations] TO [FHLBDM\G-SQL Public]                                                  
GRANT SELECT ON [dbo].[Consolidated_Obligations] TO [Intranet_User]                                                        
GRANT SELECT ON [dbo].[Consolidated_Obligations_Fact_EOD] TO [FHLBDM\G-SQL Public]                                         
GRANT SELECT ON [dbo].[Contact_Role] TO [FHLBDM\G-SQL Public]                                                              
GRANT SELECT ON [dbo].[Contact_Summary] TO [FHLBDM\G-SQL Public]                                                           
GRANT SELECT ON [dbo].[CP_Depository] TO [FHLBDM\G-FHLB-Developers]                                                        
GRANT SELECT ON [dbo].[CP_Depository] TO [FHLBDM\G-SQL Public]                                                             
GRANT SELECT ON [dbo].[CP_Trade_Backup] TO [FHLBDM\G-SQL Public]                                                           
GRANT SELECT ON [dbo].[CP_Trade_Backup] TO [Intranet_User]                                                                 
GRANT SELECT ON [dbo].[CRF] TO [FHLBDM\G-SQL Public]                                                                       
GRANT SELECT ON [dbo].[CRF] TO [Intranet_User]                                                                             
GRANT SELECT ON [dbo].[Cusip_Profile] TO [FHLBDM\G-SQL Public]                                                             
GRANT SELECT ON [dbo].[Cusip_Profile] TO [Intranet_User]                                                                   
GRANT SELECT ON [dbo].[Customer Type] TO [FHLBDM\G-SQL Public]                                                             
GRANT SELECT ON [dbo].[Customer_Information] TO [FHLBDM\G-SQL Public]                                                      
GRANT SELECT ON [dbo].[Customer_Information] TO [Intranet_User]                                                            
GRANT SELECT ON [dbo].[Customer_Summary] TO [FHLBDM\G-SQL Public]                                                          
GRANT SELECT ON [dbo].[Daily_Time_V] TO [FHLBDM\G-SQL Public]                                                              
GRANT SELECT ON [dbo].[Dataware_Balancing] TO [FHLBDM\G-FHLB-Developers]                                                   
GRANT SELECT ON [dbo].[DCPriceAdjust] TO [FHLBDM\G-FHLB-Developers]                                                        
GRANT SELECT ON [dbo].[DCPriceAdjust] TO [FHLBDM\G-SQL Public]                                                             
GRANT SELECT ON [dbo].[DCPriceAdjust] TO [G-FHLBAPPS-DWH_Risk]                                                             
GRANT SELECT ON [dbo].[DCPriceAdjust] TO [Intranet_User]                                                                   
GRANT SELECT ON [dbo].[DCSpreads] TO [FHLBDM\G-FHLB-Developers]                                                            
GRANT SELECT ON [dbo].[DCSpreads] TO [FHLBDM\G-SQL Public]                                                                 
GRANT SELECT ON [dbo].[DCSpreads] TO [G-FHLBAPPS-DWH_Risk]                                                                 
GRANT SELECT ON [dbo].[DCSpreads] TO [Intranet_User]                                                                       
GRANT SELECT ON [dbo].[Demand_Dep_V] TO [FHLBDM\G-SQL Public]                                                              
GRANT SELECT ON [dbo].[Demand_Deposit] TO [FHLBDM\G-SQL Public]                                                            
GRANT SELECT ON [dbo].[Demand_Deposit] TO [Intranet_User]                                                                  
GRANT SELECT ON [dbo].[Demand_Deposit_Fact_EOD] TO [FHLBDM\G-SQL Public]                                                   
GRANT SELECT ON [dbo].[DEMAND_DT_AVG_BALANCE] TO [FHLBDM\G-SQL Public]                                                     
GRANT SELECT ON [dbo].[DEMAND_DT_AVG_BALANCE] TO [Intranet_User]                                                           
GRANT SELECT ON [dbo].[DSS_Call_and_Amort_Summary] TO [FHLBDM\G-FHLBAPPS-CallBonds Admin]                                  
GRANT SELECT ON [dbo].[DSS_Call_and_Amort_Summary] TO [FHLBDM\G-FHLBAPPS-CallBonds]                                        
GRANT SELECT ON [dbo].[DSS_Call_and_Amort_Summary] TO [FHLBDM\G-SQL Public]                                                
GRANT SELECT ON [dbo].[DSS_Call_and_Amort_Summary] TO [Intranet_User]                                                      
GRANT SELECT ON [dbo].[DSS_IAN_Redemption_Notice] TO [FHLBDM\G-FHLBAPPS-CallBonds Admin]                                   
GRANT SELECT ON [dbo].[DSS_IAN_Redemption_Notice] TO [FHLBDM\G-FHLBAPPS-CallBonds]                                         
GRANT SELECT ON [dbo].[DSS_IAN_Redemption_Notice] TO [FHLBDM\G-SQL Public]                                                 
GRANT SELECT ON [dbo].[DSS_IAN_Redemption_Notice] TO [Intranet_User]                                                       
GRANT SELECT ON [dbo].[DSS_IAN_Redemption_Notice] TO [public]                                                              
GRANT SELECT ON [dbo].[dtproperties] TO [public]                                                                           
GRANT SELECT ON [dbo].[DWCDSIJTAB] TO [FHLBDM\G-SQL Public]                                                                
GRANT SELECT ON [dbo].[DWH_Balancing] TO [FHLBDM\G-FHLB-Developers]                                                        
GRANT SELECT ON [dbo].[ECM_Non_Members] TO [FHLBDM\G-SQL Public]                                                           
GRANT SELECT ON [dbo].[FAS149_LOANS] TO [FHLBDM\G-SQL Public]                                                              
GRANT SELECT ON [dbo].[FAS149_LOANS] TO [Intranet_User]                                                                    
GRANT SELECT ON [dbo].[Fire_Credit] TO [FHLBDM\G-SQL Public]                                                               
GRANT SELECT ON [dbo].[Fire_Credit] TO [Intranet_User]                                                                     
GRANT SELECT ON [dbo].[Fixed_Asset_V] TO [FHLBDM\G-SQL Public]                                                             
GRANT SELECT ON [dbo].[Fixed_Assets] TO [FHLBDM\G-SQL Public]                                                              
GRANT SELECT ON [dbo].[Fixed_Assets] TO [Intranet_User]                                                                    
GRANT SELECT ON [dbo].[FRB_DET_STMT_JV] TO [FHLBDM\G-SQL Public]                                                           
GRANT SELECT ON [dbo].[frb_Detail] TO [FHLBDM\G-SQL Public]                                                                
GRANT SELECT ON [dbo].[frb_Detail] TO [Intranet_User]                                                                      
GRANT SELECT ON [dbo].[frb_Header] TO [FHLBDM\G-SQL Public]                                                                
GRANT SELECT ON [dbo].[frb_Header] TO [Intranet_User]                                                                      
GRANT SELECT ON [dbo].[FRB_pledged_collateral_rpt] TO [FHLBDM\G-SQL Public]                                                
GRANT SELECT ON [dbo].[frb_Total] TO [FHLBDM\G-SQL Public]                                                                 
GRANT SELECT ON [dbo].[frb_Total] TO [Intranet_User]                                                                       
GRANT SELECT ON [dbo].[FTID_Fact_EOD] TO [FHLBDM\G-SQL Public]                                                             
GRANT SELECT ON [dbo].[General_Ledger] TO [FHLBDM\G-SQL Public]                                                            
GRANT SELECT ON [dbo].[General_Ledger] TO [Intranet_User]                                                                  
GRANT SELECT ON [dbo].[General_Ledger_01] TO [FHLBDM\G-SQL Public]                                                         
GRANT SELECT ON [dbo].[General_Ledger_01] TO [Intranet_User]                                                               
GRANT SELECT ON [dbo].[General_Ledger_01_Fact_EOD] TO [FHLBDM\G-SQL Public]                                                
GRANT SELECT ON [dbo].[General_Ledger_01_v] TO [FHLBDM\G-SQL Public]                                                       
GRANT SELECT ON [dbo].[GL_Bal_V] TO [FHLBDM\G-SQL Operations]                                                              
GRANT SELECT ON [dbo].[glpost_validation] TO [FHLBDM\G-SQL Public]                                                         
GRANT SELECT ON [dbo].[glpost_validation] TO [Intranet_User]                                                               
GRANT SELECT ON [dbo].[Goldmine] TO [FHLBDM\G-FHLB-Developers]                                                             
GRANT SELECT ON [dbo].[Goldmine] TO [FHLBDM\G-SQL Public]                                                                  
GRANT SELECT ON [dbo].[Goldmine] TO [Intranet_User]                                                                        
GRANT SELECT ON [dbo].[Interest_Payments] TO [FHLBDM\G-SQL Public]                                                         
GRANT SELECT ON [dbo].[Interest_Payments] TO [Intranet_User]                                                               
GRANT SELECT ON [dbo].[Interest_Payments_Ref_V] TO [FHLBDM\G-SQL Public]                                                   
GRANT SELECT ON [dbo].[Investment_Collateral] TO [FHLBDM\G-SQL Public]                                                     
GRANT SELECT ON [dbo].[Investment_Collateral] TO [Intranet_User]                                                           
GRANT SELECT ON [dbo].[Investments] TO [FHLBDM\G-SQL Public]                                                               
GRANT SELECT ON [dbo].[Investments] TO [Intranet_User]                                                                     
GRANT SELECT ON [dbo].[Investments_01] TO [FHLBDM\G-SQL Public]                                                            
GRANT SELECT ON [dbo].[Investments_01] TO [Intranet_User]                                                                  
GRANT SELECT ON [dbo].[Investments_Fact_EOD] TO [FHLBDM\G-SQL Public]                                                      
GRANT SELECT ON [dbo].[IREA_CALC] TO [FHLBDM\G-FHLB-Developers]                                                            
GRANT SELECT ON [dbo].[IREA_CALC] TO [FHLBDM\G-SQL Public]                                                                 
GRANT SELECT ON [dbo].[IREA_CALC] TO [Intranet_User]                                                                       
GRANT SELECT ON [dbo].[JXD] TO [FHLBDM\G-SQL Public]                                                                       
GRANT SELECT ON [dbo].[JXD] TO [Intranet_User]                                                                             
GRANT SELECT ON [dbo].[JXM] TO [FHLBDM\G-SQL Public]                                                                       
GRANT SELECT ON [dbo].[JXM] TO [Intranet_User]                                                                             
GRANT SELECT ON [dbo].[Letters_Of_Credit] TO [FHLBDM\G-SQL Public]                                                         
GRANT SELECT ON [dbo].[Link] TO [FHLBDM\G-SQL Public]                                                                      
GRANT SELECT ON [dbo].[Link] TO [Intranet_User]                                                                            
GRANT SELECT ON [dbo].[Link_Fact_EOD] TO [FHLBDM\G-SQL Public]                                                             
GRANT SELECT ON [dbo].[LY_Amort_Trend_Calendar_v] TO [FHLBDM\G-SQL Public]                                                 
GRANT SELECT ON [dbo].[LY_Amortization_Trend] TO [FHLBDM\G-SQL Public]                                                     
GRANT SELECT ON [dbo].[LY_Amortization_Trend_v] TO [FHLBDM\G-SQL Public]                                                   
GRANT SELECT ON [dbo].[LY_Amortizations] TO [FHLBDM\G-SQL Public]                                                          
GRANT SELECT ON [dbo].[LY_Amortizations] TO [Intranet_User]                                                                
GRANT SELECT ON [dbo].[LY_Amortizations_Restatements] TO [FHLBDM\G-SQL Public]                                             
GRANT SELECT ON [dbo].[LY_Cash_Flow_History] TO [FHLBDM\G-SQL Public]                                                      
GRANT SELECT ON [dbo].[LY_Cash_Flow_History] TO [Intranet_User]                                                            
GRANT SELECT ON [dbo].[LY_Cash_Flow_Restatements] TO [FHLBDM\G-FHLB-Developers]                                            
GRANT SELECT ON [dbo].[LY_Cash_Flow_Restatements] TO [FHLBDM\G-SQL Public]                                                 
GRANT SELECT ON [dbo].[LY_Cash_Flow_Restatements] TO [Intranet_User]                                                       
GRANT SELECT ON [dbo].[LY_PROJ_OVER_AMORTIZATION_ADVANCES_V] TO [FHLBDM\G-SQL Public]                                      
GRANT SELECT ON [dbo].[LY_PROJ_OVER_AMORTIZATION_INVESTMENTS_V] TO [FHLBDM\G-SQL Public]                                   
GRANT SELECT ON [dbo].[LY_Projected_Over_Amortization_COs_V] TO [FHLBDM\G-SQL Public]                                      
GRANT SELECT ON [dbo].[M2M_Principia] TO [FHLBDM\G-SQL Public]                                                             
GRANT SELECT ON [dbo].[Manual_JE] TO [FHLBDM\G-SQL Public]                                                                 
GRANT SELECT ON [dbo].[Marketing_Profile] TO [FHLBDM\G-SQL Public]                                                         
GRANT SELECT ON [dbo].[Marketing_Profile] TO [Intranet_User]                                                               
GRANT SELECT ON [dbo].[MarketVal] TO [FHLBDM\G-SQL Public]                                                                 
GRANT SELECT ON [dbo].[MarketVal] TO [Intranet_User]                                                                       
GRANT SELECT ON [dbo].[Master] TO [FHLBDM\psvc_StockUpdate]                                                                
GRANT SELECT ON [dbo].[MCV_Comments] TO [FHLBDM\G-SQL Public]                                                              
GRANT SELECT ON [dbo].[MCV_Comments] TO [Intranet_User]                                                                    
GRANT SELECT ON [dbo].[MCV_Detail] TO [FHLBDM\G-SQL Public]                                                                
GRANT SELECT ON [dbo].[MCV_Detail] TO [Intranet_User]                                                                      
GRANT SELECT ON [dbo].[MCV_Detail_FACT_EOD] TO [FHLBDM\G-SQL Public]                                                       
GRANT SELECT ON [dbo].[MCV_Information] TO [FHLBDM\G-SQL Public]                                                           
GRANT SELECT ON [dbo].[MCV_Information] TO [Intranet_User]                                                                 
GRANT SELECT ON [dbo].[MCV_Tier] TO [FHLBDM\G-SQL Public]                                                                  
GRANT SELECT ON [dbo].[MCV_Tier_FACT_EOD] TO [FHLBDM\G-SQL Public]                                                         
GRANT SELECT ON [dbo].[Member List] TO [FHLBDM\G-SQL Public]                                                               
GRANT SELECT ON [dbo].[Membership_App_Tracking_Log] TO [FHLBDM\G-FHLBApps-MATS_MFS]                                        
GRANT SELECT ON [dbo].[Membership_App_Tracking_Log] TO [FHLBDM\G-SQL Public]                                               
GRANT SELECT ON [dbo].[Membership_App_Tracking_Log] TO [Intranet_User]                                                     
GRANT SELECT ON [dbo].[Membership_Comments] TO [Credit]                                                                    
GRANT SELECT ON [dbo].[Membership_Comments] TO [FHLBDM\G-FHLBApps-MATS_MFS]                                                
GRANT SELECT ON [dbo].[Membership_Comments] TO [FHLBDM\G-SQL Public]                                                       
GRANT SELECT ON [dbo].[Membership_Comments] TO [Intranet_User]                                                             
GRANT SELECT ON [dbo].[MPF Trans  Loan] TO [FHLBDM\G-SQL Public]                                                           
GRANT SELECT ON [dbo].[MPF Trans  Loan] TO [Intranet_User]                                                                 
GRANT SELECT ON [dbo].[MPF Trans Delivery] TO [FHLBDM\G-SQL Credit]                                                        
GRANT SELECT ON [dbo].[MPF Trans Delivery] TO [FHLBDM\G-SQL Public]                                                        
GRANT SELECT ON [dbo].[MPF Trans Delivery] TO [Intranet_User]                                                              
GRANT SELECT ON [dbo].[MPF_Delivery_Commitment_DM] TO [FHLBDM\G-SQL Public]                                                
GRANT SELECT ON [dbo].[MPF_Delivery_Commitment_DM] TO [Intranet_User]                                                      
GRANT SELECT ON [dbo].[MPF_Delivery_Commitment_DM_FACT_EOD] TO [FHLBDM\G-SQL Public]                                       
GRANT SELECT ON [dbo].[MPF_Delivery_Commitment_DM_FACT_EOD] TO [Intranet_User]                                             
GRANT SELECT ON [dbo].[MPF_Delivery_Extension_DM] TO [FHLBDM\G-SQL Public]                                                 
GRANT SELECT ON [dbo].[MPF_Delivery_Extension_DM] TO [Intranet_User]                                                       
GRANT SELECT ON [dbo].[MPF_Delivery_Extension_DM_FACT_EOD] TO [FHLBDM\G-SQL Public]                                        
GRANT SELECT ON [dbo].[MPF_Delivery_Extension_DM_FACT_EOD] TO [Intranet_User]                                              
GRANT SELECT ON [dbo].[MPF_DirectPipelineDetail_DM] TO [FHLBDM\G-SQL Public]                                               
GRANT SELECT ON [dbo].[MPF_DirectPipelineDetail_DM] TO [Intranet_User]                                                     
GRANT SELECT ON [dbo].[MPF_DirectPipelineDetail_DM_FACT_EOD] TO [FHLBDM\G-SQL Public]                                      
GRANT SELECT ON [dbo].[MPF_DirectPipelineDetail_DM_FACT_EOD] TO [Intranet_User]                                            
GRANT SELECT ON [dbo].[MPF_EODPricing_DM] TO [FHLBDM\G-SQL Public]                                                         
GRANT SELECT ON [dbo].[MPF_EODPricing_DM] TO [Intranet_User]                                                               
GRANT SELECT ON [dbo].[MPF_EODPricing_DM_FACT_EOD] TO [FHLBDM\G-SQL Public]                                                
GRANT SELECT ON [dbo].[MPF_EODPricing_DM_FACT_EOD] TO [Intranet_User]                                                      
GRANT SELECT ON [dbo].[MPF_Excess_Service_Fee] TO [FHLBDM\G-SQL Public]                                                    
GRANT SELECT ON [dbo].[MPF_LOAN_DM] TO [FHLBDM\G-SQL Public]                                                               
GRANT SELECT ON [dbo].[MPF_LOAN_DM] TO [FHLBDM\scp_user]                                                                   
GRANT SELECT ON [dbo].[MPF_LOAN_DM] TO [FHLBDM\tsvc_scp_user]                                                              
GRANT SELECT ON [dbo].[MPF_LOAN_DM] TO [Intranet_User]                                                                     
GRANT SELECT ON [dbo].[MPF_Loan_DM_2] TO [FHLBDM\G-SQL Public]                                                             
GRANT SELECT ON [dbo].[MPF_Loan_DM_2] TO [Intranet_User]                                                                   
GRANT SELECT ON [dbo].[MPF_Loan_DM_2_FACT_EOD] TO [FHLBDM\G-SQL Public]                                                    
GRANT SELECT ON [dbo].[MPF_Loan_DM_2_FACT_EOD] TO [Intranet_User]                                                          
GRANT SELECT ON [dbo].[MPF_LOAN_DM_FACT_EOD] TO [FHLBDM\G-SQL Public]                                                      
GRANT SELECT ON [dbo].[MPF_LOAN_DM_FACT_EOD] TO [Intranet_User]                                                            
GRANT SELECT ON [dbo].[mpf_loan_dm_pre_modification_detail] TO [FHLBDM\G-SQL Public]                                       
GRANT SELECT ON [dbo].[mpf_loan_dm_pre_modification_detail] TO [Intranet_User]                                             
GRANT SELECT ON [dbo].[MPF_LoanHistory_DM] TO [FHLBDM\G-SQL Public]                                                        
GRANT SELECT ON [dbo].[MPF_LoanHistory_DM] TO [Intranet_User]                                                              
GRANT SELECT ON [dbo].[MPF_MASTER_COMMITMENTS_DM] TO [FHLBDM\tsvc_slx_marketo]                                             
GRANT SELECT ON [dbo].[MPF_NACHA_DM_FACT_EOD] TO [FHLBDM\G-SQL Public]                                                     
GRANT SELECT ON [dbo].[MPF_NonCashLoanServicing_DM] TO [FHLBDM\G-SQL Public]                                               
GRANT SELECT ON [dbo].[MPF_NonCashLoanServicing_DM] TO [Intranet_User]                                                     
GRANT SELECT ON [dbo].[MPF_NonCashLoanServicing_DM_FACT_EOD] TO [FHLBDM\G-SQL Public]                                      
GRANT SELECT ON [dbo].[MPF_NonCashLoanServicing_DM_FACT_EOD] TO [Intranet_User]                                            
GRANT SELECT ON [dbo].[MPF_P_AND_I] TO [FHLBDM\G-SQL Public]                                                               
GRANT SELECT ON [dbo].[MPF_P_AND_I] TO [Intranet_User]                                                                     
GRANT SELECT ON [dbo].[MPF_Pricing_DM] TO [FHLBDM\G-SQL Public]                                                            
GRANT SELECT ON [dbo].[MPF_Pricing_DM] TO [Intranet_User]                                                                  
GRANT SELECT ON [dbo].[MPF_Pricing_DM_FACT_EOD] TO [FHLBDM\G-SQL Public]                                                   
GRANT SELECT ON [dbo].[MPF_Pricing_DM_FACT_EOD] TO [Intranet_User]                                                         
GRANT SELECT ON [dbo].[MPF_ReportCreatedON_Numeric] TO [FHLBDM\G-SQL Public]                                               
GRANT SELECT ON [dbo].[MPF_ReportCreatedON_Numeric] TO [Intranet_User]                                                     
GRANT SELECT ON [dbo].[MPF_Repurchases_DM] TO [FHLBDM\G-SQL Public]                                                        
GRANT SELECT ON [dbo].[MPF_Repurchases_DM] TO [Intranet_User]                                                              
GRANT SELECT ON [dbo].[MPF_SMIMCPremium_DM] TO [FHLBDM\G-SQL Public]                                                       
GRANT SELECT ON [dbo].[MPF_SMIMCPremium_DM] TO [Intranet_User]                                                             
GRANT SELECT ON [dbo].[MPF_SMIMCPremiumAdjustmentDetails_DM] TO [FHLBDM\G-SQL Public]                                      
GRANT SELECT ON [dbo].[MPF_SMIMCPremiumAdjustmentDetails_DM] TO [Intranet_User]                                            
GRANT SELECT ON [dbo].[MPF_Trans_Trades] TO [fhlbdm\devltst]                                                               
GRANT SELECT ON [dbo].[MPF_Trans_Trades] TO [FHLBDM\G-SQL Public]                                                          
GRANT SELECT ON [dbo].[MPF_Trans_Trades] TO [Intranet_User]                                                                
GRANT SELECT ON [dbo].[MPFBAL] TO [FHLBDM\G-SQL Public]                                                                    
GRANT SELECT ON [dbo].[MPFBAL] TO [Intranet_User]                                                                          
GRANT SELECT ON [dbo].[MPFSUMM] TO [FHLBDM\G-SQL Public]                                                                   
GRANT SELECT ON [dbo].[MPFSUMM_Fact_EOD] TO [FHLBDM\G-SQL Public]                                                          
GRANT SELECT ON [dbo].[MPFSUMM_Fact_EOD] TO [Intranet_User]                                                                
GRANT SELECT ON [dbo].[MPP_LOAN_DM] TO [FHLBDM\scp_user]                                                                   
GRANT SELECT ON [dbo].[MPP_LOAN_DM] TO [FHLBDM\tsvc_scp_user]                                                              
GRANT SELECT ON [dbo].[MPP_Loan_DM_Ext] TO [FHLBDM\scp_user]                                                               
GRANT SELECT ON [dbo].[MPP_Loan_DM_Ext] TO [FHLBDM\tsvc_scp_user]                                                          
GRANT SELECT ON [dbo].[MPP_Loan_DM_fact_eod] TO [FHLBDM\scp_user]                                                          
GRANT SELECT ON [dbo].[MPP_Loan_DM_fact_eod] TO [FHLBDM\tsvc_scp_user]                                                     
GRANT SELECT ON [dbo].[OLOC] TO [FHLBDM\G-SQL Public]                                                                      
GRANT SELECT ON [dbo].[OLOC_ADV_TOT_V] TO [FHLBDM\G-SQL Public]                                                            
GRANT SELECT ON [dbo].[OLOC_Balancing] TO [FHLBDM\G-SQL Public]                                                            
GRANT SELECT ON [dbo].[OpRiskExceptions] TO [FHLBDM\G-SQL OpRiskExceptions RO]                                             
GRANT SELECT ON [dbo].[OpRiskExceptions] TO [FHLBDM\G-SQL OpRiskExceptions]                                                
GRANT SELECT ON [dbo].[Other_Accounting_Information] TO [FHLBDM\G-SQL Public]                                              
GRANT SELECT ON [dbo].[Other_Accounting_Information] TO [Intranet_User]                                                    
GRANT SELECT ON [dbo].[p_and_i_special] TO [FHLBDM\G-SQL Public]                                                           
GRANT SELECT ON [dbo].[PFI Information] TO [G-SQL PFI Full]                                                                
GRANT SELECT ON [dbo].[PFI Information] TO [G-SQL PFI RO]                                                                  
GRANT SELECT ON [dbo].[PFI_External_Info] TO [fhlbdm\G-Fhlbapps-dwh_mpf]                                                   
GRANT SELECT ON [dbo].[PFI_External_Info] TO [FHLBDM\G-FHLB-Developers]                                                    
GRANT SELECT ON [dbo].[PFI_External_Info] TO [FHLBDM\G-SQL Public]                                                         
GRANT SELECT ON [dbo].[Pledges] TO [FHLBDM\G-SQL Public]                                                                   
GRANT SELECT ON [dbo].[Pledges] TO [Intranet_User]                                                                         
GRANT SELECT ON [dbo].[Prepayment Fees] TO [FHLBDM\G-SQL Public]                                                           
GRANT SELECT ON [dbo].[Prepayment Fees] TO [Intranet_User]                                                                 
GRANT SELECT ON [dbo].[Principal_Payments] TO [FHLBDM\G-SQL Public]                                                        
GRANT SELECT ON [dbo].[Principal_Payments] TO [Intranet_User]                                                              
GRANT SELECT ON [dbo].[Principal_Payments_Ref_V] TO [FHLBDM\G-SQL Public]                                                  
GRANT SELECT ON [dbo].[Principal_Schedule] TO [FHLBDM\G-SQL Public]                                                        
GRANT SELECT ON [dbo].[Principal_Schedule] TO [Intranet_User]                                                              
GRANT SELECT ON [dbo].[Principal_Schedule_Ref_V] TO [FHLBDM\G-SQL Public]                                                  
GRANT SELECT ON [dbo].[Principia_Derivative_Termination_FACT_EOM] TO [FHLBDM\G-SQL Public]                                 
GRANT SELECT ON [dbo].[Principia_Expiration_Rpt] TO [FHLBDM\G-FHLB-Developers]                                             
GRANT SELECT ON [dbo].[Principia_Expiration_Rpt] TO [FHLBDM\G-SQL Public]                                                  
GRANT SELECT ON [dbo].[Principia_Expiration_Rpt] TO [Intranet_User]                                                        
GRANT SELECT ON [dbo].[Principia_KnockIn_KnockOut_Rpt] TO [FHLBDM\G-FHLB-Developers]                                       
GRANT SELECT ON [dbo].[Principia_KnockIn_KnockOut_Rpt] TO [FHLBDM\G-SQL Public]                                            
GRANT SELECT ON [dbo].[Principia_KnockIn_KnockOut_Rpt] TO [Intranet_User]                                                  
GRANT SELECT ON [dbo].[Principia_Maturity_Rpt] TO [FHLBDM\G-FHLB-Developers]                                               
GRANT SELECT ON [dbo].[Principia_Maturity_Rpt] TO [FHLBDM\G-SQL Public]                                                    
GRANT SELECT ON [dbo].[Principia_Maturity_Rpt] TO [Intranet_User]                                                          
GRANT SELECT ON [dbo].[Principia_Trial_Balance] TO [FHLBDM\G-SQL Public]                                                   
GRANT SELECT ON [dbo].[Principia_Trial_Balance] TO [Intranet_User]                                                         
GRANT SELECT ON [dbo].[Principia_Trial_Balance_EOM] TO [FHLBDM\G-SQL Public]                                               
GRANT SELECT ON [dbo].[Principia_Trial_Balance_EOM] TO [Intranet_User]                                                     
GRANT SELECT ON [dbo].[Principia_Trial_Balance_Fact_EOD] TO [FHLBDM\G-SQL Public]                                          
GRANT SELECT ON [dbo].[Principia_Trial_Balance_FASDM] TO [FHLBDM\G-SQL Public]                                             
GRANT SELECT ON [dbo].[Principia_Trial_Balance_FASDM] TO [Intranet_User]                                                   
GRANT SELECT ON [dbo].[Resale] TO [FHLBDM\G-SQL Public]                                                                    
GRANT SELECT ON [dbo].[Resale] TO [Intranet_User]                                                                          
GRANT SELECT ON [dbo].[Safekeeping] TO [FHLBDM\G-SQL Public]                                                               
GRANT SELECT ON [dbo].[Safekeeping] TO [Intranet_User]                                                                     
GRANT SELECT ON [dbo].[Safekeeping_Authorized_Users] TO [FHLBDM\G-SQL Public]                                              
GRANT SELECT ON [dbo].[Safekeeping_Authorized_Users] TO [Intranet_User]                                                    
GRANT SELECT ON [dbo].[Safekeeping_Names_and_Add] TO [FHLBDM\G-SQL Public]                                                 
GRANT SELECT ON [dbo].[Safekeeping_Names_and_Add] TO [Intranet_User]                                                       
GRANT SELECT ON [dbo].[Savings] TO [FHLBDM\G-SQL Public]                                                                   
GRANT SELECT ON [dbo].[Savings] TO [Intranet_User]                                                                         
GRANT SELECT ON [dbo].[Savings_Fact_EOD] TO [FHLBDM\G-SQL Public]                                                          
GRANT SELECT ON [dbo].[Savings_V] TO [FHLBDM\G-SQL Public]                                                                 
GRANT SELECT ON [dbo].[Sec_Pymts_V] TO [FHLBDM\G-SQL Public]                                                               
GRANT SELECT ON [dbo].[Security_Payments] TO [FHLBDM\G-SQL Public]                                                         
GRANT SELECT ON [dbo].[Security_Payments] TO [Intranet_User]                                                               
GRANT SELECT ON [dbo].[Security_Sales] TO [FHLBDM\G-FHLB-Developers]                                                       
GRANT SELECT ON [dbo].[Security_Sales] TO [FHLBDM\Global- Accounting]                                                      
GRANT SELECT ON [dbo].[Security_Sales] TO [FHLBDM\G-SQL Public]                                                            
GRANT SELECT ON [dbo].[Security_Sales] TO [G-FHLBAPPS-DWH_Risk]                                                            
GRANT SELECT ON [dbo].[Security_Sales] TO [Intranet_User]                                                                  
GRANT SELECT ON [dbo].[SL_CorrBank] TO [FHLBDM\G-FHLB-Developers]                                                          
GRANT SELECT ON [dbo].[SL_CorrBank] TO [FHLBDM\G-SQL Public]                                                               
GRANT SELECT ON [dbo].[STKTRN] TO [FHLBDM\G-SQL Public]                                                                    
GRANT SELECT ON [dbo].[STKTRN] TO [Intranet_User]                                                                          
GRANT SELECT ON [dbo].[STKTRN_V] TO [FHLBDM\G-SQL Public]                                                                  
GRANT SELECT ON [dbo].[Stock_Assets_V] TO [FHLBDM\G-SQL Public]                                                            
GRANT SELECT ON [dbo].[Stock_Owned] TO [FHLBDM\G-SQL Public]                                                               
GRANT SELECT ON [dbo].[Stock_Owned] TO [Intranet_User]                                                                     
GRANT SELECT ON [dbo].[Stock_Owned_Total] TO [FHLBDM\G-SQL Public]                                                         
GRANT SELECT ON [dbo].[Stock_Owned_Total] TO [Intranet_User]                                                               
GRANT SELECT ON [dbo].[Stock_Total] TO [FHLBDM\G-SQL Public]                                                               
GRANT SELECT ON [dbo].[Stock_Total] TO [Intranet_User]                                                                     
GRANT SELECT ON [dbo].[SWAP] TO [FHLBDM\G-SQL Public]                                                                      
GRANT SELECT ON [dbo].[SWAP] TO [Intranet_User]                                                                            
GRANT SELECT ON [dbo].[SWAP_EXP] TO [FHLBDM\G-SQL Public]                                                                  
GRANT SELECT ON [dbo].[SWAP_EXP_COLLATERAL] TO [FHLBDM\G-SQL Public]                                                       
GRANT SELECT ON [dbo].[SWAP_EXP_CUSHION] TO [FHLBDM\G-SQL Credit]                                                          
GRANT SELECT ON [dbo].[SWAP_EXP_Fact_Daily] TO [FHLBDM\G-SQL Public]                                                       
GRANT SELECT ON [dbo].[SWAP_EXP_Fact_Daily] TO [Intranet_User]                                                             
GRANT SELECT ON [dbo].[SWAP_EXP_RAW] TO [FHLBDM\G-SQL Public]                                                              
GRANT SELECT ON [dbo].[SWAP_EXP_TRANS] TO [FHLBDM\G-SQL Public]                                                            
GRANT SELECT ON [dbo].[SWAP_Fact_EOD] TO [FHLBDM\G-SQL Public]                                                             
GRANT SELECT ON [dbo].[TBA_Fact_EOD] TO [FHLBDM\G-SQL Public]                                                              
GRANT SELECT ON [dbo].[TBA_Security_Sales] TO [FHLBDM\G-SQL Public]                                                        
GRANT SELECT ON [dbo].[TBA_Security_Sales_Close] TO [FHLBDM\G-SQL Public]                                                  
GRANT SELECT ON [dbo].[TBA_Trades] TO [FHLBDM\G-SQL Public]                                                                
GRANT SELECT ON [dbo].[TBA_Trades_Fact_EOD] TO [FHLBDM\G-SQL Public]                                                       
GRANT SELECT ON [dbo].[Tbl_MPF_Member_Information] TO [FHLBDM\G-SQL Public]                                                
GRANT SELECT ON [dbo].[Tbl_MPF_Member_Information] TO [Intranet_User]                                                      
GRANT SELECT ON [dbo].[Total_Advances] TO [FHLBDM\G-SQL Public]                                                            
GRANT SELECT ON [dbo].[Total_Advances] TO [Intranet_User]                                                                  
GRANT SELECT ON [dbo].[Unsecured_Exposure] TO [FHLBDM\G-SQL Public]                                                        
GRANT SELECT ON [dbo].[Unsecured_Exposure] TO [Intranet_User]                                                              
GRANT SELECT ON [dbo].[V_CIA_Advance_Limits_Transaction_Details] TO [FHLBDM\G-SQL Public]                                  
GRANT SELECT ON [dbo].[V_CIA_Advance_Limits_Transaction_Details] TO [Intranet_User]                                        
GRANT SELECT ON [dbo].[v_CIA_Advance_Limits_Transactions] TO [FHLBDM\G-SQL Public]                                         
GRANT SELECT ON [dbo].[v_CIA_Advance_Limits_Transactions] TO [Intranet_User]                                               
GRANT SELECT ON [dbo].[v_MPF_Loan_DM_Balances] TO [FHLBDM\G-SQL Public]                                                    
GRANT SELECT ON [dbo].[v_MPF_Loan_DM_Balances] TO [Intranet_User]                                                          
GRANT SELECT ON [dbo].[V_MPF_NACHA_DM_FACT_EOD] TO [FHLBDM\G-SQL Public]                                                   
GRANT SELECT ON [dbo].[v_MPFBAL_Balances] TO [FHLBDM\G-SQL Public]                                                         
GRANT SELECT ON [dbo].[v_MPFBAL_Balances] TO [Intranet_User]                                                               
GRANT SELECT ON [dbo].[v_MPFFund_Balancing] TO [FHLBDM\G-SQL Public]                                                       
GRANT SELECT ON [dbo].[v_MPFFund_Balancing] TO [Intranet_User]                                                             
GRANT SELECT ON [dbo].[v_MPFPaymt] TO [FHLBDM\G-SQL Public]                                                                
GRANT SELECT ON [dbo].[v_MPFPaymt] TO [Intranet_User]                                                                      
GRANT SELECT ON [dbo].[v_MPFPaymt_Rej_NoMbrNumb] TO [FHLBDM\G-SQL Public]                                                  
GRANT SELECT ON [dbo].[v_MPFPaymt_Rej_NoMbrNumb] TO [Intranet_User]                                                        
GRANT SELECT ON [dbo].[v_MPFPaymt_Rej_NotDSM_PrinNotZero] TO [FHLBDM\G-SQL Public]                                         
GRANT SELECT ON [dbo].[v_MPFPaymt_Rej_NotDSM_PrinNotZero] TO [Intranet_User]                                               
GRANT SELECT ON [dbo].[v_MPFPaymt_Rej_PrinZero] TO [FHLBDM\G-SQL Public]                                                   
GRANT SELECT ON [dbo].[v_MPFPaymt_Rej_PrinZero] TO [Intranet_User]                                                         
GRANT SELECT ON [dbo].[v_P_and_I_Comparison] TO [FHLBDM\G-SQL Public]                                                      
GRANT SELECT ON [dbo].[v_P_and_I_Comparison] TO [Intranet_User]                                                            
GRANT SELECT ON [dbo].[V_SL_CIABalance] TO [FHLBDM\G-SQL Public]                                                           
GRANT SELECT ON [dbo].[V_SL_CIABalance] TO [Intranet_User]                                                                 
GRANT SELECT ON [dbo].[V_SPL_MPF_Gov_Repurchased_Loans_Delinquent] TO [FHLBDM\G-SQL Public]                                
GRANT SELECT ON [dbo].[V_SPL_MPF_Gov_Repurchased_Loans_Delinquent] TO [Intranet_User]                                      
GRANT SELECT ON [dbo].[V_SPL_MPF_Gov_Repurchased_Loans_Loan_DM_and_i_file] TO [FHLBDM\G-SQL Public]                        
GRANT SELECT ON [dbo].[V_SPL_MPF_Gov_Repurchased_Loans_Loan_DM_and_i_file_2] TO [FHLBDM\G-SQL Public]                      
GRANT SELECT ON [dbo].[V_SPL_MPF_P_and_I_Max_Date] TO [FHLBDM\G-SQL Public]                                                
GRANT SELECT ON [dbo].[V_SPL_MPF_P_and_I_MAX_Date_2] TO [FHLBDM\G-SQL Public]                                              
GRANT SELECT ON [dbo].[V_SPL_MPF_P_and_I_Min_Date] TO [FHLBDM\G-SQL Public]                                                
GRANT SELECT ON [dbo].[V_SPL_MPF_P_and_I_Min_PrinBal] TO [FHLBDM\G-SQL Public]                                             
GRANT SELECT ON [dbo].[v_Unsecured_Exposure] TO [FHLBDM\G-SQL Public]                                                      
GRANT SELECT ON [dbo].[vw_Actively_Linked_Pairs_Schedule_Hedged_Discrepancies_Bonds_EOD_BASE] TO [FHLBDM\G-SQL Public]     
GRANT SELECT ON [dbo].[vw_Actively_Linked_Pairs_Schedule_Hedged_Discrepancies_NotBonds_EOD_BASE] TO [FHLBDM\G-SQL Public]  
GRANT SELECT ON [dbo].[vw_Hedge_Call_Sched_Diffs_Bonds_EOD] TO [FHLBDM\G-SQL Public]                                       
GRANT SELECT ON [dbo].[vw_Hedge_Call_Sched_Diffs_NoBonds_EOD] TO [FHLBDM\G-SQL Public]                                     
GRANT SELECT ON [dbo].[xlsBloomberg] TO [FHLBDM\G-SQL Public]                                                              
GRANT SELECT ON [dbo].[xlsBloomberg] TO [Intranet_User]                                                                    
GRANT SELECT ON [dbo].[xlsBloombergAM] TO [FHLBDM\G-SQL Public]                                                            
GRANT SELECT ON [dbo].[xlsBloombergAM] TO [Intranet_User]                                                                  
GRANT SELECT ON [MPF].[DirectPipelineDetail] TO [FHLBDM\G-SQL MPG]                                                         
GRANT SELECT ON [MPF].[Loan] TO [FHLBDM\scp_user]                                                                          
GRANT SELECT ON [MPF].[Loan] TO [FHLBDM\tsvc_scp_user]                                                                     
GRANT UPDATE ON [dbo].[app_EventLog] TO [FHLBDM\G-SQL Credit]                                                              
GRANT UPDATE ON [dbo].[CIARestrictions] TO [G-SQL-CIARestrictions]                                                         
GRANT UPDATE ON [dbo].[DCPriceAdjust] TO [G-FHLBAPPS-DWH_Risk]                                                             
GRANT UPDATE ON [dbo].[DCSpreads] TO [G-FHLBAPPS-DWH_Risk]                                                                 
GRANT UPDATE ON [dbo].[DSS_Call_and_Amort_Summary] TO [FHLBDM\G-FHLBAPPS-CallBonds Admin]                                  
GRANT UPDATE ON [dbo].[DSS_IAN_Redemption_Notice] TO [FHLBDM\G-FHLBAPPS-CallBonds Admin]                                   
GRANT UPDATE ON [dbo].[dtproperties] TO [public]                                                                           
GRANT UPDATE ON [dbo].[Membership_App_Tracking_Log] TO [FHLBDM\G-FHLBApps-MATS_MFS]                                        
GRANT UPDATE ON [dbo].[Membership_Comments] TO [Credit]                                                                    
GRANT UPDATE ON [dbo].[Membership_Comments] TO [FHLBDM\G-FHLBApps-MATS_MFS]                                                
GRANT UPDATE ON [dbo].[OpRiskExceptions] TO [FHLBDM\G-SQL OpRiskExceptions]                                                
GRANT UPDATE ON [dbo].[PFI Information] TO [G-SQL PFI Full]                                                                
GRANT UPDATE ON [dbo].[PFI_External_Info] TO [fhlbdm\G-Fhlbapps-dwh_mpf]                                                   
GRANT UPDATE ON [dbo].[SWAP_EXP_CUSHION] TO [FHLBDM\G-SQL Credit]                                                          
GRANT VIEW DEFINITION ON [dbo].[usp_FRB_Adv_Maturing_Renewed_Orig_Term_excl100B_total] TO [FHLBDM\G-SQL Public]            
GRANT VIEW DEFINITION ON [dbo].[usp_FRB_Adv_Maturing_Renewed_Orig_Term_Incl_100B_total] TO [FHLBDM\G-SQL Public]           
GRANT VIEW DEFINITION ON [MPF].[DirectPipelineDetail] TO [FHLBDM\G-SQL MPG]                                                
-- [-- TYPE LEVEL PERMISSIONS --] --                                                                                       
GRANT REFERENCES ON [dbo].[BOOLEAN] TO [public]                                                                            
                                                                                                                           
-- [--DB LEVEL PERMISSIONS --] --                                                                                          
GRANT CONNECT TO [BUILTIN\Administrators]                                                                                  
GRANT CONNECT TO [FHLBDM\ETLUser]                                                                                          
GRANT CONNECT TO [FHLBDM\G-FHLBAPPS-CallBonds Admin]                                                                       
GRANT CONNECT TO [FHLBDM\G-FHLBAPPS-CallBonds]                                                                             
GRANT CONNECT TO [fhlbdm\G-Fhlbapps-dwh_mpf]                                                                               
GRANT CONNECT TO [FHLBDM\G-FHLBApps-MATS_MFS]                                                                              
GRANT CONNECT TO [FHLBDM\G-FHLBAPPS-QRM_Extract]                                                                           
GRANT CONNECT TO [FHLBDM\G-FHLBAPPS-QRM_Reports RO]                                                                        
GRANT CONNECT TO [FHLBDM\G-FHLBAPPS-QRM_Reports]                                                                           
GRANT CONNECT TO [FHLBDM\G-SQL AccountingReports Admin]                                                                    
GRANT CONNECT TO [FHLBDM\G-SQL Admin]                                                                                      
GRANT CONNECT TO [FHLBDM\G-SQL Credit]                                                                                     
GRANT CONNECT TO [FHLBDM\G-SQL MPF-BGS]                                                                                    
GRANT CONNECT TO [FHLBDM\G-SQL MPG]                                                                                        
GRANT CONNECT TO [FHLBDM\G-SQL Operations]                                                                                 
GRANT CONNECT TO [FHLBDM\G-SQL OpRiskExceptions RO]                                                                        
GRANT CONNECT TO [FHLBDM\G-SQL OpRiskExceptions]                                                                           
GRANT CONNECT TO [FHLBDM\G-SQL Public]                                                                                     
GRANT CONNECT TO [FHLBDM\G-SQL QlikSense RO]                                                                               
GRANT CONNECT TO [FHLBDM\mlevere]                                                                                          
GRANT CONNECT TO [FHLBDM\psvc_StockUpdate]                                                                                 
GRANT CONNECT TO [FHLBDM\scp_user]                                                                                         
GRANT CONNECT TO [FHLBDM\smartinez]                                                                                        
GRANT CONNECT TO [FHLBDM\svc_HubDWHLinkRO]                                                                                 
GRANT CONNECT TO [FHLBDM\tsvc_scp_user]                                                                                    
GRANT CONNECT TO [FHLBDM\tsvc_slx_marketo]                                                                                 
GRANT CONNECT TO [FHLBDM\UDAHelper]                                                                                        
GRANT CONNECT TO [G-FHLBAPPS-DWH_Risk]                                                                                     
GRANT CONNECT TO [G-SQL PFI Full]                                                                                          
GRANT CONNECT TO [G-SQL PFI RO]                                                                                            
GRANT CONNECT TO [G-SQL-CIARestrictions RO]                                                                                
GRANT CONNECT TO [G-SQL-CIARestrictions]                                                                                   
GRANT CONNECT TO [Intranet_User]                                                                                           
GRANT CONNECT TO [MKTUBJH]                                                                                                 
GRANT CONNECT TO [psvc_HUBFHLBROLink]                                                                                      
GRANT CONNECT TO [QRM_ETL]                                                                                                 
GRANT SHOWPLAN TO [FHLBDM\G-FHLB-Developers]                                                                               
GRANT VIEW DEFINITION TO [FHLBDM\G-FHLB-Developers]                                                                        
                                                                                                                           
-- [--DB LEVEL SCHEMA PERMISSIONS --] --                                                                                   


