
--stmt                                                                                                                     
------                                                                                                                     
-- [-- DB CONTEXT --] --                                                                                                   
USE [eom]                                                                                                                  
                                                                                                                           
-- [-- DB USERS --] --                                                                                                     
IF NOT EXISTS (SELECT [name] FROM sys.database_principals WHERE [name] =  'dbo') BEGIN CREATE USER  [dbo] FOR LOGIN [sa] WITH DEFAULT_SCHEMA = [dbo] END;  
IF NOT EXISTS (SELECT [name] FROM sys.database_principals WHERE [name] =  'fhlbdm\devltst') BEGIN CREATE USER  [fhlbdm\devltst] FOR LOGIN [fhlbdm\devltst] WITH DEFAULT_SCHEMA = [dbo] END;  
IF NOT EXISTS (SELECT [name] FROM sys.database_principals WHERE [name] =  'FHLBDM\G-Accounting Contractors') BEGIN CREATE USER  [FHLBDM\G-Accounting Contractors] FOR LOGIN [FHLBDM\G-Accounting Contractors] WITH DEFAULT_SCHEMA = [dbo] END; 
IF NOT EXISTS (SELECT [name] FROM sys.database_principals WHERE [name] =  'FHLBDM\G-FHLB-Accounting Users') BEGIN CREATE USER  [FHLBDM\G-FHLB-Accounting Users] FOR LOGIN [FHLBDM\G-FHLB-Accounting Users] WITH DEFAULT_SCHEMA = [dbo] END; 
IF NOT EXISTS (SELECT [name] FROM sys.database_principals WHERE [name] =  'FHLBDM\G-FHLBAPPS-CallBonds Admin') BEGIN CREATE USER  [FHLBDM\G-FHLBAPPS-CallBonds Admin] FOR LOGIN [FHLBDM\G-FHLBAPPS-CallBonds Admin] WITH DEFAULT_SCHEMA = [dbo] END; 
IF NOT EXISTS (SELECT [name] FROM sys.database_principals WHERE [name] =  'FHLBDM\G-FHLBAPPS-CallBonds') BEGIN CREATE USER  [FHLBDM\G-FHLBAPPS-CallBonds] FOR LOGIN [FHLBDM\G-FHLBAPPS-CallBonds] WITH DEFAULT_SCHEMA = [dbo] END; 
IF NOT EXISTS (SELECT [name] FROM sys.database_principals WHERE [name] =  'FHLBDM\G-FHLBApps-MATS_MFS') BEGIN CREATE USER  [FHLBDM\G-FHLBApps-MATS_MFS] FOR LOGIN [FHLBDM\G-FHLBApps-MATS_MFS] WITH DEFAULT_SCHEMA = [dbo] END; 
IF NOT EXISTS (SELECT [name] FROM sys.database_principals WHERE [name] =  'FHLBDM\G-FHLBAPPS-QRM_Reports RO') BEGIN CREATE USER  [FHLBDM\G-FHLBAPPS-QRM_Reports RO] FOR LOGIN [FHLBDM\G-FHLBAPPS-QRM_Reports RO] WITH DEFAULT_SCHEMA = [dbo] END; 
IF NOT EXISTS (SELECT [name] FROM sys.database_principals WHERE [name] =  'FHLBDM\G-FHLBAPPS-QRM_Reports') BEGIN CREATE USER  [FHLBDM\G-FHLBAPPS-QRM_Reports] FOR LOGIN [FHLBDM\G-FHLBAPPS-QRM_Reports] WITH DEFAULT_SCHEMA = [dbo] END; 
IF NOT EXISTS (SELECT [name] FROM sys.database_principals WHERE [name] =  'FHLBDM\G-FHLB-Developers') BEGIN CREATE USER  [FHLBDM\G-FHLB-Developers] FOR LOGIN [FHLBDM\G-FHLB-Developers] WITH DEFAULT_SCHEMA = [dbo] END; 
IF NOT EXISTS (SELECT [name] FROM sys.database_principals WHERE [name] =  'FHLBDM\G-SQL Credit') BEGIN CREATE USER  [FHLBDM\G-SQL Credit] FOR LOGIN [FHLBDM\G-SQL Credit] WITH DEFAULT_SCHEMA = [dbo] END; 
IF NOT EXISTS (SELECT [name] FROM sys.database_principals WHERE [name] =  'FHLBDM\G-SQL MPF-BGS') BEGIN CREATE USER  [FHLBDM\G-SQL MPF-BGS] FOR LOGIN [FHLBDM\G-SQL MPF-BGS] WITH DEFAULT_SCHEMA = [dbo] END; 
IF NOT EXISTS (SELECT [name] FROM sys.database_principals WHERE [name] =  'FHLBDM\G-SQL MPF-REO') BEGIN CREATE USER  [FHLBDM\G-SQL MPF-REO] FOR LOGIN [FHLBDM\G-SQL MPF-REO] WITH DEFAULT_SCHEMA = [dbo] END; 
IF NOT EXISTS (SELECT [name] FROM sys.database_principals WHERE [name] =  'FHLBDM\G-SQL Operations') BEGIN CREATE USER  [FHLBDM\G-SQL Operations] FOR LOGIN [FHLBDM\G-SQL Operations] WITH DEFAULT_SCHEMA = [dbo] END; 
IF NOT EXISTS (SELECT [name] FROM sys.database_principals WHERE [name] =  'FHLBDM\G-SQL Public') BEGIN CREATE USER  [FHLBDM\G-SQL Public] FOR LOGIN [FHLBDM\G-SQL Public] WITH DEFAULT_SCHEMA = [dbo] END; 
IF NOT EXISTS (SELECT [name] FROM sys.database_principals WHERE [name] =  'FHLBDM\G-SQL QlikSense RO') BEGIN CREATE USER  [FHLBDM\G-SQL QlikSense RO] FOR LOGIN [FHLBDM\G-SQL QlikSense RO] WITH DEFAULT_SCHEMA = [dbo] END; 
IF NOT EXISTS (SELECT [name] FROM sys.database_principals WHERE [name] =  'FHLBDM\IT Contractors') BEGIN CREATE USER  [FHLBDM\IT Contractors] FOR LOGIN [FHLBDM\IT Contractors] WITH DEFAULT_SCHEMA = [dbo] END; 
IF NOT EXISTS (SELECT [name] FROM sys.database_principals WHERE [name] =  'FHLBDM\IT-QA-Admin-Testers') BEGIN CREATE USER  [FHLBDM\IT-QA-Admin-Testers] FOR LOGIN [FHLBDM\IT-QA-Admin-Testers] WITH DEFAULT_SCHEMA = [dbo] END; 
IF NOT EXISTS (SELECT [name] FROM sys.database_principals WHERE [name] =  'FHLBDM\mlevere') BEGIN CREATE USER  [FHLBDM\mlevere] FOR LOGIN [FHLBDM\mlevere] WITH DEFAULT_SCHEMA = [dbo] END; 
IF NOT EXISTS (SELECT [name] FROM sys.database_principals WHERE [name] =  'FHLBDM\smartinez') BEGIN CREATE USER  [FHLBDM\smartinez] FOR LOGIN [FHLBDM\smartinez] WITH DEFAULT_SCHEMA = [dbo] END; 
IF NOT EXISTS (SELECT [name] FROM sys.database_principals WHERE [name] =  'FHLBDM\UDAHelper') BEGIN CREATE USER  [FHLBDM\UDAHelper] FOR LOGIN [FHLBDM\UDAHelper] WITH DEFAULT_SCHEMA = [dbo] END; 
IF NOT EXISTS (SELECT [name] FROM sys.database_principals WHERE [name] =  'Intranet_User') BEGIN CREATE USER  [Intranet_User] FOR LOGIN [Intranet_User] WITH DEFAULT_SCHEMA = [dbo] END; 
IF NOT EXISTS (SELECT [name] FROM sys.database_principals WHERE [name] =  'QRM_ETL') BEGIN CREATE USER  [QRM_ETL] FOR LOGIN [QRM_ETL] WITH DEFAULT_SCHEMA = [dbo] END; 
IF NOT EXISTS (SELECT [name] FROM sys.database_principals WHERE [name] =  'tsvc_HUBFHLBROLink') BEGIN CREATE USER  [tsvc_HUBFHLBROLink] FOR LOGIN [tsvc_HUBFHLBROLink] WITH DEFAULT_SCHEMA = [dbo] END; 
-- [-- ORPHANED USERS --] --                                                                                               
ALTER USER [FHLBDM\Global- Accounting] WITH LOGIN = [FHLBDM\Global- Accounting]                                            
-- [-- DB ROLES --] --                                                                                                     
EXEC sp_addrolemember @rolename = 'db_datareader', @membername = 'FHLBDM\G-FHLBAPPS-QRM_Reports'                           
EXEC sp_addrolemember @rolename = 'db_datareader', @membername = 'FHLBDM\G-FHLBAPPS-QRM_Reports RO'                        
EXEC sp_addrolemember @rolename = 'db_datareader', @membername = 'FHLBDM\G-FHLB-Developers'                                
EXEC sp_addrolemember @rolename = 'db_datareader', @membername = 'FHLBDM\G-SQL QlikSense RO'                               
EXEC sp_addrolemember @rolename = 'db_datareader', @membername = 'FHLBDM\UDAHelper'                                        
EXEC sp_addrolemember @rolename = 'db_datareader', @membername = 'Intranet_User'                                           
EXEC sp_addrolemember @rolename = 'db_datareader', @membername = 'QRM_ETL'                                                 
EXEC sp_addrolemember @rolename = 'db_owner', @membername = 'FHLBDM\IT-QA-Admin-Testers'                                   
EXEC sp_addrolemember @rolename = 'db_owner', @membername = 'FHLBDM\mlevere'                                               
EXEC sp_addrolemember @rolename = 'db_owner', @membername = 'FHLBDM\smartinez'                                             
                                                                                                                           
-- [-- OBJECT LEVEL PERMISSIONS --] --                                                                                     
GRANT DELETE ON [dbo].[DSS_Call_and_Amort_Summary] TO [FHLBDM\G-FHLBAPPS-CallBonds Admin]                                  
GRANT DELETE ON [dbo].[DSS_IAN_Redemption_Notice] TO [FHLBDM\G-FHLBAPPS-CallBonds Admin]                                   
GRANT DELETE ON [dbo].[dtproperties] TO [public]                                                                           
GRANT DELETE ON [dbo].[Membership_Comments] TO [FHLBDM\G-FHLBApps-MATS_MFS]                                                
GRANT DELETE ON [dbo].[MPF_NP_Loan] TO [FHLBDM\G-SQL MPF-REO]                                                              
GRANT DELETE ON [dbo].[MPF_REO_Loan] TO [FHLBDM\G-SQL MPF-REO]                                                             
GRANT DELETE ON [dbo].[MPP_NP_Loan] TO [FHLBDM\G-SQL MPF-REO]                                                              
GRANT DELETE ON [dbo].[MPP_REO_Loan] TO [FHLBDM\G-SQL MPF-REO]                                                             
GRANT EXECUTE ON [dbo].[dt_addtosourcecontrol] TO [public]                                                                 
GRANT EXECUTE ON [dbo].[dt_addtosourcecontrol_u] TO [public]                                                               
GRANT EXECUTE ON [dbo].[dt_adduserobject] TO [public]                                                                      
GRANT EXECUTE ON [dbo].[dt_adduserobject_vcs] TO [public]                                                                  
GRANT EXECUTE ON [dbo].[dt_checkinobject] TO [public]                                                                      
GRANT EXECUTE ON [dbo].[dt_checkinobject_u] TO [public]                                                                    
GRANT EXECUTE ON [dbo].[dt_checkoutobject] TO [public]                                                                     
GRANT EXECUTE ON [dbo].[dt_checkoutobject_u] TO [public]                                                                   
GRANT EXECUTE ON [dbo].[dt_displayoaerror] TO [public]                                                                     
GRANT EXECUTE ON [dbo].[dt_displayoaerror_u] TO [public]                                                                   
GRANT EXECUTE ON [dbo].[dt_droppropertiesbyid] TO [public]                                                                 
GRANT EXECUTE ON [dbo].[dt_dropuserobjectbyid] TO [public]                                                                 
GRANT EXECUTE ON [dbo].[dt_generateansiname] TO [public]                                                                   
GRANT EXECUTE ON [dbo].[dt_getobjwithprop] TO [public]                                                                     
GRANT EXECUTE ON [dbo].[dt_getobjwithprop_u] TO [public]                                                                   
GRANT EXECUTE ON [dbo].[dt_getpropertiesbyid] TO [public]                                                                  
GRANT EXECUTE ON [dbo].[dt_getpropertiesbyid_u] TO [public]                                                                
GRANT EXECUTE ON [dbo].[dt_getpropertiesbyid_vcs] TO [public]                                                              
GRANT EXECUTE ON [dbo].[dt_getpropertiesbyid_vcs_u] TO [public]                                                            
GRANT EXECUTE ON [dbo].[dt_isundersourcecontrol] TO [public]                                                               
GRANT EXECUTE ON [dbo].[dt_isundersourcecontrol_u] TO [public]                                                             
GRANT EXECUTE ON [dbo].[dt_removefromsourcecontrol] TO [public]                                                            
GRANT EXECUTE ON [dbo].[dt_setpropertybyid] TO [public]                                                                    
GRANT EXECUTE ON [dbo].[dt_setpropertybyid_u] TO [public]                                                                  
GRANT EXECUTE ON [dbo].[dt_validateloginparams] TO [public]                                                                
GRANT EXECUTE ON [dbo].[dt_validateloginparams_u] TO [public]                                                              
GRANT EXECUTE ON [dbo].[dt_vcsenabled] TO [public]                                                                         
GRANT EXECUTE ON [dbo].[dt_verstamp006] TO [public]                                                                        
GRANT EXECUTE ON [dbo].[dt_verstamp007] TO [public]                                                                        
GRANT EXECUTE ON [dbo].[dt_whocheckedout] TO [public]                                                                      
GRANT EXECUTE ON [dbo].[dt_whocheckedout_u] TO [public]                                                                    
GRANT EXECUTE ON [dbo].[EOM Web Page] TO [FHLBDM\G-SQL Public]                                                             
GRANT EXECUTE ON [dbo].[RecordCount] TO [FHLBDM\G-SQL Public]                                                              
GRANT EXECUTE ON [dbo].[sp_current_date_eom] TO [fhlbdm\devltst]                                                           
GRANT EXECUTE ON [dbo].[sp_current_date_eom] TO [FHLBDM\G-FHLBAPPS-QRM_Reports RO]                                         
GRANT EXECUTE ON [dbo].[sp_current_date_eom] TO [FHLBDM\G-FHLBAPPS-QRM_Reports]                                            
GRANT EXECUTE ON [dbo].[sp_current_date_eom] TO [FHLBDM\G-SQL Public]                                                      
GRANT EXECUTE ON [dbo].[usp_QRM_TO_GL_BALANCING_EOM] TO [FHLBDM\G-SQL Public]                                              
GRANT EXECUTE ON [dbo].[usp_qryAll_Loan_Totals_Final2] TO [FHLBDM\G-SQL Public]                                            
GRANT EXECUTE ON [dbo].[usp_qryAll_Loan_Totals_PC_Final2] TO [FHLBDM\G-SQL Public]                                         
GRANT EXECUTE ON [dbo].[usp_qryAll_Loan_Totals2] TO [FHLBDM\G-SQL Public]                                                  
GRANT EXECUTE ON [dbo].[usp_qryNon_Performing_Loan_Detail_Add_Back2] TO [FHLBDM\G-SQL Public]                              
GRANT EXECUTE ON [dbo].[usp_qryNon_Performing_Loan_Detail_Reversal2] TO [FHLBDM\G-SQL Public]                              
GRANT EXECUTE ON [dbo].[usp_qryNon_Performing_Loan_Totals_Add_Back2] TO [FHLBDM\G-SQL Public]                              
GRANT EXECUTE ON [dbo].[usp_qryNon_Performing_Loan_Totals_Reversal2] TO [FHLBDM\G-SQL Public]                              
GRANT EXECUTE ON [dbo].[usp_qryREO_Loan_Detail_Reversal2] TO [FHLBDM\G-SQL Public]                                         
GRANT EXECUTE ON [dbo].[usp_qryREO_Loan_Totals_Reversal2] TO [FHLBDM\G-SQL Public]                                         
GRANT INSERT ON [dbo].[DSS_Call_and_Amort_Summary] TO [FHLBDM\G-FHLBAPPS-CallBonds Admin]                                  
GRANT INSERT ON [dbo].[DSS_IAN_Redemption_Notice] TO [FHLBDM\G-FHLBAPPS-CallBonds Admin]                                   
GRANT INSERT ON [dbo].[dtproperties] TO [public]                                                                           
GRANT INSERT ON [dbo].[Membership_App_Tracking_Log] TO [FHLBDM\G-FHLBApps-MATS_MFS]                                        
GRANT INSERT ON [dbo].[Membership_Comments] TO [Credit]                                                                    
GRANT INSERT ON [dbo].[Membership_Comments] TO [FHLBDM\G-FHLBApps-MATS_MFS]                                                
GRANT INSERT ON [dbo].[MPF_NP_Loan] TO [FHLBDM\G-SQL MPF-REO]                                                              
GRANT INSERT ON [dbo].[MPF_REO_Loan] TO [FHLBDM\G-SQL MPF-REO]                                                             
GRANT INSERT ON [dbo].[MPP_NP_Loan] TO [FHLBDM\G-SQL MPF-REO]                                                              
GRANT INSERT ON [dbo].[MPP_REO_Loan] TO [FHLBDM\G-SQL MPF-REO]                                                             
GRANT REFERENCES ON [dbo].[dtproperties] TO [public]                                                                       
GRANT SELECT ON [dbo].[Account_Names_and_Addresses] TO [FHLBDM\G-SQL Public]                                               
GRANT SELECT ON [dbo].[Account_Names_and_Addresses] TO [Intranet_User]                                                     
GRANT SELECT ON [dbo].[Accounts] TO [FHLBDM\G-SQL Public]                                                                  
GRANT SELECT ON [dbo].[Accounts_FACT_EOM] TO [FHLBDM\G-SQL Public]                                                         
GRANT SELECT ON [dbo].[Accounts_Receivable] TO [FHLBDM\G-SQL Public]                                                       
GRANT SELECT ON [dbo].[Accounts_Receivable] TO [Intranet_User]                                                             
GRANT SELECT ON [dbo].[Accounts_Receivable_FACT_EOM] TO [FHLBDM\G-SQL Public]                                              
GRANT SELECT ON [dbo].[Accounts_Receivable_FACT_EOM] TO [tsvc_HUBFHLBROLink]                                               
GRANT SELECT ON [dbo].[ADV_Current1] TO [FHLBDM\G-SQL Public]                                                              
GRANT SELECT ON [dbo].[Advance Daily Activity] TO [FHLBDM\G-SQL Public]                                                    
GRANT SELECT ON [dbo].[Advance Daily Activity] TO [Intranet_User]                                                          
GRANT SELECT ON [dbo].[Advance_Averages] TO [FHLBDM\G-SQL Public]                                                          
GRANT SELECT ON [dbo].[Advance_Averages] TO [Intranet_User]                                                                
GRANT SELECT ON [dbo].[Advance_Prepayment_QRM_Upload] TO [FHLBDM\G-SQL Public]                                             
GRANT SELECT ON [dbo].[Advances] TO [FHLBDM\G-SQL Public]                                                                  
GRANT SELECT ON [dbo].[Advances] TO [Intranet_User]                                                                        
GRANT SELECT ON [dbo].[Advances_Exam_v] TO [FHLBDM\G-SQL Public]                                                           
GRANT SELECT ON [dbo].[Advances_Fact_EOM] TO [FHLBDM\G-SQL Public]                                                         
GRANT SELECT ON [dbo].[Advances_Fact_EOM] TO [tsvc_HUBFHLBROLink]                                                          
GRANT SELECT ON [dbo].[Advances_V] TO [FHLBDM\G-SQL Public]                                                                
GRANT SELECT ON [dbo].[Basis_Adjustments] TO [FHLBDM\G-SQL Public]                                                         
GRANT SELECT ON [dbo].[Basis_Adjustments] TO [Intranet_User]                                                               
GRANT SELECT ON [dbo].[Basis_Adjustments_Fact_EOM] TO [FHLBDM\G-SQL Public]                                                
GRANT SELECT ON [dbo].[Basis_Adjustments_Fact_EOM] TO [tsvc_HUBFHLBROLink]                                                 
GRANT SELECT ON [dbo].[Beneficiary] TO [FHLBDM\G-SQL Public]                                                               
GRANT SELECT ON [dbo].[Beneficiary] TO [Intranet_User]                                                                     
GRANT SELECT ON [dbo].[Beneficiary_Fact_EOM] TO [FHLBDM\G-SQL Public]                                                      
GRANT SELECT ON [dbo].[Beneficiary_Fact_EOM] TO [Intranet_User]                                                            
GRANT SELECT ON [dbo].[Beneficiary_Fact_EOM] TO [tsvc_HUBFHLBROLink]                                                       
GRANT SELECT ON [dbo].[Broker_Information] TO [FHLBDM\G-SQL Public]                                                        
GRANT SELECT ON [dbo].[Broker_Information] TO [Intranet_User]                                                              
GRANT SELECT ON [dbo].[Budget] TO [FHLBDM\G-SQL Public]                                                                    
GRANT SELECT ON [dbo].[Budget] TO [Intranet_User]                                                                          
GRANT SELECT ON [dbo].[Budget_FACT_EOM] TO [FHLBDM\G-SQL Public]                                                           
GRANT SELECT ON [dbo].[Budget_FACT_EOM] TO [tsvc_HUBFHLBROLink]                                                            
GRANT SELECT ON [dbo].[BUDGET_V] TO [FHLBDM\G-SQL Public]                                                                  
GRANT SELECT ON [dbo].[Capital_Stock] TO [FHLBDM\G-SQL Public]                                                             
GRANT SELECT ON [dbo].[Capital_Stock] TO [Intranet_User]                                                                   
GRANT SELECT ON [dbo].[Capital_Stock_CP] TO [FHLBDM\G-SQL Public]                                                          
GRANT SELECT ON [dbo].[Capital_Stock_CP] TO [Intranet_User]                                                                
GRANT SELECT ON [dbo].[Capital_Stock_Redemption] TO [FHLBDM\G-SQL Public]                                                  
GRANT SELECT ON [dbo].[Capital_Stock_Redemption_FACT_EOM] TO [FHLBDM\G-SQL Public]                                         
GRANT SELECT ON [dbo].[Capital_Stock_Redemption_FACT_EOM] TO [tsvc_HUBFHLBROLink]                                          
GRANT SELECT ON [dbo].[CDS] TO [FHLBDM\G-SQL Public]                                                                       
GRANT SELECT ON [dbo].[CDS] TO [Intranet_User]                                                                             
GRANT SELECT ON [dbo].[CDS] TO [tsvc_HUBFHLBROLink]                                                                        
GRANT SELECT ON [dbo].[CDS_Fact_EOM] TO [FHLBDM\G-SQL Public]                                                              
GRANT SELECT ON [dbo].[CDS_Fact_EOM] TO [tsvc_HUBFHLBROLink]                                                               
GRANT SELECT ON [dbo].[CDS_Table] TO [FHLBDM\G-SQL Public]                                                                 
GRANT SELECT ON [dbo].[CDS_Table] TO [Intranet_User]                                                                       
GRANT SELECT ON [dbo].[CDS_Table_Fact_EOM] TO [FHLBDM\G-SQL Public]                                                        
GRANT SELECT ON [dbo].[CDS_Table_Fact_EOM] TO [tsvc_HUBFHLBROLink]                                                         
GRANT SELECT ON [dbo].[Collateral_and_Pledges_FACT_EOM] TO [FHLBDM\G-SQL Public]                                           
GRANT SELECT ON [dbo].[Collateral_and_Pledges_FACT_EOM] TO [tsvc_HUBFHLBROLink]                                            
GRANT SELECT ON [dbo].[Collateral_Computations_FACT_EOM] TO [FHLBDM\G-SQL Public]                                          
GRANT SELECT ON [dbo].[Collateral_Customer_Profile] TO [FHLBDM\G-SQL Public]                                               
GRANT SELECT ON [dbo].[Collateral_Customer_Profile] TO [Intranet_User]                                                     
GRANT SELECT ON [dbo].[Collateral_Customer_Profile_FACT_EOM] TO [FHLBDM\G-SQL Public]                                      
GRANT SELECT ON [dbo].[Collateral_Customer_Profile_FACT_EOM] TO [tsvc_HUBFHLBROLink]                                       
GRANT SELECT ON [dbo].[Collateral_Haircut_Exceptions] TO [FHLBDM\G-SQL Public]                                             
GRANT SELECT ON [dbo].[Collateral_Haircut_Exceptions] TO [Intranet_User]                                                   
GRANT SELECT ON [dbo].[Collateral_Haircut_Exceptions_FACT_EOM] TO [FHLBDM\G-SQL Public]                                    
GRANT SELECT ON [dbo].[Collateral_Haircut_Exceptions_FACT_EOM] TO [tsvc_HUBFHLBROLink]                                     
GRANT SELECT ON [dbo].[Collateral_Matrix_FACT_EOM] TO [FHLBDM\G-SQL Public]                                                
GRANT SELECT ON [dbo].[Collateral_Pricing] TO [FHLBDM\G-SQL Public]                                                        
GRANT SELECT ON [dbo].[Collateral_Pricing] TO [Intranet_User]                                                              
GRANT SELECT ON [dbo].[Collateral_Pricing_FACT_EOM] TO [FHLBDM\G-SQL Public]                                               
GRANT SELECT ON [dbo].[Collateral_Pricing_FACT_EOM] TO [tsvc_HUBFHLBROLink]                                                
GRANT SELECT ON [dbo].[Collateral_Quality_FACT_EOM] TO [FHLBDM\G-SQL Public]                                               
GRANT SELECT ON [dbo].[Collateral_Securities_Pledges] TO [FHLBDM\G-SQL Public]                                             
GRANT SELECT ON [dbo].[Collateral_Securities_Pledges] TO [Intranet_User]                                                   
GRANT SELECT ON [dbo].[Collateral_Securities_Pledges_Fact_EOM] TO [FHLBDM\G-SQL Public]                                    
GRANT SELECT ON [dbo].[Collateral_Securities_Pledges_Fact_EOM] TO [tsvc_HUBFHLBROLink]                                     
GRANT SELECT ON [dbo].[Commitment_Lookup] TO [FHLBDM\G-SQL Public]                                                         
GRANT SELECT ON [dbo].[Commitment_Lookup] TO [Intranet_User]                                                               
GRANT SELECT ON [dbo].[Commitment_Lookup_FACT_EOM] TO [FHLBDM\G-SQL Public]                                                
GRANT SELECT ON [dbo].[Commitment_Lookup_FACT_EOM] TO [tsvc_HUBFHLBROLink]                                                 
GRANT SELECT ON [dbo].[Commitments] TO [FHLBDM\G-SQL Public]                                                               
GRANT SELECT ON [dbo].[Commitments] TO [Intranet_User]                                                                     
GRANT SELECT ON [dbo].[Commitments_0313] TO [FHLBDM\G-SQL Public]                                                          
GRANT SELECT ON [dbo].[Commitments_100_V] TO [FHLBDM\G-SQL Public]                                                         
GRANT SELECT ON [dbo].[Commitments_FACT_EOM] TO [FHLBDM\G-SQL Public]                                                      
GRANT SELECT ON [dbo].[Commitments_FACT_EOM] TO [tsvc_HUBFHLBROLink]                                                       
GRANT SELECT ON [dbo].[Commitments_V] TO [FHLBDM\G-SQL Public]                                                             
GRANT SELECT ON [dbo].[Consolidated_Obligations] TO [FHLBDM\G-SQL Public]                                                  
GRANT SELECT ON [dbo].[Consolidated_Obligations] TO [Intranet_User]                                                        
GRANT SELECT ON [dbo].[Consolidated_Obligations_Fact_EOM] TO [FHLBDM\G-SQL Public]                                         
GRANT SELECT ON [dbo].[Consolidated_Obligations_Fact_EOM] TO [tsvc_HUBFHLBROLink]                                          
GRANT SELECT ON [dbo].[Contact_Summary_Fact_EOM] TO [FHLBDM\G-SQL Public]                                                  
GRANT SELECT ON [dbo].[Contact_Summary_Fact_EOM] TO [tsvc_HUBFHLBROLink]                                                   
GRANT SELECT ON [dbo].[CP_Line] TO [FHLBDM\G-SQL Public]                                                                   
GRANT SELECT ON [dbo].[CP_Line_Current_v] TO [FHLBDM\G-SQL Public]                                                         
GRANT SELECT ON [dbo].[CP_Line_FACT_EOM] TO [FHLBDM\G-SQL Public]                                                          
GRANT SELECT ON [dbo].[CP_Trade_Backup] TO [FHLBDM\G-SQL Public]                                                           
GRANT SELECT ON [dbo].[CP_Trade_FACT_EOM_Backup] TO [FHLBDM\G-SQL Public]                                                  
GRANT SELECT ON [dbo].[CRF] TO [FHLBDM\G-SQL Public]                                                                       
GRANT SELECT ON [dbo].[CRF] TO [Intranet_User]                                                                             
GRANT SELECT ON [dbo].[Cusip_Profile] TO [FHLBDM\G-SQL Public]                                                             
GRANT SELECT ON [dbo].[Cusip_Profile] TO [Intranet_User]                                                                   
GRANT SELECT ON [dbo].[Cusip_Profile_Fact_EOM] TO [FHLBDM\G-SQL Public]                                                    
GRANT SELECT ON [dbo].[Cusip_Profile_Fact_EOM] TO [tsvc_HUBFHLBROLink]                                                     
GRANT SELECT ON [dbo].[Customer Type] TO [FHLBDM\G-SQL Public]                                                             
GRANT SELECT ON [dbo].[Customer_Information] TO [FHLBDM\G-SQL Public]                                                      
GRANT SELECT ON [dbo].[Customer_Information] TO [Intranet_User]                                                            
GRANT SELECT ON [dbo].[Customer_Summary_Fact_EOM] TO [FHLBDM\G-SQL Public]                                                 
GRANT SELECT ON [dbo].[Customer_Summary_Fact_EOM] TO [tsvc_HUBFHLBROLink]                                                  
GRANT SELECT ON [dbo].[Demand_Deposit] TO [FHLBDM\G-SQL Public]                                                            
GRANT SELECT ON [dbo].[Demand_Deposit] TO [Intranet_User]                                                                  
GRANT SELECT ON [dbo].[Demand_Deposit_Fact_EOM] TO [FHLBDM\G-SQL Public]                                                   
GRANT SELECT ON [dbo].[Demand_Deposit_Fact_EOM] TO [tsvc_HUBFHLBROLink]                                                    
GRANT SELECT ON [dbo].[DEMAND_DT_AVG_BALANCE] TO [FHLBDM\G-SQL Public]                                                     
GRANT SELECT ON [dbo].[DEMAND_DT_AVG_BALANCE] TO [Intranet_User]                                                           
GRANT SELECT ON [dbo].[DSS_Call_and_Amort_Summary] TO [FHLBDM\G-FHLBAPPS-CallBonds Admin]                                  
GRANT SELECT ON [dbo].[DSS_Call_and_Amort_Summary] TO [FHLBDM\G-FHLBAPPS-CallBonds]                                        
GRANT SELECT ON [dbo].[DSS_Call_and_Amort_Summary] TO [FHLBDM\G-SQL Public]                                                
GRANT SELECT ON [dbo].[DSS_Call_and_Amort_Summary] TO [Intranet_User]                                                      
GRANT SELECT ON [dbo].[DSS_IAN_Redemption_Notice] TO [FHLBDM\G-FHLBAPPS-CallBonds Admin]                                   
GRANT SELECT ON [dbo].[DSS_IAN_Redemption_Notice] TO [FHLBDM\G-FHLBAPPS-CallBonds]                                         
GRANT SELECT ON [dbo].[DSS_IAN_Redemption_Notice] TO [FHLBDM\G-SQL Public]                                                 
GRANT SELECT ON [dbo].[DSS_IAN_Redemption_Notice] TO [Intranet_User]                                                       
GRANT SELECT ON [dbo].[DSS_IAN_Redemption_Notice] TO [public]                                                              
GRANT SELECT ON [dbo].[dtproperties] TO [public]                                                                           
GRANT SELECT ON [dbo].[ECM_Non_Members] TO [FHLBDM\G-SQL Public]                                                           
GRANT SELECT ON [dbo].[EOM_Balancing_Report] TO [FHLBDM\G-SQL Public]                                                      
GRANT SELECT ON [dbo].[EOM_TABLE_PRIVILEGES] TO [FHLBDM\G-SQL Public]                                                      
GRANT SELECT ON [dbo].[FAS149_LOANS] TO [FHLBDM\G-SQL Public]                                                              
GRANT SELECT ON [dbo].[FAS149_LOANS] TO [Intranet_User]                                                                    
GRANT SELECT ON [dbo].[FAS149_LOANS_FACT_EOM] TO [FHLBDM\G-SQL Public]                                                     
GRANT SELECT ON [dbo].[FAS149_LOANS_FACT_EOM] TO [tsvc_HUBFHLBROLink]                                                      
GRANT SELECT ON [dbo].[Fire_Credit] TO [FHLBDM\G-SQL Public]                                                               
GRANT SELECT ON [dbo].[Fire_Credit_Fact_EOM] TO [FHLBDM\G-SQL Public]                                                      
GRANT SELECT ON [dbo].[Fire_Credit_Fact_EOM] TO [tsvc_HUBFHLBROLink]                                                       
GRANT SELECT ON [dbo].[Fixed_Assets] TO [FHLBDM\G-SQL Public]                                                              
GRANT SELECT ON [dbo].[Fixed_Assets] TO [Intranet_User]                                                                    
GRANT SELECT ON [dbo].[Fixed_Assets_FACT_EOM] TO [FHLBDM\G-SQL Public]                                                     
GRANT SELECT ON [dbo].[Fixed_Assets_FACT_EOM] TO [tsvc_HUBFHLBROLink]                                                      
GRANT SELECT ON [dbo].[frb_Detail] TO [FHLBDM\G-SQL Public]                                                                
GRANT SELECT ON [dbo].[frb_Detail] TO [Intranet_User]                                                                      
GRANT SELECT ON [dbo].[frb_Header] TO [FHLBDM\G-SQL Public]                                                                
GRANT SELECT ON [dbo].[frb_Header] TO [Intranet_User]                                                                      
GRANT SELECT ON [dbo].[frb_Total] TO [FHLBDM\G-SQL Public]                                                                 
GRANT SELECT ON [dbo].[frb_Total] TO [Intranet_User]                                                                       
GRANT SELECT ON [dbo].[FTID_Fact_EOM] TO [FHLBDM\G-SQL Public]                                                             
GRANT SELECT ON [dbo].[FTID_Fact_EOM] TO [tsvc_HUBFHLBROLink]                                                              
GRANT SELECT ON [dbo].[General_Ledger] TO [FHLBDM\G-SQL Public]                                                            
GRANT SELECT ON [dbo].[General_Ledger] TO [Intranet_User]                                                                  
GRANT SELECT ON [dbo].[General_Ledger_01_Fact_EOM] TO [FHLBDM\G-SQL Public]                                                
GRANT SELECT ON [dbo].[General_Ledger_01_Fact_EOM] TO [tsvc_HUBFHLBROLink]                                                 
GRANT SELECT ON [dbo].[General_Ledger_01_v] TO [FHLBDM\G-SQL Public]                                                       
GRANT SELECT ON [dbo].[General_Ledger_FACT_EOM] TO [FHLBDM\G-SQL Public]                                                   
GRANT SELECT ON [dbo].[General_Ledger_FACT_EOM] TO [tsvc_HUBFHLBROLink]                                                    
GRANT SELECT ON [dbo].[glpost] TO [FHLBDM\G-SQL Public]                                                                    
GRANT SELECT ON [dbo].[glpost] TO [Intranet_User]                                                                          
GRANT SELECT ON [dbo].[glpost_FACT_EOM] TO [FHLBDM\G-SQL Public]                                                           
GRANT SELECT ON [dbo].[glpost_FACT_EOM] TO [tsvc_HUBFHLBROLink]                                                            
GRANT SELECT ON [dbo].[glpost_validation] TO [FHLBDM\G-SQL Public]                                                         
GRANT SELECT ON [dbo].[glpost_validation] TO [Intranet_User]                                                               
GRANT SELECT ON [dbo].[glpost_validation_FACT_EOM] TO [FHLBDM\G-SQL Public]                                                
GRANT SELECT ON [dbo].[glpost_validation_FACT_EOM] TO [tsvc_HUBFHLBROLink]                                                 
GRANT SELECT ON [dbo].[Goldmine] TO [FHLBDM\G-FHLB-Developers]                                                             
GRANT SELECT ON [dbo].[Goldmine] TO [FHLBDM\G-SQL Public]                                                                  
GRANT SELECT ON [dbo].[Goldmine] TO [Intranet_User]                                                                        
GRANT SELECT ON [dbo].[Interest_Payments] TO [FHLBDM\G-SQL Public]                                                         
GRANT SELECT ON [dbo].[Interest_Payments] TO [Intranet_User]                                                               
GRANT SELECT ON [dbo].[Investment_Collateral] TO [FHLBDM\G-SQL Public]                                                     
GRANT SELECT ON [dbo].[Investment_Collateral] TO [Intranet_User]                                                           
GRANT SELECT ON [dbo].[Investment_Collateral_FACT_EOM] TO [FHLBDM\G-SQL Public]                                            
GRANT SELECT ON [dbo].[Investment_Collateral_FACT_EOM] TO [tsvc_HUBFHLBROLink]                                             
GRANT SELECT ON [dbo].[Investments] TO [FHLBDM\G-SQL Public]                                                               
GRANT SELECT ON [dbo].[Investments] TO [Intranet_User]                                                                     
GRANT SELECT ON [dbo].[Investments_01] TO [FHLBDM\G-SQL Public]                                                            
GRANT SELECT ON [dbo].[Investments_01] TO [Intranet_User]                                                                  
GRANT SELECT ON [dbo].[Investments_Fact_EOM] TO [FHLBDM\G-SQL Public]                                                      
GRANT SELECT ON [dbo].[Investments_Fact_EOM] TO [tsvc_HUBFHLBROLink]                                                       
GRANT SELECT ON [dbo].[JSS_P_FACT_EOM] TO [FHLBDM\G-SQL Public]                                                            
GRANT SELECT ON [dbo].[JSS_P_FACT_EOM] TO [tsvc_HUBFHLBROLink]                                                             
GRANT SELECT ON [dbo].[JXD] TO [FHLBDM\G-SQL Public]                                                                       
GRANT SELECT ON [dbo].[JXD] TO [Intranet_User]                                                                             
GRANT SELECT ON [dbo].[JXD_Fact_EOM] TO [FHLBDM\G-SQL Public]                                                              
GRANT SELECT ON [dbo].[JXD_Fact_EOM] TO [tsvc_HUBFHLBROLink]                                                               
GRANT SELECT ON [dbo].[JXM] TO [FHLBDM\G-SQL Public]                                                                       
GRANT SELECT ON [dbo].[JXM] TO [Intranet_User]                                                                             
GRANT SELECT ON [dbo].[JXM_Fact_EOM] TO [FHLBDM\G-SQL Public]                                                              
GRANT SELECT ON [dbo].[JXM_Fact_EOM] TO [tsvc_HUBFHLBROLink]                                                               
GRANT SELECT ON [dbo].[Letters_Of_Credit] TO [FHLBDM\G-SQL Public]                                                         
GRANT SELECT ON [dbo].[Link] TO [FHLBDM\G-SQL Public]                                                                      
GRANT SELECT ON [dbo].[Link] TO [Intranet_User]                                                                            
GRANT SELECT ON [dbo].[Link_Fact_EOM] TO [FHLBDM\G-SQL Public]                                                             
GRANT SELECT ON [dbo].[Link_Fact_EOM] TO [tsvc_HUBFHLBROLink]                                                              
GRANT SELECT ON [dbo].[LT CONV Advances] TO [FHLBDM\G-SQL Public]                                                          
GRANT SELECT ON [dbo].[LY_Amortizations_Fact_EOM] TO [FHLBDM\G-SQL Public]                                                 
GRANT SELECT ON [dbo].[LY_Cash_Flow_History_Fact_EOM] TO [FHLBDM\G-SQL Public]                                             
GRANT SELECT ON [dbo].[LY_Yield_Trend_EOM] TO [FHLBDM\G-SQL Public]                                                        
GRANT SELECT ON [dbo].[ly_yield_trend_eom_temp] TO [FHLBDM\G-SQL Public]                                                   
GRANT SELECT ON [dbo].[M2M_FAS133] TO [FHLBDM\G-SQL Public]                                                                
GRANT SELECT ON [dbo].[M2M_FAS133] TO [Intranet_User]                                                                      
GRANT SELECT ON [dbo].[M2M_FAS133_FACT_EOM] TO [FHLBDM\G-SQL Public]                                                       
GRANT SELECT ON [dbo].[M2M_Principia] TO [FHLBDM\G-SQL Public]                                                             
GRANT SELECT ON [dbo].[M2M_Principia_FACT_EOM] TO [FHLBDM\G-SQL Public]                                                    
GRANT SELECT ON [dbo].[M2M_Principia_FACT_EOM] TO [tsvc_HUBFHLBROLink]                                                     
GRANT SELECT ON [dbo].[M2M_QRM_Adjustments] TO [FHLBDM\G-SQL Public]                                                       
GRANT SELECT ON [dbo].[M2M_QRM_Adjustments_FACT_EOM] TO [FHLBDM\G-SQL Public]                                              
GRANT SELECT ON [dbo].[Marketing_Profile] TO [FHLBDM\G-SQL Public]                                                         
GRANT SELECT ON [dbo].[Marketing_Profile] TO [Intranet_User]                                                               
GRANT SELECT ON [dbo].[MarketVal] TO [FHLBDM\G-SQL Public]                                                                 
GRANT SELECT ON [dbo].[MarketVal] TO [Intranet_User]                                                                       
GRANT SELECT ON [dbo].[Master] TO [FHLBDM\G-SQL Public]                                                                    
GRANT SELECT ON [dbo].[Master_FACT_EOM] TO [FHLBDM\G-SQL Public]                                                           
GRANT SELECT ON [dbo].[Master_FACT_EOM] TO [tsvc_HUBFHLBROLink]                                                            
GRANT SELECT ON [dbo].[MCV_Comments] TO [FHLBDM\G-SQL Public]                                                              
GRANT SELECT ON [dbo].[MCV_Comments_FACT_EOM] TO [FHLBDM\G-SQL Public]                                                     
GRANT SELECT ON [dbo].[MCV_Comments_FACT_EOM] TO [tsvc_HUBFHLBROLink]                                                      
GRANT SELECT ON [dbo].[MCV_Detail] TO [FHLBDM\G-SQL Public]                                                                
GRANT SELECT ON [dbo].[MCV_Detail_FACT_EOM] TO [FHLBDM\G-SQL Public]                                                       
GRANT SELECT ON [dbo].[MCV_Detail_FACT_EOM] TO [tsvc_HUBFHLBROLink]                                                        
GRANT SELECT ON [dbo].[MCV_Information] TO [FHLBDM\G-SQL Public]                                                           
GRANT SELECT ON [dbo].[MCV_Information_FACT_EOM] TO [FHLBDM\G-SQL Public]                                                  
GRANT SELECT ON [dbo].[MCV_Information_FACT_EOM] TO [tsvc_HUBFHLBROLink]                                                   
GRANT SELECT ON [dbo].[MCV_Information_temp] TO [FHLBDM\G-SQL Public]                                                      
GRANT SELECT ON [dbo].[MCV_Tier_FACT_EOM] TO [tsvc_HUBFHLBROLink]                                                          
GRANT SELECT ON [dbo].[Membership_App_Tracking_Log] TO [FHLBDM\G-FHLBApps-MATS_MFS]                                        
GRANT SELECT ON [dbo].[Membership_App_Tracking_Log] TO [FHLBDM\G-SQL Public]                                               
GRANT SELECT ON [dbo].[Membership_App_Tracking_Log] TO [Intranet_User]                                                     
GRANT SELECT ON [dbo].[Membership_Comments] TO [Credit]                                                                    
GRANT SELECT ON [dbo].[Membership_Comments] TO [FHLBDM\G-FHLBApps-MATS_MFS]                                                
GRANT SELECT ON [dbo].[Membership_Comments] TO [FHLBDM\G-SQL Public]                                                       
GRANT SELECT ON [dbo].[Membership_Comments] TO [Intranet_User]                                                             
GRANT SELECT ON [dbo].[Membership_FACT_EOM] TO [FHLBDM\G-SQL Public]                                                       
GRANT SELECT ON [dbo].[Membership_FACT_EOM] TO [tsvc_HUBFHLBROLink]                                                        
GRANT SELECT ON [dbo].[Membership_V] TO [FHLBDM\G-SQL Public]                                                              
GRANT SELECT ON [dbo].[MPF Trans  Loan] TO [FHLBDM\G-SQL Public]                                                           
GRANT SELECT ON [dbo].[MPF Trans  Loan] TO [Intranet_User]                                                                 
GRANT SELECT ON [dbo].[MPF Trans Delivery] TO [FHLBDM\G-SQL Credit]                                                        
GRANT SELECT ON [dbo].[MPF Trans Delivery] TO [FHLBDM\G-SQL Public]                                                        
GRANT SELECT ON [dbo].[MPF Trans Delivery] TO [Intranet_User]                                                              
GRANT SELECT ON [dbo].[MPF_AdjustmentSubFactors_DM_FACT_EOM] TO [tsvc_HUBFHLBROLink]                                       
GRANT SELECT ON [dbo].[mpf_cdt_enhance] TO [FHLBDM\G-SQL Public]                                                           
GRANT SELECT ON [dbo].[mpf_cusip_code] TO [FHLBDM\G-SQL Public]                                                            
GRANT SELECT ON [dbo].[mpf_cusip_groups] TO [FHLBDM\G-SQL Public]                                                          
GRANT SELECT ON [dbo].[MPF_Delivery_Commitment_DM] TO [FHLBDM\G-SQL Public]                                                
GRANT SELECT ON [dbo].[MPF_Delivery_Commitment_DM] TO [Intranet_User]                                                      
GRANT SELECT ON [dbo].[MPF_Delivery_Commitment_DM_FACT_EOM] TO [FHLBDM\G-SQL Public]                                       
GRANT SELECT ON [dbo].[MPF_Delivery_Commitment_DM_FACT_EOM] TO [Intranet_User]                                             
GRANT SELECT ON [dbo].[MPF_Delivery_Extension_DM] TO [FHLBDM\G-SQL Public]                                                 
GRANT SELECT ON [dbo].[MPF_Delivery_Extension_DM] TO [Intranet_User]                                                       
GRANT SELECT ON [dbo].[MPF_Delivery_Extension_DM_FACT_EOM] TO [FHLBDM\G-SQL Public]                                        
GRANT SELECT ON [dbo].[MPF_Delivery_Extension_DM_FACT_EOM] TO [Intranet_User]                                              
GRANT SELECT ON [dbo].[MPF_Delivery_Reduction_DM] TO [FHLBDM\G-SQL Public]                                                 
GRANT SELECT ON [dbo].[MPF_Delivery_Reduction_DM_FACT_EOM] TO [FHLBDM\G-SQL Public]                                        
GRANT SELECT ON [dbo].[MPF_DirectPipelineDetail_DM] TO [FHLBDM\G-SQL Public]                                               
GRANT SELECT ON [dbo].[MPF_DirectPipelineDetail_DM] TO [Intranet_User]                                                     
GRANT SELECT ON [dbo].[MPF_DirectPipelineDetail_DM_Fact_EOM] TO [FHLBDM\G-SQL Public]                                      
GRANT SELECT ON [dbo].[MPF_DirectPipelineDetail_DM_Fact_EOM] TO [Intranet_User]                                            
GRANT SELECT ON [dbo].[MPF_DocExceptions_DM] TO [FHLBDM\G-SQL Public]                                                      
GRANT SELECT ON [dbo].[MPF_DocExceptions_DM] TO [Intranet_User]                                                            
GRANT SELECT ON [dbo].[MPF_DocExceptions_DM_Fact_EOM] TO [FHLBDM\G-SQL Public]                                             
GRANT SELECT ON [dbo].[MPF_DocExceptions_DM_Fact_EOM] TO [tsvc_HUBFHLBROLink]                                              
GRANT SELECT ON [dbo].[MPF_EODPricing_DM] TO [FHLBDM\G-SQL Public]                                                         
GRANT SELECT ON [dbo].[MPF_EODPricing_DM] TO [Intranet_User]                                                               
GRANT SELECT ON [dbo].[MPF_EODPricing_DM_FACT_EOM] TO [FHLBDM\G-SQL Public]                                                
GRANT SELECT ON [dbo].[MPF_EODPricing_DM_FACT_EOM] TO [Intranet_User]                                                      
GRANT SELECT ON [dbo].[MPF_Excess_Service_Fee] TO [FHLBDM\G-SQL Public]                                                    
GRANT SELECT ON [dbo].[MPF_LOAN_DM] TO [FHLBDM\G-SQL Public]                                                               
GRANT SELECT ON [dbo].[MPF_LOAN_DM] TO [Intranet_User]                                                                     
GRANT SELECT ON [dbo].[MPF_Loan_DM_2_FACT_EOM] TO [FHLBDM\G-SQL Public]                                                    
GRANT SELECT ON [dbo].[MPF_Loan_DM_2_FACT_EOM] TO [Intranet_User]                                                          
GRANT SELECT ON [dbo].[MPF_LOAN_DM_FACT_EOM] TO [FHLBDM\G-SQL Public]                                                      
GRANT SELECT ON [dbo].[MPF_LOAN_DM_FACT_EOM] TO [Intranet_User]                                                            
GRANT SELECT ON [dbo].[MPF_Loan_DM_Fact_EOM_Acct] TO [FHLBDM\G-SQL Public]                                                 
GRANT SELECT ON [dbo].[MPF_Loan_DM_Fact_EOM_Acct] TO [Intranet_User]                                                       
GRANT SELECT ON [dbo].[MPF_Loan_DM_fico_temp] TO [FHLBDM\G-SQL Public]                                                     
GRANT SELECT ON [dbo].[MPF_LoanCustodianHistory_DM_Fact_EOM] TO [FHLBDM\G-SQL Public]                                      
GRANT SELECT ON [dbo].[MPF_LoanCustodianHistory_DM_Fact_EOM] TO [tsvc_HUBFHLBROLink]                                       
GRANT SELECT ON [dbo].[MPF_LOSSGAIN_DM] TO [FHLBDM\G-SQL Public]                                                           
GRANT SELECT ON [dbo].[MPF_LOSSGAIN_DM] TO [Intranet_User]                                                                 
GRANT SELECT ON [dbo].[MPF_LOSSGAIN_DM_Fact_EOM] TO [FHLBDM\G-SQL Public]                                                  
GRANT SELECT ON [dbo].[MPF_LOSSGAIN_DM_Fact_EOM] TO [tsvc_HUBFHLBROLink]                                                   
GRANT SELECT ON [dbo].[MPF_LOSSGAINCALCFIELDS_DM] TO [FHLBDM\G-SQL Public]                                                 
GRANT SELECT ON [dbo].[MPF_LOSSGAINCALCFIELDS_DM] TO [Intranet_User]                                                       
GRANT SELECT ON [dbo].[MPF_LOSSGAINCALCFIELDS_DM_Fact_EOM] TO [FHLBDM\G-SQL Public]                                        
GRANT SELECT ON [dbo].[MPF_LOSSGAINCALCFIELDS_DM_Fact_EOM] TO [tsvc_HUBFHLBROLink]                                         
GRANT SELECT ON [dbo].[MPF_LOSSGAINDETAIL_DM] TO [FHLBDM\G-SQL Public]                                                     
GRANT SELECT ON [dbo].[MPF_LOSSGAINDETAIL_DM] TO [Intranet_User]                                                           
GRANT SELECT ON [dbo].[MPF_LOSSGAINDETAIL_DM_Fact_EOM] TO [FHLBDM\G-SQL Public]                                            
GRANT SELECT ON [dbo].[MPF_LOSSGAINDETAIL_DM_Fact_EOM] TO [tsvc_HUBFHLBROLink]                                             
GRANT SELECT ON [dbo].[MPF_LOSSGAINDETAILEXPENSECREDIT_DM] TO [FHLBDM\G-SQL Public]                                        
GRANT SELECT ON [dbo].[MPF_LOSSGAINDETAILEXPENSECREDIT_DM] TO [Intranet_User]                                              
GRANT SELECT ON [dbo].[MPF_LOSSGAINDETAILEXPENSECREDIT_DM_Fact_EOM] TO [FHLBDM\G-SQL Public]                               
GRANT SELECT ON [dbo].[MPF_LOSSGAINDETAILEXPENSECREDIT_DM_Fact_EOM] TO [tsvc_HUBFHLBROLink]                                
GRANT SELECT ON [dbo].[MPF_LY_Amort] TO [FHLBDM\G-SQL Public]                                                              
GRANT SELECT ON [dbo].[MPF_LY_Amort_Fact_EOM] TO [FHLBDM\G-SQL Public]                                                     
GRANT SELECT ON [dbo].[MPF_LY_Amort_Fact_EOM_Acct] TO [FHLBDM\G-SQL Public]                                                
GRANT SELECT ON [dbo].[MPF_LY_Amort_LoanDM_Fact_EOM] TO [FHLBDM\G-SQL Public]                                              
GRANT SELECT ON [dbo].[MPF_LY_Amort_LoanDM_Fact_EOM_V] TO [FHLBDM\G-SQL Public]                                            
GRANT SELECT ON [dbo].[MPF_MASTER_COMMITMENTS_DM] TO [FHLBDM\G-SQL Public]                                                 
GRANT SELECT ON [dbo].[MPF_MASTER_COMMITMENTS_DM_Fact_EOM] TO [FHLBDM\G-SQL Public]                                        
GRANT SELECT ON [dbo].[MPF_Master_History_DM] TO [FHLBDM\G-SQL Public]                                                     
GRANT SELECT ON [dbo].[MPF_Master_History_DM_FACT_EOM] TO [FHLBDM\G-SQL Public]                                            
GRANT SELECT ON [dbo].[MPF_MASTERCOMMITMENTHISTORY_DM] TO [FHLBDM\G-SQL Public]                                            
GRANT SELECT ON [dbo].[MPF_NACHA_DM_FACT_EOM] TO [FHLBDM\G-SQL Public]                                                     
GRANT SELECT ON [dbo].[MPF_NACHA_DM_FACT_EOM] TO [tsvc_HUBFHLBROLink]                                                      
GRANT SELECT ON [dbo].[MPF_NonCashLoanServicing_DM] TO [FHLBDM\G-SQL Public]                                               
GRANT SELECT ON [dbo].[MPF_NonCashLoanServicing_DM] TO [Intranet_User]                                                     
GRANT SELECT ON [dbo].[MPF_NonCashLoanServicing_DM_FACT_EOM] TO [FHLBDM\G-SQL Public]                                      
GRANT SELECT ON [dbo].[MPF_NonCashLoanServicing_DM_FACT_EOM] TO [Intranet_User]                                            
GRANT SELECT ON [dbo].[MPF_NP_Loan] TO [FHLBDM\G-SQL MPF-REO]                                                              
GRANT SELECT ON [dbo].[MPF_NP_Loan] TO [FHLBDM\G-SQL Public]                                                               
GRANT SELECT ON [dbo].[MPF_NP_Loan_Fact_EOM] TO [FHLBDM\G-SQL Public]                                                      
GRANT SELECT ON [dbo].[MPF_OverallAdjustmentFactors_DM_FACT_EOM] TO [tsvc_HUBFHLBROLink]                                   
GRANT SELECT ON [dbo].[MPF_P_AND_I] TO [FHLBDM\G-SQL Public]                                                               
GRANT SELECT ON [dbo].[MPF_P_AND_I] TO [Intranet_User]                                                                     
GRANT SELECT ON [dbo].[MPF_P_AND_I_Current] TO [FHLBDM\G-SQL Public]                                                       
GRANT SELECT ON [dbo].[MPF_PFI_DM] TO [FHLBDM\G-SQL Public]                                                                
GRANT SELECT ON [dbo].[MPF_PFI_DM] TO [Intranet_User]                                                                      
GRANT SELECT ON [dbo].[MPF_PFI_DM_Fact_EOM] TO [FHLBDM\G-SQL Public]                                                       
GRANT SELECT ON [dbo].[MPF_PFI_DM_Fact_EOM] TO [tsvc_HUBFHLBROLink]                                                        
GRANT SELECT ON [dbo].[MPF_PFIContact_DM] TO [FHLBDM\G-SQL Public]                                                         
GRANT SELECT ON [dbo].[MPF_PFIContact_DM] TO [Intranet_User]                                                               
GRANT SELECT ON [dbo].[MPF_PFIContact_DM_FACT_EOM] TO [FHLBDM\G-SQL Public]                                                
GRANT SELECT ON [dbo].[MPF_PFIContact_DM_FACT_EOM] TO [tsvc_HUBFHLBROLink]                                                 
GRANT SELECT ON [dbo].[MPF_PFIPricingAdjustmentFactorsAndFees_DM_FACT_EOM] TO [tsvc_HUBFHLBROLink]                         
GRANT SELECT ON [dbo].[MPF_Pricing_DM] TO [FHLBDM\G-SQL Public]                                                            
GRANT SELECT ON [dbo].[MPF_Pricing_DM] TO [Intranet_User]                                                                  
GRANT SELECT ON [dbo].[MPF_Pricing_DM_FACT_EOM] TO [FHLBDM\G-SQL Public]                                                   
GRANT SELECT ON [dbo].[MPF_Pricing_DM_FACT_EOM] TO [Intranet_User]                                                         
GRANT SELECT ON [dbo].[MPF_PricingAdjustmentFactorsAndFees_DM_Fact_EOM] TO [tsvc_HUBFHLBROLink]                            
GRANT SELECT ON [dbo].[MPF_REO_Loan] TO [FHLBDM\G-SQL MPF-REO]                                                             
GRANT SELECT ON [dbo].[MPF_REO_Loan] TO [FHLBDM\G-SQL Public]                                                              
GRANT SELECT ON [dbo].[MPF_REO_Loan_Fact_EOM] TO [FHLBDM\G-SQL Public]                                                     
GRANT SELECT ON [dbo].[MPF_ReportCreatedON] TO [FHLBDM\G-SQL Public]                                                       
GRANT SELECT ON [dbo].[MPF_ReportCreatedON] TO [Intranet_User]                                                             
GRANT SELECT ON [dbo].[MPF_ReportCreatedON_Numeric] TO [FHLBDM\G-SQL Public]                                               
GRANT SELECT ON [dbo].[MPF_ReportCreatedON_Numeric] TO [Intranet_User]                                                     
GRANT SELECT ON [dbo].[MPF_Trans_Delivery_Fact_EOM] TO [FHLBDM\G-SQL Public]                                               
GRANT SELECT ON [dbo].[MPF_Trans_Trades] TO [fhlbdm\devltst]                                                               
GRANT SELECT ON [dbo].[MPF_Trans_Trades] TO [FHLBDM\G-SQL Public]                                                          
GRANT SELECT ON [dbo].[MPF_Trans_Trades] TO [Intranet_User]                                                                
GRANT SELECT ON [dbo].[MPF_TransferOfCustodian_DM_Fact_EOM] TO [FHLBDM\G-SQL Public]                                       
GRANT SELECT ON [dbo].[MPF_TransferOfCustodian_DM_Fact_EOM] TO [tsvc_HUBFHLBROLink]                                        
GRANT SELECT ON [dbo].[MPF_Wal_DM _AS400] TO [FHLBDM\G-SQL Public]                                                         
GRANT SELECT ON [dbo].[MPF_WAL_DM_Fact_EOM] TO [FHLBDM\G-SQL Public]                                                       
GRANT SELECT ON [dbo].[MPFBAL] TO [FHLBDM\G-SQL Public]                                                                    
GRANT SELECT ON [dbo].[MPFBAL] TO [Intranet_User]                                                                          
GRANT SELECT ON [dbo].[MPFBAL_FACT_EOM] TO [FHLBDM\G-SQL Public]                                                           
GRANT SELECT ON [dbo].[MPFBAL_FACT_EOM] TO [tsvc_HUBFHLBROLink]                                                            
GRANT SELECT ON [dbo].[MPFSUMM] TO [FHLBDM\G-SQL Public]                                                                   
GRANT SELECT ON [dbo].[MPFSUMM] TO [Intranet_User]                                                                         
GRANT SELECT ON [dbo].[MPFSUMM_Fact_EOM] TO [FHLBDM\G-SQL Public]                                                          
GRANT SELECT ON [dbo].[MPFSUMM_Fact_EOM] TO [Intranet_User]                                                                
GRANT SELECT ON [dbo].[MPFSUMM_Fact_EOM] TO [tsvc_HUBFHLBROLink]                                                           
GRANT SELECT ON [dbo].[MPP_Loan_DM_FACT_EOM] TO [FHLBDM\G-SQL Public]                                                      
GRANT SELECT ON [dbo].[MPP_Loan_DM_FACT_EOM] TO [tsvc_HUBFHLBROLink]                                                       
GRANT SELECT ON [dbo].[MPP_LY_Amort] TO [FHLBDM\G-SQL Public]                                                              
GRANT SELECT ON [dbo].[MPP_LY_Amort_Fact_EOM] TO [FHLBDM\G-SQL Public]                                                     
GRANT SELECT ON [dbo].[MPP_NP_Loan] TO [FHLBDM\G-SQL MPF-REO]                                                              
GRANT SELECT ON [dbo].[MPP_P_AND_I_FACT_EOM] TO [FHLBDM\G-SQL Public]                                                      
GRANT SELECT ON [dbo].[MPP_P_AND_I_FACT_EOM] TO [tsvc_HUBFHLBROLink]                                                       
GRANT SELECT ON [dbo].[MPP_REO_Loan] TO [FHLBDM\G-SQL MPF-REO]                                                             
GRANT SELECT ON [dbo].[MPP_REO_Loan_Fact_EOM] TO [FHLBDM\G-Accounting Contractors]                                         
GRANT SELECT ON [dbo].[MPP_REO_Loan_Fact_EOM] TO [FHLBDM\G-FHLB-Accounting Users]                                          
GRANT SELECT ON [dbo].[OLOC] TO [FHLBDM\G-SQL Public]                                                                      
GRANT SELECT ON [dbo].[Other_Accounting_Information] TO [FHLBDM\G-SQL Public]                                              
GRANT SELECT ON [dbo].[Other_Accounting_Information] TO [Intranet_User]                                                    
GRANT SELECT ON [dbo].[p_and_i_special] TO [FHLBDM\G-SQL Public]                                                           
GRANT SELECT ON [dbo].[Pledges] TO [FHLBDM\G-SQL Public]                                                                   
GRANT SELECT ON [dbo].[Pledges] TO [Intranet_User]                                                                         
GRANT SELECT ON [dbo].[Pledges_FACT_EOM] TO [FHLBDM\G-SQL Public]                                                          
GRANT SELECT ON [dbo].[Pledges_FACT_EOM] TO [tsvc_HUBFHLBROLink]                                                           
GRANT SELECT ON [dbo].[Prepayment Fees] TO [FHLBDM\G-SQL Public]                                                           
GRANT SELECT ON [dbo].[Prepayment Fees] TO [Intranet_User]                                                                 
GRANT SELECT ON [dbo].[Prepayment_Fees_FACT_EOM] TO [FHLBDM\G-SQL Public]                                                  
GRANT SELECT ON [dbo].[Prepayment_Fees_FACT_EOM] TO [tsvc_HUBFHLBROLink]                                                   
GRANT SELECT ON [dbo].[Primary_Demand] TO [FHLBDM\G-SQL Public]                                                            
GRANT SELECT ON [dbo].[Principal_Payments] TO [FHLBDM\G-SQL Public]                                                        
GRANT SELECT ON [dbo].[Principal_Payments] TO [Intranet_User]                                                              
GRANT SELECT ON [dbo].[Principal_Schedule] TO [FHLBDM\G-SQL Public]                                                        
GRANT SELECT ON [dbo].[Principal_Schedule] TO [Intranet_User]                                                              
GRANT SELECT ON [dbo].[Principal_Schedule_FACT_EOM] TO [FHLBDM\G-SQL Public]                                               
GRANT SELECT ON [dbo].[Principal_Schedule_FACT_EOM] TO [tsvc_HUBFHLBROLink]                                                
GRANT SELECT ON [dbo].[Principia_Derivative_M2M] TO [FHLBDM\G-SQL Public]                                                  
GRANT SELECT ON [dbo].[Principia_Derivative_M2M_FACT_EOM] TO [FHLBDM\G-SQL Public]                                         
GRANT SELECT ON [dbo].[Principia_Derivative_M2M_FACT_EOM] TO [tsvc_HUBFHLBROLink]                                          
GRANT SELECT ON [dbo].[Principia_Derivative_Termination] TO [FHLBDM\G-SQL Public]                                          
GRANT SELECT ON [dbo].[Principia_Derivative_Termination_FACT_EOM] TO [FHLBDM\G-SQL Public]                                 
GRANT SELECT ON [dbo].[Principia_Derivative_Termination_FACT_EOM] TO [tsvc_HUBFHLBROLink]                                  
GRANT SELECT ON [dbo].[Principia_Expiration_Rpt] TO [FHLBDM\G-FHLB-Developers]                                             
GRANT SELECT ON [dbo].[Principia_Expiration_Rpt] TO [FHLBDM\G-SQL Public]                                                  
GRANT SELECT ON [dbo].[Principia_Expiration_Rpt] TO [Intranet_User]                                                        
GRANT SELECT ON [dbo].[Principia_Hedge_M2M] TO [FHLBDM\G-SQL Public]                                                       
GRANT SELECT ON [dbo].[Principia_Hedge_M2M_FACT_EOM] TO [FHLBDM\G-SQL Public]                                              
GRANT SELECT ON [dbo].[Principia_Hedge_M2M_FACT_EOM] TO [tsvc_HUBFHLBROLink]                                               
GRANT SELECT ON [dbo].[Principia_Hedge_Termination] TO [FHLBDM\G-SQL Public]                                               
GRANT SELECT ON [dbo].[Principia_Hedge_Termination_FACT_EOM] TO [FHLBDM\G-SQL Public]                                      
GRANT SELECT ON [dbo].[Principia_Hedge_Termination_FACT_EOM] TO [tsvc_HUBFHLBROLink]                                       
GRANT SELECT ON [dbo].[Principia_KnockIn_KnockOut_Rpt] TO [FHLBDM\G-FHLB-Developers]                                       
GRANT SELECT ON [dbo].[Principia_KnockIn_KnockOut_Rpt] TO [FHLBDM\G-SQL Public]                                            
GRANT SELECT ON [dbo].[Principia_KnockIn_KnockOut_Rpt] TO [Intranet_User]                                                  
GRANT SELECT ON [dbo].[Principia_Maturity_Rpt] TO [FHLBDM\G-FHLB-Developers]                                               
GRANT SELECT ON [dbo].[Principia_Maturity_Rpt] TO [FHLBDM\G-SQL Public]                                                    
GRANT SELECT ON [dbo].[Principia_Maturity_Rpt] TO [Intranet_User]                                                          
GRANT SELECT ON [dbo].[Principia_Trial_Bal_Fact_EOM] TO [FHLBDM\G-SQL Public]                                              
GRANT SELECT ON [dbo].[Principia_Trial_Bal_Fact_EOM] TO [tsvc_HUBFHLBROLink]                                               
GRANT SELECT ON [dbo].[Principia_Trial_Balance] TO [FHLBDM\G-SQL Public]                                                   
GRANT SELECT ON [dbo].[Principia_Trial_Balance] TO [Intranet_User]                                                         
GRANT SELECT ON [dbo].[Principia_Trial_Balance_FASDM] TO [FHLBDM\G-SQL Public]                                             
GRANT SELECT ON [dbo].[QRM_Advances_Spreads_FACT_EOM] TO [tsvc_HUBFHLBROLink]                                              
GRANT SELECT ON [dbo].[QRM_Source_Amort_Sched_EOM] TO [FHLBDM\G-SQL Public]                                                
GRANT SELECT ON [dbo].[QRM_Source_Amort_Sched_Fact_EOM] TO [FHLBDM\G-SQL Public]                                           
GRANT SELECT ON [dbo].[QRM_source_Call_Sched_EOM] TO [FHLBDM\G-SQL Public]                                                 
GRANT SELECT ON [dbo].[QRM_Source_Call_Sched_Fact_EOM] TO [FHLBDM\G-SQL Public]                                            
GRANT SELECT ON [dbo].[QRM_Source_Call_Verde] TO [FHLBDM\G-SQL Public]                                                     
GRANT SELECT ON [dbo].[QRM_Source_Call_Verde_Fact_EOM] TO [FHLBDM\G-SQL Public]                                            
GRANT SELECT ON [dbo].[QRM_Source_EOM_PC] TO [FHLBDM\G-SQL Public]                                                         
GRANT SELECT ON [dbo].[QRM_Source_FACT_EOM] TO [FHLBDM\G-SQL Public]                                                       
GRANT SELECT ON [dbo].[QRM_Source_Link_Master] TO [FHLBDM\G-SQL Public]                                                    
GRANT SELECT ON [dbo].[QRM_Source_Link_Master_Fact_EOM] TO [FHLBDM\G-SQL Public]                                           
GRANT SELECT ON [dbo].[QRM_SOURCE_Rate_Sched_EOM] TO [FHLBDM\G-SQL Public]                                                 
GRANT SELECT ON [dbo].[QRM_SOURCE_Rate_Sched_Fact_EOM] TO [FHLBDM\G-SQL Public]                                            
GRANT SELECT ON [dbo].[Resale] TO [FHLBDM\G-SQL Public]                                                                    
GRANT SELECT ON [dbo].[Resale] TO [Intranet_User]                                                                          
GRANT SELECT ON [dbo].[Resale_FACT_EOM] TO [FHLBDM\G-SQL Public]                                                           
GRANT SELECT ON [dbo].[Resale_FACT_EOM] TO [tsvc_HUBFHLBROLink]                                                            
GRANT SELECT ON [dbo].[Safekeeping] TO [FHLBDM\G-SQL Public]                                                               
GRANT SELECT ON [dbo].[Safekeeping] TO [Intranet_User]                                                                     
GRANT SELECT ON [dbo].[Safekeeping_Authorized_Users] TO [FHLBDM\G-SQL Public]                                              
GRANT SELECT ON [dbo].[Safekeeping_Authorized_Users] TO [Intranet_User]                                                    
GRANT SELECT ON [dbo].[Safekeeping_Fact_EOM] TO [FHLBDM\G-SQL Public]                                                      
GRANT SELECT ON [dbo].[Safekeeping_Fact_EOM] TO [tsvc_HUBFHLBROLink]                                                       
GRANT SELECT ON [dbo].[Safekeeping_Names_and_Add] TO [FHLBDM\G-SQL Public]                                                 
GRANT SELECT ON [dbo].[Safekeeping_Names_and_Add] TO [Intranet_User]                                                       
GRANT SELECT ON [dbo].[Savings] TO [FHLBDM\G-SQL Public]                                                                   
GRANT SELECT ON [dbo].[Savings] TO [Intranet_User]                                                                         
GRANT SELECT ON [dbo].[Savings_Fact_EOM] TO [FHLBDM\G-SQL Public]                                                          
GRANT SELECT ON [dbo].[Savings_Fact_EOM] TO [tsvc_HUBFHLBROLink]                                                           
GRANT SELECT ON [dbo].[Security_Payments] TO [FHLBDM\G-SQL Public]                                                         
GRANT SELECT ON [dbo].[Security_Payments] TO [Intranet_User]                                                               
GRANT SELECT ON [dbo].[Security_Sales] TO [FHLBDM\G-FHLB-Developers]                                                       
GRANT SELECT ON [dbo].[Security_Sales] TO [FHLBDM\Global- Accounting]                                                      
GRANT SELECT ON [dbo].[Security_Sales] TO [FHLBDM\G-SQL Public]                                                            
GRANT SELECT ON [dbo].[Security_Sales] TO [Intranet_User]                                                                  
GRANT SELECT ON [dbo].[Security_Sales_FACT_EOM] TO [FHLBDM\G-SQL Public]                                                   
GRANT SELECT ON [dbo].[Security_Sales_FACT_EOM] TO [tsvc_HUBFHLBROLink]                                                    
GRANT SELECT ON [dbo].[STKTRN] TO [FHLBDM\G-SQL Public]                                                                    
GRANT SELECT ON [dbo].[STKTRN] TO [Intranet_User]                                                                          
GRANT SELECT ON [dbo].[STKTRN_FACT_EOM] TO [FHLBDM\G-SQL Public]                                                           
GRANT SELECT ON [dbo].[STKTRN_FACT_EOM] TO [tsvc_HUBFHLBROLink]                                                            
GRANT SELECT ON [dbo].[Stock_Assets_V] TO [FHLBDM\G-SQL Public]                                                            
GRANT SELECT ON [dbo].[Stock_Owned] TO [FHLBDM\G-SQL Public]                                                               
GRANT SELECT ON [dbo].[Stock_Owned_Total] TO [FHLBDM\G-SQL Public]                                                         
GRANT SELECT ON [dbo].[Stock_Total] TO [FHLBDM\G-SQL Public]                                                               
GRANT SELECT ON [dbo].[SWAP] TO [FHLBDM\G-SQL Public]                                                                      
GRANT SELECT ON [dbo].[SWAP] TO [Intranet_User]                                                                            
GRANT SELECT ON [dbo].[SWAP_EXP_TRANS_Fact_EOM] TO [FHLBDM\G-SQL Public]                                                   
GRANT SELECT ON [dbo].[SWAP_Fact_EOM] TO [FHLBDM\G-SQL Public]                                                             
GRANT SELECT ON [dbo].[SWAP_Fact_EOM] TO [tsvc_HUBFHLBROLink]                                                              
GRANT SELECT ON [dbo].[Tbl_MPF_Member_Information] TO [FHLBDM\G-SQL Public]                                                
GRANT SELECT ON [dbo].[Tbl_MPF_Member_Information] TO [Intranet_User]                                                      
GRANT SELECT ON [dbo].[Temp_Member_Count] TO [FHLBDM\G-SQL Public]                                                         
GRANT SELECT ON [dbo].[Total_Advances] TO [FHLBDM\G-SQL Public]                                                            
GRANT SELECT ON [dbo].[Unsecured_Exposure] TO [FHLBDM\G-SQL Public]                                                        
GRANT SELECT ON [dbo].[v_CtrPrty_Line_Info] TO [FHLBDM\G-SQL Public]                                                       
GRANT SELECT ON [dbo].[v_MPF_LY_Amort_Fact_EOM] TO [FHLBDM\G-SQL Public]                                                   
GRANT SELECT ON [dbo].[vw_Actively_Linked_Pairs_Schedule_Hedged_Discrepancies_Bonds_EOM_BASE] TO [FHLBDM\G-SQL Public]     
GRANT SELECT ON [dbo].[vw_Actively_Linked_Pairs_Schedule_Hedged_Discrepancies_NotBonds_EOM_BASE] TO [FHLBDM\G-SQL Public]  
GRANT SELECT ON [dbo].[vw_Hedge_Call_Sched_Diffs_Bonds_EOM] TO [FHLBDM\G-SQL Public]                                       
GRANT SELECT ON [dbo].[vw_Hedge_Call_Sched_Diffs_NotBonds_EOM] TO [FHLBDM\G-SQL Public]                                    
GRANT UPDATE ON [dbo].[DSS_Call_and_Amort_Summary] TO [FHLBDM\G-FHLBAPPS-CallBonds Admin]                                  
GRANT UPDATE ON [dbo].[DSS_IAN_Redemption_Notice] TO [FHLBDM\G-FHLBAPPS-CallBonds Admin]                                   
GRANT UPDATE ON [dbo].[dtproperties] TO [public]                                                                           
GRANT UPDATE ON [dbo].[Membership_App_Tracking_Log] TO [FHLBDM\G-FHLBApps-MATS_MFS]                                        
GRANT UPDATE ON [dbo].[Membership_Comments] TO [Credit]                                                                    
GRANT UPDATE ON [dbo].[Membership_Comments] TO [FHLBDM\G-FHLBApps-MATS_MFS]                                                
GRANT UPDATE ON [dbo].[MPF_NP_Loan] TO [FHLBDM\G-SQL MPF-REO]                                                              
GRANT UPDATE ON [dbo].[MPF_REO_Loan] TO [FHLBDM\G-SQL MPF-REO]                                                             
GRANT UPDATE ON [dbo].[MPP_NP_Loan] TO [FHLBDM\G-SQL MPF-REO]                                                              
GRANT UPDATE ON [dbo].[MPP_REO_Loan] TO [FHLBDM\G-SQL MPF-REO]                                                             
-- [-- TYPE LEVEL PERMISSIONS --] --                                                                                       
                                                                                                                           
-- [--DB LEVEL PERMISSIONS --] --                                                                                          
GRANT CONNECT TO [FHLBDM\G-Accounting Contractors]                                                                         
GRANT CONNECT TO [FHLBDM\G-FHLB-Accounting Users]                                                                          
GRANT CONNECT TO [FHLBDM\G-FHLBAPPS-QRM_Reports RO]                                                                        
GRANT CONNECT TO [FHLBDM\G-FHLBAPPS-QRM_Reports]                                                                           
GRANT CONNECT TO [FHLBDM\G-SQL MPF-REO]                                                                                    
GRANT CONNECT TO [FHLBDM\G-SQL Public]                                                                                     
GRANT CONNECT TO [FHLBDM\G-SQL QlikSense RO]                                                                               
GRANT CONNECT TO [FHLBDM\IT Contractors]                                                                                   
GRANT CONNECT TO [FHLBDM\IT-QA-Admin-Testers]                                                                              
GRANT CONNECT TO [FHLBDM\mlevere]                                                                                          
GRANT CONNECT TO [FHLBDM\smartinez]                                                                                        
GRANT CONNECT TO [FHLBDM\UDAHelper]                                                                                        
GRANT CONNECT TO [Intranet_User]                                                                                           
GRANT CONNECT TO [QRM_ETL]                                                                                                 
GRANT CONNECT TO [tsvc_HUBFHLBROLink]                                                                                      
GRANT SHOWPLAN TO [FHLBDM\G-FHLB-Developers]                                                                               
                                                                                                                           
-- [--DB LEVEL SCHEMA PERMISSIONS --] --                                                                                   


