
--stmt                                                                                                                                                                                                                                                                                     
------                                                                                                                                                                                                                                                                                     
-- [-- DB CONTEXT --] --                                                                                                                                                                                                                                                                   
USE [Principia_Interface]                                                                                                                                                                                                                                                                  
                                                                                                                                                                                                                                                                                           
-- [-- DB USERS --] --                                                                                                                                                                                                                                                                     
IF NOT EXISTS (SELECT [name] FROM sys.database_principals WHERE [name] =  'dbo') BEGIN CREATE USER  [dbo] FOR LOGIN [sa] WITH DEFAULT_SCHEMA = [dbo] END;                                                                                                                                  
IF NOT EXISTS (SELECT [name] FROM sys.database_principals WHERE [name] =  'FHLBDM\G-FHLB-Developers') BEGIN CREATE USER  [FHLBDM\G-FHLB-Developers] FOR LOGIN [FHLBDM\G-FHLB-Developers] WITH DEFAULT_SCHEMA = [dbo] END;                                                                  
IF NOT EXISTS (SELECT [name] FROM sys.database_principals WHERE [name] =  'FHLBDM\IT-Divisional Accounting Team') BEGIN CREATE USER  [FHLBDM\IT-Divisional Accounting Team] FOR LOGIN [FHLBDM\IT-Divisional Accounting Team] WITH DEFAULT_SCHEMA = [dbo] END;                              
IF NOT EXISTS (SELECT [name] FROM sys.database_principals WHERE [name] =  'FHLBDM\IT-QA-Admin-Testers') BEGIN CREATE USER  [FHLBDM\IT-QA-Admin-Testers] FOR LOGIN [FHLBDM\IT-QA-Admin-Testers] WITH DEFAULT_SCHEMA = [dbo] END;                                                            
IF NOT EXISTS (SELECT [name] FROM sys.database_principals WHERE [name] =  'FHLBDM\mlevere') BEGIN CREATE USER  [FHLBDM\mlevere] FOR LOGIN [FHLBDM\mlevere] WITH DEFAULT_SCHEMA = [dbo] END;                                                                                                
IF NOT EXISTS (SELECT [name] FROM sys.database_principals WHERE [name] =  'FHLBDM\smartinez') BEGIN CREATE USER  [FHLBDM\smartinez] FOR LOGIN [FHLBDM\smartinez] WITH DEFAULT_SCHEMA = [dbo] END;                                                                                          
IF NOT EXISTS (SELECT [name] FROM sys.database_principals WHERE [name] =  'tsvc_HUBFHLBROLink') BEGIN CREATE USER  [tsvc_HUBFHLBROLink] FOR LOGIN [tsvc_HUBFHLBROLink] WITH DEFAULT_SCHEMA = [dbo] END;                                                                                    
-- [-- ORPHANED USERS --] --                                                                                                                                                                                                                                                               
-- [-- DB ROLES --] --                                                                                                                                                                                                                                                                     
EXEC sp_addrolemember @rolename = 'db_datareader', @membername = 'FHLBDM\G-FHLB-Developers'                                                                                                                                                                                                
EXEC sp_addrolemember @rolename = 'db_datareader', @membername = 'FHLBDM\IT-Divisional Accounting Team'                                                                                                                                                                                    
EXEC sp_addrolemember @rolename = 'db_owner', @membername = 'FHLBDM\IT-QA-Admin-Testers'                                                                                                                                                                                                   
EXEC sp_addrolemember @rolename = 'db_owner', @membername = 'FHLBDM\mlevere'                                                                                                                                                                                                               
EXEC sp_addrolemember @rolename = 'db_owner', @membername = 'FHLBDM\smartinez'                                                                                                                                                                                                             
                                                                                                                                                                                                                                                                                           
-- [-- OBJECT LEVEL PERMISSIONS --] --                                                                                                                                                                                                                                                     
GRANT DELETE ON [dbo].[dtproperties] TO [public]                                                                                                                                                                                                                                           
GRANT EXECUTE ON [dbo].[dt_addtosourcecontrol] TO [public]                                                                                                                                                                                                                                 
GRANT EXECUTE ON [dbo].[dt_addtosourcecontrol_u] TO [public]                                                                                                                                                                                                                               
GRANT EXECUTE ON [dbo].[dt_adduserobject] TO [public]                                                                                                                                                                                                                                      
GRANT EXECUTE ON [dbo].[dt_adduserobject_vcs] TO [public]                                                                                                                                                                                                                                  
GRANT EXECUTE ON [dbo].[dt_checkinobject] TO [public]                                                                                                                                                                                                                                      
GRANT EXECUTE ON [dbo].[dt_checkinobject_u] TO [public]                                                                                                                                                                                                                                    
GRANT EXECUTE ON [dbo].[dt_checkoutobject] TO [public]                                                                                                                                                                                                                                     
GRANT EXECUTE ON [dbo].[dt_checkoutobject_u] TO [public]                                                                                                                                                                                                                                   
GRANT EXECUTE ON [dbo].[dt_displayoaerror] TO [public]                                                                                                                                                                                                                                     
GRANT EXECUTE ON [dbo].[dt_displayoaerror_u] TO [public]                                                                                                                                                                                                                                   
GRANT EXECUTE ON [dbo].[dt_droppropertiesbyid] TO [public]                                                                                                                                                                                                                                 
GRANT EXECUTE ON [dbo].[dt_dropuserobjectbyid] TO [public]                                                                                                                                                                                                                                 
GRANT EXECUTE ON [dbo].[dt_generateansiname] TO [public]                                                                                                                                                                                                                                   
GRANT EXECUTE ON [dbo].[dt_getobjwithprop] TO [public]                                                                                                                                                                                                                                     
GRANT EXECUTE ON [dbo].[dt_getobjwithprop_u] TO [public]                                                                                                                                                                                                                                   
GRANT EXECUTE ON [dbo].[dt_getpropertiesbyid] TO [public]                                                                                                                                                                                                                                  
GRANT EXECUTE ON [dbo].[dt_getpropertiesbyid_u] TO [public]                                                                                                                                                                                                                                
GRANT EXECUTE ON [dbo].[dt_getpropertiesbyid_vcs] TO [public]                                                                                                                                                                                                                              
GRANT EXECUTE ON [dbo].[dt_getpropertiesbyid_vcs_u] TO [public]                                                                                                                                                                                                                            
GRANT EXECUTE ON [dbo].[dt_isundersourcecontrol] TO [public]                                                                                                                                                                                                                               
GRANT EXECUTE ON [dbo].[dt_isundersourcecontrol_u] TO [public]                                                                                                                                                                                                                             
GRANT EXECUTE ON [dbo].[dt_removefromsourcecontrol] TO [public]                                                                                                                                                                                                                            
GRANT EXECUTE ON [dbo].[dt_setpropertybyid] TO [public]                                                                                                                                                                                                                                    
GRANT EXECUTE ON [dbo].[dt_setpropertybyid_u] TO [public]                                                                                                                                                                                                                                  
GRANT EXECUTE ON [dbo].[dt_validateloginparams] TO [public]                                                                                                                                                                                                                                
GRANT EXECUTE ON [dbo].[dt_validateloginparams_u] TO [public]                                                                                                                                                                                                                              
GRANT EXECUTE ON [dbo].[dt_vcsenabled] TO [public]                                                                                                                                                                                                                                         
GRANT EXECUTE ON [dbo].[dt_verstamp006] TO [public]                                                                                                                                                                                                                                        
GRANT EXECUTE ON [dbo].[dt_verstamp007] TO [public]                                                                                                                                                                                                                                        
GRANT EXECUTE ON [dbo].[dt_whocheckedout] TO [public]                                                                                                                                                                                                                                      
GRANT EXECUTE ON [dbo].[dt_whocheckedout_u] TO [public]                                                                                                                                                                                                                                    
GRANT INSERT ON [dbo].[dtproperties] TO [public]                                                                                                                                                                                                                                           
GRANT REFERENCES ON [dbo].[dtproperties] TO [public]                                                                                                                                                                                                                                       
GRANT SELECT ON [dbo].[dtproperties] TO [public]                                                                                                                                                                                                                                           
GRANT SELECT ON [dbo].[HET_Results] TO [tsvc_HUBFHLBROLink]                                                                                                                                                                                                                                
GRANT UPDATE ON [dbo].[dtproperties] TO [public]                                                                                                                                                                                                                                           
-- [-- TYPE LEVEL PERMISSIONS --] --                                                                                                                                                                                                                                                       
                                                                                                                                                                                                                                                                                           
-- [--DB LEVEL PERMISSIONS --] --                                                                                                                                                                                                                                                          
GRANT CONNECT TO [FHLBDM\G-FHLB-Developers]                                                                                                                                                                                                                                                
GRANT CONNECT TO [FHLBDM\IT-Divisional Accounting Team]                                                                                                                                                                                                                                    
GRANT CONNECT TO [FHLBDM\IT-QA-Admin-Testers]                                                                                                                                                                                                                                              
GRANT CONNECT TO [FHLBDM\mlevere]                                                                                                                                                                                                                                                          
GRANT CONNECT TO [FHLBDM\smartinez]                                                                                                                                                                                                                                                        
GRANT CONNECT TO [tsvc_HUBFHLBROLink]                                                                                                                                                                                                                                                      
GRANT SHOWPLAN TO [FHLBDM\G-FHLB-Developers]                                                                                                                                                                                                                                               
GRANT VIEW DEFINITION TO [FHLBDM\G-FHLB-Developers]                                                                                                                                                                                                                                        
                                                                                                                                                                                                                                                                                           
-- [--DB LEVEL SCHEMA PERMISSIONS --] --                                                                                                                                                                                                                                                   


