
--stmt                                                                                                                                                                                                                       
------                                                                                                                                                                                                                       
-- [-- DB CONTEXT --] --                                                                                                                                                                                                     
USE [SalesLogix]                                                                                                                                                                                                             
                                                                                                                                                                                                                             
-- [-- DB USERS --] --                                                                                                                                                                                                       
IF NOT EXISTS (SELECT [name] FROM sys.database_principals WHERE [name] =  'dbo') BEGIN CREATE USER  [dbo] FOR LOGIN [FHLBDM\dataware] WITH DEFAULT_SCHEMA = [dbo] END;                                                       
IF NOT EXISTS (SELECT [name] FROM sys.database_principals WHERE [name] =  'etluser') BEGIN CREATE USER  [etluser] FOR LOGIN [FHLBDM\ETLUser] WITH DEFAULT_SCHEMA = [etluser] END;                                            
IF NOT EXISTS (SELECT [name] FROM sys.database_principals WHERE [name] =  'FHLBDM\G-SQL Public') BEGIN CREATE USER  [FHLBDM\G-SQL Public] FOR LOGIN [FHLBDM\G-SQL Public] WITH DEFAULT_SCHEMA = [dbo] END;                   
IF NOT EXISTS (SELECT [name] FROM sys.database_principals WHERE [name] =  'FHLBDM\mlevere') BEGIN CREATE USER  [FHLBDM\mlevere] FOR LOGIN [FHLBDM\mlevere] WITH DEFAULT_SCHEMA = [dbo] END;                                  
IF NOT EXISTS (SELECT [name] FROM sys.database_principals WHERE [name] =  'FHLBDM\psvc_SalesLogixHub') BEGIN CREATE USER  [FHLBDM\psvc_SalesLogixHub] FOR LOGIN [FHLBDM\psvc_SalesLogixHub] WITH DEFAULT_SCHEMA = [dbo] END; 
IF NOT EXISTS (SELECT [name] FROM sys.database_principals WHERE [name] =  'FHLBDM\tsvc_SalesLogixHub') BEGIN CREATE USER  [FHLBDM\tsvc_SalesLogixHub] FOR LOGIN [FHLBDM\tsvc_SalesLogixHub] WITH DEFAULT_SCHEMA = [dbo] END; 
IF NOT EXISTS (SELECT [name] FROM sys.database_principals WHERE [name] =  'FHLBDM\tsvc_slx_marketo') BEGIN CREATE USER  [FHLBDM\tsvc_slx_marketo] FOR LOGIN [FHLBDM\tsvc_slx_marketo] WITH DEFAULT_SCHEMA = [dbo] END;       
IF NOT EXISTS (SELECT [name] FROM sys.database_principals WHERE [name] =  'Intranet_User') BEGIN CREATE USER  [Intranet_User] FOR LOGIN [intranet_user] WITH DEFAULT_SCHEMA = [dbo] END;                                     
IF NOT EXISTS (SELECT [name] FROM sys.database_principals WHERE [name] =  'sysdba') BEGIN CREATE USER  [sysdba] FOR LOGIN [sysdba] WITH DEFAULT_SCHEMA = [sysdba] END;                                                       
IF NOT EXISTS (SELECT [name] FROM sys.database_principals WHERE [name] =  'tAHP_external_user') BEGIN CREATE USER  [tAHP_external_user] FOR LOGIN [tAHP_external_user] WITH DEFAULT_SCHEMA = [dbo] END;                      
-- [-- ORPHANED USERS --] --                                                                                                                                                                                                 
-- [-- DB ROLES --] --                                                                                                                                                                                                       
EXEC sp_addrolemember @rolename = 'db_datareader', @membername = 'etluser'                                                                                                                                                   
EXEC sp_addrolemember @rolename = 'db_datareader', @membername = 'FHLBDM\DMendenh'                                                                                                                                           
EXEC sp_addrolemember @rolename = 'db_datareader', @membername = 'FHLBDM\G-SQL Public'                                                                                                                                       
EXEC sp_addrolemember @rolename = 'db_datareader', @membername = 'FHLBDM\psvc_SalesLogixHub'                                                                                                                                 
EXEC sp_addrolemember @rolename = 'db_datareader', @membername = 'FHLBDM\tsvc_SalesLogixHub'                                                                                                                                 
EXEC sp_addrolemember @rolename = 'db_datareader', @membername = 'Intranet_User'                                                                                                                                             
EXEC sp_addrolemember @rolename = 'db_datareader', @membername = 'tAHP_external_user'                                                                                                                                        
EXEC sp_addrolemember @rolename = 'db_owner', @membername = 'FHLBDM\mlevere'                                                                                                                                                 
EXEC sp_addrolemember @rolename = 'db_owner', @membername = 'sysdba'                                                                                                                                                         
                                                                                                                                                                                                                             
-- [-- OBJECT LEVEL PERMISSIONS --] --                                                                                                                                                                                       
GRANT DELETE ON [dbo].[dtproperties] TO [public]                                                                                                                                                                             
GRANT DELETE ON [dbo].[HC_ID_Update] TO [FHLBDM\G-SQL Public]                                                                                                                                                                
GRANT DELETE ON [dbo].[SNLCSV] TO [FHLBDM\G-SQL Public]                                                                                                                                                                      
GRANT EXECUTE ON [dbo].[dt_addtosourcecontrol] TO [public]                                                                                                                                                                   
GRANT EXECUTE ON [dbo].[dt_addtosourcecontrol_u] TO [public]                                                                                                                                                                 
GRANT EXECUTE ON [dbo].[dt_adduserobject] TO [public]                                                                                                                                                                        
GRANT EXECUTE ON [dbo].[dt_adduserobject_vcs] TO [public]                                                                                                                                                                    
GRANT EXECUTE ON [dbo].[dt_checkinobject] TO [public]                                                                                                                                                                        
GRANT EXECUTE ON [dbo].[dt_checkinobject_u] TO [public]                                                                                                                                                                      
GRANT EXECUTE ON [dbo].[dt_checkoutobject] TO [public]                                                                                                                                                                       
GRANT EXECUTE ON [dbo].[dt_checkoutobject_u] TO [public]                                                                                                                                                                     
GRANT EXECUTE ON [dbo].[dt_displayoaerror] TO [public]                                                                                                                                                                       
GRANT EXECUTE ON [dbo].[dt_displayoaerror_u] TO [public]                                                                                                                                                                     
GRANT EXECUTE ON [dbo].[dt_droppropertiesbyid] TO [public]                                                                                                                                                                   
GRANT EXECUTE ON [dbo].[dt_dropuserobjectbyid] TO [public]                                                                                                                                                                   
GRANT EXECUTE ON [dbo].[dt_generateansiname] TO [public]                                                                                                                                                                     
GRANT EXECUTE ON [dbo].[dt_getobjwithprop] TO [public]                                                                                                                                                                       
GRANT EXECUTE ON [dbo].[dt_getobjwithprop_u] TO [public]                                                                                                                                                                     
GRANT EXECUTE ON [dbo].[dt_getpropertiesbyid] TO [public]                                                                                                                                                                    
GRANT EXECUTE ON [dbo].[dt_getpropertiesbyid_u] TO [public]                                                                                                                                                                  
GRANT EXECUTE ON [dbo].[dt_getpropertiesbyid_vcs] TO [public]                                                                                                                                                                
GRANT EXECUTE ON [dbo].[dt_getpropertiesbyid_vcs_u] TO [public]                                                                                                                                                              
GRANT EXECUTE ON [dbo].[dt_isundersourcecontrol] TO [public]                                                                                                                                                                 
GRANT EXECUTE ON [dbo].[dt_isundersourcecontrol_u] TO [public]                                                                                                                                                               
GRANT EXECUTE ON [dbo].[dt_removefromsourcecontrol] TO [public]                                                                                                                                                              
GRANT EXECUTE ON [dbo].[dt_setpropertybyid] TO [public]                                                                                                                                                                      
GRANT EXECUTE ON [dbo].[dt_setpropertybyid_u] TO [public]                                                                                                                                                                    
GRANT EXECUTE ON [dbo].[dt_validateloginparams] TO [public]                                                                                                                                                                  
GRANT EXECUTE ON [dbo].[dt_validateloginparams_u] TO [public]                                                                                                                                                                
GRANT EXECUTE ON [dbo].[dt_vcsenabled] TO [public]                                                                                                                                                                           
GRANT EXECUTE ON [dbo].[dt_verstamp006] TO [public]                                                                                                                                                                          
GRANT EXECUTE ON [dbo].[dt_verstamp007] TO [public]                                                                                                                                                                          
GRANT EXECUTE ON [dbo].[dt_whocheckedout] TO [public]                                                                                                                                                                        
GRANT EXECUTE ON [dbo].[dt_whocheckedout_u] TO [public]                                                                                                                                                                      
GRANT EXECUTE ON [dbo].[usp_IsMemberActive] TO [Intranet_User]                                                                                                                                                               
GRANT INSERT ON [dbo].[dtproperties] TO [public]                                                                                                                                                                             
GRANT INSERT ON [dbo].[HC_ID_Update] TO [FHLBDM\G-SQL Public]                                                                                                                                                                
GRANT INSERT ON [dbo].[SNLCSV] TO [FHLBDM\G-SQL Public]                                                                                                                                                                      
GRANT REFERENCES ON [dbo].[dtproperties] TO [public]                                                                                                                                                                         
GRANT SELECT ON [dbo].[CODEGEN] TO [FHLBDM\G-SQL Public]                                                                                                                                                                     
GRANT SELECT ON [dbo].[Contact_Summary] TO [FHLBDM\G-SQL Public]                                                                                                                                                             
GRANT SELECT ON [dbo].[ContactSummaryView] TO [FHLBDM\G-SQL Public]                                                                                                                                                          
GRANT SELECT ON [dbo].[Customer_Summaryzz] TO [FHLBDM\G-SQL Public]                                                                                                                                                          
GRANT SELECT ON [dbo].[CustomerSummaryView] TO [FHLBDM\G-SQL Public]                                                                                                                                                         
GRANT SELECT ON [dbo].[dtproperties] TO [public]                                                                                                                                                                             
GRANT SELECT ON [dbo].[HC_ID_Update] TO [FHLBDM\G-SQL Public]                                                                                                                                                                
GRANT SELECT ON [dbo].[SalesLogixInitLoad] TO [FHLBDM\G-SQL Public]                                                                                                                                                          
GRANT SELECT ON [dbo].[SNLCSV] TO [FHLBDM\G-SQL Public]                                                                                                                                                                      
GRANT SELECT ON [sysdba].[ACCOUNT] TO [FHLBDM\tsvc_slx_marketo]                                                                                                                                                              
GRANT SELECT ON [sysdba].[ACCOUNTINGSYSINFO] TO [FHLBDM\G-SQL Public]                                                                                                                                                        
GRANT SELECT ON [sysdba].[ACCOUNTSUMMARY] TO [FHLBDM\G-SQL Public]                                                                                                                                                           
GRANT SELECT ON [sysdba].[ACT_USERDEF] TO [FHLBDM\G-SQL Public]                                                                                                                                                              
GRANT SELECT ON [sysdba].[ACTIVITY] TO [FHLBDM\G-SQL Public]                                                                                                                                                                 
GRANT SELECT ON [sysdba].[ADDRESS] TO [FHLBDM\G-SQL Public]                                                                                                                                                                  
GRANT SELECT ON [sysdba].[ADHOCGROUP] TO [FHLBDM\G-SQL Public]                                                                                                                                                               
GRANT SELECT ON [sysdba].[ADMINROLES] TO [FHLBDM\G-SQL Public]                                                                                                                                                               
GRANT SELECT ON [sysdba].[AGENTS] TO [FHLBDM\G-SQL Public]                                                                                                                                                                   
GRANT SELECT ON [sysdba].[ALERT] TO [FHLBDM\G-SQL Public]                                                                                                                                                                    
GRANT SELECT ON [sysdba].[ALERTNOTIFY] TO [FHLBDM\G-SQL Public]                                                                                                                                                              
GRANT SELECT ON [sysdba].[AREACATEGORYISSUE] TO [FHLBDM\G-SQL Public]                                                                                                                                                        
GRANT SELECT ON [sysdba].[ASSOCIATION] TO [FHLBDM\G-SQL Public]                                                                                                                                                              
GRANT SELECT ON [sysdba].[ATTACHMENT] TO [FHLBDM\G-SQL Public]                                                                                                                                                               
GRANT SELECT ON [sysdba].[BRANCHOPTIONS] TO [FHLBDM\G-SQL Public]                                                                                                                                                            
GRANT SELECT ON [sysdba].[CALCULATEDFIELDDATA] TO [FHLBDM\G-SQL Public]                                                                                                                                                      
GRANT SELECT ON [sysdba].[CAMPAIGNCONTACT] TO [FHLBDM\G-SQL Public]                                                                                                                                                          
GRANT SELECT ON [sysdba].[COMPETITOR] TO [FHLBDM\G-SQL Public]                                                                                                                                                               
GRANT SELECT ON [sysdba].[CONCURRENTUSER] TO [FHLBDM\G-SQL Public]                                                                                                                                                           
GRANT SELECT ON [sysdba].[CONTACT] TO [FHLBDM\G-SQL Public]                                                                                                                                                                  
GRANT SELECT ON [sysdba].[CONTACT] TO [FHLBDM\tsvc_slx_marketo]                                                                                                                                                              
GRANT SELECT ON [sysdba].[CONTACT_LEADSOURCE] TO [FHLBDM\G-SQL Public]                                                                                                                                                       
GRANT SELECT ON [sysdba].[CONTACTEXTENSION] TO [FHLBDM\G-SQL Public]                                                                                                                                                         
GRANT SELECT ON [sysdba].[CONTACTLINK] TO [FHLBDM\G-SQL Public]                                                                                                                                                              
GRANT SELECT ON [sysdba].[CONTACTRESPONSE] TO [FHLBDM\G-SQL Public]                                                                                                                                                          
GRANT SELECT ON [sysdba].[CONTRACTITEM] TO [FHLBDM\G-SQL Public]                                                                                                                                                             
GRANT SELECT ON [sysdba].[CONTROLCLASSES] TO [FHLBDM\G-SQL Public]                                                                                                                                                           
GRANT SELECT ON [sysdba].[CUSTOMSETTINGS] TO [FHLBDM\G-SQL Public]                                                                                                                                                           
GRANT SELECT ON [sysdba].[CUSTOMSETTINGS_] TO [FHLBDM\G-SQL Public]                                                                                                                                                          
GRANT SELECT ON [sysdba].[DEFECT] TO [FHLBDM\G-SQL Public]                                                                                                                                                                   
GRANT SELECT ON [sysdba].[DEFECTACTIVITYITEM] TO [FHLBDM\G-SQL Public]                                                                                                                                                       
GRANT SELECT ON [sysdba].[DEFECTACTIVITYRATE] TO [FHLBDM\G-SQL Public]                                                                                                                                                       
GRANT SELECT ON [sysdba].[DEFECTHISTORY] TO [FHLBDM\G-SQL Public]                                                                                                                                                            
GRANT SELECT ON [sysdba].[DEFECTLINKACTSTATUS] TO [FHLBDM\G-SQL Public]                                                                                                                                                      
GRANT SELECT ON [sysdba].[DEFECTPROBLEM] TO [FHLBDM\G-SQL Public]                                                                                                                                                            
GRANT SELECT ON [sysdba].[DEFECTPRODUCT] TO [FHLBDM\G-SQL Public]                                                                                                                                                            
GRANT SELECT ON [sysdba].[DEFECTRMA] TO [FHLBDM\G-SQL Public]                                                                                                                                                                
GRANT SELECT ON [sysdba].[DEFECTSOLUTION] TO [FHLBDM\G-SQL Public]                                                                                                                                                           
GRANT SELECT ON [sysdba].[DEFECTTICKET] TO [FHLBDM\G-SQL Public]                                                                                                                                                             
GRANT SELECT ON [sysdba].[EVENT] TO [FHLBDM\G-SQL Public]                                                                                                                                                                    
GRANT SELECT ON [sysdba].[EXCHANGERATE] TO [FHLBDM\G-SQL Public]                                                                                                                                                             
GRANT SELECT ON [sysdba].[FHLB_ACCESSTYPE] TO [FHLBDM\G-SQL Public]                                                                                                                                                          
GRANT SELECT ON [sysdba].[FHLB_ACCOUNTEXT] TO [FHLBDM\tsvc_slx_marketo]                                                                                                                                                      
GRANT SELECT ON [sysdba].[FHLB_ADDRESSEXT] TO [FHLBDM\G-SQL Public]                                                                                                                                                          
GRANT SELECT ON [sysdba].[FHLB_ADDRESSMIRROR] TO [FHLBDM\G-SQL Public]                                                                                                                                                       
GRANT SELECT ON [sysdba].[FHLB_AGREEMENT] TO [FHLBDM\G-SQL Public]                                                                                                                                                           
GRANT SELECT ON [sysdba].[FHLB_APPINFO] TO [FHLBDM\G-SQL Public]                                                                                                                                                             
GRANT SELECT ON [sysdba].[FHLB_APPLICATION] TO [FHLBDM\tsvc_slx_marketo]                                                                                                                                                     
GRANT SELECT ON [sysdba].[FHLB_AUTHORITY] TO [FHLBDM\G-SQL Public]                                                                                                                                                           
GRANT SELECT ON [sysdba].[FHLB_BOD] TO [FHLBDM\G-SQL Public]                                                                                                                                                                 
GRANT SELECT ON [sysdba].[FHLB_BOD_ASSOC] TO [FHLBDM\G-SQL Public]                                                                                                                                                           
GRANT SELECT ON [sysdba].[FHLB_BOD_TERM] TO [FHLBDM\G-SQL Public]                                                                                                                                                            
GRANT SELECT ON [sysdba].[FHLB_CONTACTEXT] TO [FHLBDM\tsvc_slx_marketo]                                                                                                                                                      
GRANT SELECT ON [sysdba].[FHLB_CONTACTMIRROR] TO [FHLBDM\G-SQL Public]                                                                                                                                                       
GRANT SELECT ON [sysdba].[FHLB_CONTACTROLE] TO [FHLBDM\G-SQL Public]                                                                                                                                                         
GRANT SELECT ON [sysdba].[FHLB_CONTACTROLE] TO [FHLBDM\tsvc_slx_marketo]                                                                                                                                                     
GRANT SELECT ON [sysdba].[FHLB_CREDITREVIEW] TO [FHLBDM\G-SQL Public]                                                                                                                                                        
GRANT SELECT ON [sysdba].[FHLB_CREDITSTATUS] TO [FHLBDM\G-SQL Public]                                                                                                                                                        
GRANT SELECT ON [sysdba].[FHLB_DELETEDRECORDSLOG] TO [FHLBDM\tsvc_slx_marketo]                                                                                                                                               
GRANT SELECT ON [sysdba].[FHLB_DELETELOG] TO [FHLBDM\tsvc_slx_marketo]                                                                                                                                                       
GRANT SELECT ON [sysdba].[FHLB_EADVANT] TO [FHLBDM\G-SQL Public]                                                                                                                                                             
GRANT SELECT ON [sysdba].[FHLB_EXAMINFO] TO [FHLBDM\G-SQL Public]                                                                                                                                                            
GRANT SELECT ON [sysdba].[FHLB_GENINFO] TO [FHLBDM\G-SQL Public]                                                                                                                                                             
GRANT SELECT ON [sysdba].[FHLB_GENINFO] TO [FHLBDM\tsvc_slx_marketo]                                                                                                                                                         
GRANT SELECT ON [sysdba].[FHLB_LEADSOURCEMIRROR] TO [FHLBDM\G-SQL Public]                                                                                                                                                    
GRANT SELECT ON [sysdba].[FHLB_RELSUMMARY] TO [FHLBDM\G-SQL Public]                                                                                                                                                          
GRANT SELECT ON [sysdba].[FHLB_ROLE] TO [FHLBDM\G-SQL Public]                                                                                                                                                                
GRANT SELECT ON [sysdba].[FHLB_ROLEDEPT] TO [FHLBDM\G-SQL Public]                                                                                                                                                            
GRANT SELECT ON [sysdba].[FHLB_ROLELEVEL] TO [FHLBDM\G-SQL Public]                                                                                                                                                           
GRANT SELECT ON [sysdba].[GM_PROFILE] TO [FHLBDM\G-SQL Public]                                                                                                                                                               
GRANT SELECT ON [sysdba].[HISTORY] TO [FHLBDM\G-SQL Public]                                                                                                                                                                  
GRANT SELECT ON [sysdba].[INDEXDEFINITION] TO [FHLBDM\G-SQL Public]                                                                                                                                                          
GRANT SELECT ON [sysdba].[INDEXGENERAL] TO [FHLBDM\G-SQL Public]                                                                                                                                                             
GRANT SELECT ON [sysdba].[INDEXSCHEDULE] TO [FHLBDM\G-SQL Public]                                                                                                                                                            
GRANT SELECT ON [sysdba].[INDEXSTATS] TO [FHLBDM\G-SQL Public]                                                                                                                                                               
GRANT SELECT ON [sysdba].[INDEXUPDATES] TO [FHLBDM\G-SQL Public]                                                                                                                                                             
GRANT SELECT ON [sysdba].[JOINDATA] TO [FHLBDM\G-SQL Public]                                                                                                                                                                 
GRANT SELECT ON [sysdba].[LANGUAGETRANSLATION] TO [FHLBDM\G-SQL Public]                                                                                                                                                      
GRANT SELECT ON [sysdba].[LIBRARYDIRS] TO [FHLBDM\G-SQL Public]                                                                                                                                                              
GRANT SELECT ON [sysdba].[LIBRARYDOCS] TO [FHLBDM\G-SQL Public]                                                                                                                                                              
GRANT SELECT ON [sysdba].[LICENSES] TO [FHLBDM\G-SQL Public]                                                                                                                                                                 
GRANT SELECT ON [sysdba].[LITREQUESTITEM] TO [FHLBDM\G-SQL Public]                                                                                                                                                           
GRANT SELECT ON [sysdba].[LOOKUP] TO [FHLBDM\G-SQL Public]                                                                                                                                                                   
GRANT SELECT ON [sysdba].[META_CLASS] TO [FHLBDM\G-SQL Public]                                                                                                                                                               
GRANT SELECT ON [sysdba].[META_CLASSFUNCTION] TO [FHLBDM\G-SQL Public]                                                                                                                                                       
GRANT SELECT ON [sysdba].[META_FUNCTION] TO [FHLBDM\G-SQL Public]                                                                                                                                                            
GRANT SELECT ON [sysdba].[MRTK_ADDRESSINFO] TO [FHLBDM\G-SQL Public]                                                                                                                                                         
GRANT SELECT ON [sysdba].[NOTIFICATIONCONFIG] TO [FHLBDM\G-SQL Public]                                                                                                                                                       
GRANT SELECT ON [sysdba].[OPPORTUNITY_CAMPAIGN] TO [FHLBDM\G-SQL Public]                                                                                                                                                     
GRANT SELECT ON [sysdba].[OPPORTUNITY_COMPETITOR] TO [FHLBDM\G-SQL Public]                                                                                                                                                   
GRANT SELECT ON [sysdba].[OPPORTUNITY_CONTACT] TO [FHLBDM\G-SQL Public]                                                                                                                                                      
GRANT SELECT ON [sysdba].[OPPORTUNITY_USER] TO [FHLBDM\G-SQL Public]                                                                                                                                                         
GRANT SELECT ON [sysdba].[PACKAGEPRODUCT] TO [FHLBDM\G-SQL Public]                                                                                                                                                           
GRANT SELECT ON [sysdba].[PACKAGES] TO [FHLBDM\G-SQL Public]                                                                                                                                                                 
GRANT SELECT ON [sysdba].[PLUGIN] TO [FHLBDM\G-SQL Public]                                                                                                                                                                   
GRANT SELECT ON [sysdba].[PLUGINATTACHMENT] TO [FHLBDM\G-SQL Public]                                                                                                                                                         
GRANT SELECT ON [sysdba].[PLUGINEXTS] TO [FHLBDM\G-SQL Public]                                                                                                                                                               
GRANT SELECT ON [sysdba].[POSTALCODE] TO [FHLBDM\G-SQL Public]                                                                                                                                                               
GRANT SELECT ON [sysdba].[PROCEDURECONTRIBUTOR] TO [FHLBDM\G-SQL Public]                                                                                                                                                     
GRANT SELECT ON [sysdba].[PROCEDURES] TO [FHLBDM\G-SQL Public]                                                                                                                                                               
GRANT SELECT ON [sysdba].[PROCESS] TO [FHLBDM\G-SQL Public]                                                                                                                                                                  
GRANT SELECT ON [sysdba].[PROJECT] TO [FHLBDM\G-SQL Public]                                                                                                                                                                  
GRANT SELECT ON [sysdba].[PROJECTPLUGIN] TO [FHLBDM\G-SQL Public]                                                                                                                                                            
GRANT SELECT ON [sysdba].[REALIGNPROFILE] TO [FHLBDM\G-SQL Public]                                                                                                                                                           
GRANT SELECT ON [sysdba].[REMOTETASKS] TO [FHLBDM\G-SQL Public]                                                                                                                                                              
GRANT SELECT ON [sysdba].[RESOURCELIST] TO [FHLBDM\G-SQL Public]                                                                                                                                                             
GRANT SELECT ON [sysdba].[RESOURCESCHEDULE] TO [FHLBDM\G-SQL Public]                                                                                                                                                         
GRANT SELECT ON [sysdba].[RESYNCTABLEDEFS] TO [FHLBDM\G-SQL Public]                                                                                                                                                          
GRANT SELECT ON [sysdba].[RMARECEIVEDPRODUCT] TO [FHLBDM\G-SQL Public]                                                                                                                                                       
GRANT SELECT ON [sysdba].[RMASHIPPEDPRODUCT] TO [FHLBDM\G-SQL Public]                                                                                                                                                        
GRANT SELECT ON [sysdba].[SALESLOGIXLOAD] TO [FHLBDM\G-SQL Public]                                                                                                                                                           
GRANT SELECT ON [sysdba].[SEC_FUNCTIONOWNER] TO [FHLBDM\G-SQL Public]                                                                                                                                                        
GRANT SELECT ON [sysdba].[SECCODE] TO [FHLBDM\G-SQL Public]                                                                                                                                                                  
GRANT SELECT ON [sysdba].[SECCODEJOINS] TO [FHLBDM\G-SQL Public]                                                                                                                                                             
GRANT SELECT ON [sysdba].[SECPROFILE] TO [FHLBDM\G-SQL Public]                                                                                                                                                               
GRANT SELECT ON [sysdba].[SECRIGHTS] TO [FHLBDM\G-SQL Public]                                                                                                                                                                
GRANT SELECT ON [sysdba].[SECRIGHTSCACHE] TO [FHLBDM\G-SQL Public]                                                                                                                                                           
GRANT SELECT ON [sysdba].[SECTABLEDEFS] TO [FHLBDM\G-SQL Public]                                                                                                                                                             
GRANT SELECT ON [sysdba].[SITE] TO [FHLBDM\G-SQL Public]                                                                                                                                                                     
GRANT SELECT ON [sysdba].[SITEOPTIONS] TO [FHLBDM\G-SQL Public]                                                                                                                                                              
GRANT SELECT ON [sysdba].[SKILLCATEGORY] TO [FHLBDM\G-SQL Public]                                                                                                                                                            
GRANT SELECT ON [sysdba].[SLX_RELEASEDPLUGINS] TO [FHLBDM\G-SQL Public]                                                                                                                                                      
GRANT SELECT ON [sysdba].[SLXBUNDLE] TO [FHLBDM\G-SQL Public]                                                                                                                                                                
GRANT SELECT ON [sysdba].[SLXTRIGGERS] TO [FHLBDM\G-SQL Public]                                                                                                                                                              
GRANT SELECT ON [sysdba].[SUBSCRIPTIONRULES] TO [FHLBDM\G-SQL Public]                                                                                                                                                        
GRANT SELECT ON [sysdba].[SYNCFILETRACKING] TO [FHLBDM\G-SQL Public]                                                                                                                                                         
GRANT SELECT ON [sysdba].[SYNCJOBHISTORY] TO [FHLBDM\G-SQL Public]                                                                                                                                                           
GRANT SELECT ON [sysdba].[SYNCSEQUENCING] TO [FHLBDM\G-SQL Public]                                                                                                                                                           
GRANT SELECT ON [sysdba].[SYNCSERVER] TO [FHLBDM\G-SQL Public]                                                                                                                                                               
GRANT SELECT ON [sysdba].[SYNCSERVICEFILE] TO [FHLBDM\G-SQL Public]                                                                                                                                                          
GRANT SELECT ON [sysdba].[SYNCTRANSFER] TO [FHLBDM\G-SQL Public]                                                                                                                                                             
GRANT SELECT ON [sysdba].[SYSTEMINFO] TO [FHLBDM\G-SQL Public]                                                                                                                                                               
GRANT SELECT ON [sysdba].[TICKET] TO [FHLBDM\G-SQL Public]                                                                                                                                                                   
GRANT SELECT ON [sysdba].[TICKETACCOUNTPRODUCT] TO [FHLBDM\G-SQL Public]                                                                                                                                                     
GRANT SELECT ON [sysdba].[TICKETACTIVITY] TO [FHLBDM\G-SQL Public]                                                                                                                                                           
GRANT SELECT ON [sysdba].[TICKETACTIVITYITEM] TO [FHLBDM\G-SQL Public]                                                                                                                                                       
GRANT SELECT ON [sysdba].[TICKETACTIVITYRATE] TO [FHLBDM\G-SQL Public]                                                                                                                                                       
GRANT SELECT ON [sysdba].[TICKETAREAOWNER] TO [FHLBDM\G-SQL Public]                                                                                                                                                          
GRANT SELECT ON [sysdba].[TICKETHISTORY] TO [FHLBDM\G-SQL Public]                                                                                                                                                            
GRANT SELECT ON [sysdba].[TICKETPROBLEM] TO [FHLBDM\G-SQL Public]                                                                                                                                                            
GRANT SELECT ON [sysdba].[TICKETPROBLEMSOLUTIONTYPE] TO [FHLBDM\G-SQL Public]                                                                                                                                                
GRANT SELECT ON [sysdba].[TICKETPROBLEMTYPE] TO [FHLBDM\G-SQL Public]                                                                                                                                                        
GRANT SELECT ON [sysdba].[TICKETSOLUTION] TO [FHLBDM\G-SQL Public]                                                                                                                                                           
GRANT SELECT ON [sysdba].[TICKETSOLUTIONTYPE] TO [FHLBDM\G-SQL Public]                                                                                                                                                       
GRANT SELECT ON [sysdba].[URGENCY] TO [FHLBDM\G-SQL Public]                                                                                                                                                                  
GRANT SELECT ON [sysdba].[USER_ACTIVITY] TO [FHLBDM\G-SQL Public]                                                                                                                                                            
GRANT SELECT ON [sysdba].[USERCALENDAR] TO [FHLBDM\G-SQL Public]                                                                                                                                                             
GRANT SELECT ON [sysdba].[USERINFO] TO [FHLBDM\G-SQL Public]                                                                                                                                                                 
GRANT SELECT ON [sysdba].[USERINFO] TO [FHLBDM\tsvc_slx_marketo]                                                                                                                                                             
GRANT SELECT ON [sysdba].[USERNOTIFICATION] TO [FHLBDM\G-SQL Public]                                                                                                                                                         
GRANT SELECT ON [sysdba].[USEROPTIONDEF] TO [FHLBDM\G-SQL Public]                                                                                                                                                            
GRANT SELECT ON [sysdba].[USEROPTIONS] TO [FHLBDM\G-SQL Public]                                                                                                                                                              
GRANT SELECT ON [sysdba].[USERPROFILE] TO [FHLBDM\G-SQL Public]                                                                                                                                                              
GRANT SELECT ON [sysdba].[USERSECURITY] TO [FHLBDM\G-SQL Public]                                                                                                                                                             
GRANT SELECT ON [sysdba].[USERSUBSCRIPTION] TO [FHLBDM\G-SQL Public]                                                                                                                                                         
GRANT SELECT ON [sysdba].[USERVIEW] TO [FHLBDM\G-SQL Public]                                                                                                                                                                 
GRANT SELECT ON [sysdba].[WORKAREA] TO [FHLBDM\G-SQL Public]                                                                                                                                                                 
GRANT UPDATE ON [dbo].[dtproperties] TO [public]                                                                                                                                                                             
GRANT UPDATE ON [dbo].[HC_ID_Update] TO [FHLBDM\G-SQL Public]                                                                                                                                                                
GRANT UPDATE ON [dbo].[SNLCSV] TO [FHLBDM\G-SQL Public]                                                                                                                                                                      
-- [-- TYPE LEVEL PERMISSIONS --] --                                                                                                                                                                                         
GRANT REFERENCES ON [dbo].[ADDRESS] TO [public]                                                                                                                                                                              
GRANT REFERENCES ON [dbo].[BOOLEAN] TO [public]                                                                                                                                                                              
GRANT REFERENCES ON [dbo].[CITY] TO [public]                                                                                                                                                                                 
GRANT REFERENCES ON [dbo].[COMMENTS] TO [public]                                                                                                                                                                             
GRANT REFERENCES ON [dbo].[COUNTRY] TO [public]                                                                                                                                                                              
GRANT REFERENCES ON [dbo].[CURRENCY] TO [public]                                                                                                                                                                             
GRANT REFERENCES ON [dbo].[DATABLOB] TO [public]                                                                                                                                                                             
GRANT REFERENCES ON [dbo].[DATE] TO [public]                                                                                                                                                                                 
GRANT REFERENCES ON [dbo].[DESCRIPTION] TO [public]                                                                                                                                                                          
GRANT REFERENCES ON [dbo].[EMAIL] TO [public]                                                                                                                                                                                
GRANT REFERENCES ON [dbo].[FILENAME] TO [public]                                                                                                                                                                             
GRANT REFERENCES ON [dbo].[LONGCOMMENTS] TO [public]                                                                                                                                                                         
GRANT REFERENCES ON [dbo].[NAME] TO [public]                                                                                                                                                                                 
GRANT REFERENCES ON [dbo].[PERCENTAGE] TO [public]                                                                                                                                                                           
GRANT REFERENCES ON [dbo].[PHONE] TO [public]                                                                                                                                                                                
GRANT REFERENCES ON [dbo].[PICKLIST] TO [public]                                                                                                                                                                             
GRANT REFERENCES ON [dbo].[PICKLISTID] TO [public]                                                                                                                                                                           
GRANT REFERENCES ON [dbo].[POSTALCODE] TO [public]                                                                                                                                                                           
GRANT REFERENCES ON [dbo].[SHORTCOMMENTS] TO [public]                                                                                                                                                                        
GRANT REFERENCES ON [dbo].[SHORTNAME] TO [public]                                                                                                                                                                            
GRANT REFERENCES ON [dbo].[STANDARDID] TO [public]                                                                                                                                                                           
GRANT REFERENCES ON [dbo].[STATE] TO [public]                                                                                                                                                                                
GRANT REFERENCES ON [dbo].[STRINGLIST] TO [public]                                                                                                                                                                           
GRANT REFERENCES ON [dbo].[TEXTBLOB] TO [public]                                                                                                                                                                             
                                                                                                                                                                                                                             
-- [--DB LEVEL PERMISSIONS --] --                                                                                                                                                                                            
GRANT CONNECT TO [etluser]                                                                                                                                                                                                   
GRANT CONNECT TO [FHLBDM\DMendenh]                                                                                                                                                                                           
GRANT CONNECT TO [FHLBDM\G-SQL Public]                                                                                                                                                                                       
GRANT CONNECT TO [FHLBDM\mlevere]                                                                                                                                                                                            
GRANT CONNECT TO [FHLBDM\psvc_SalesLogixHub]                                                                                                                                                                                 
GRANT CONNECT TO [FHLBDM\tsvc_SalesLogixHub]                                                                                                                                                                                 
GRANT CONNECT TO [FHLBDM\tsvc_slx_marketo]                                                                                                                                                                                   
GRANT CONNECT TO [Intranet_User]                                                                                                                                                                                             
GRANT CONNECT TO [sysdba]                                                                                                                                                                                                    
GRANT CONNECT TO [tAHP_external_user]                                                                                                                                                                                        
                                                                                                                                                                                                                             
-- [--DB LEVEL SCHEMA PERMISSIONS --] --                                                                                                                                                                                     


