
--stmt                                                                                                                                                                                                                                                           
------                                                                                                                                                                                                                                                           
-- [-- DB CONTEXT --] --                                                                                                                                                                                                                                         
USE [QRM_Source]                                                                                                                                                                                                                                                 
                                                                                                                                                                                                                                                                 
-- [-- DB USERS --] --                                                                                                                                                                                                                                           
IF NOT EXISTS (SELECT [name] FROM sys.database_principals WHERE [name] =  'dbo') BEGIN CREATE USER  [dbo] FOR LOGIN [sa] WITH DEFAULT_SCHEMA = [dbo] END;                                                                                                        
IF NOT EXISTS (SELECT [name] FROM sys.database_principals WHERE [name] =  'FHLBDM\econpjh') BEGIN CREATE USER  [FHLBDM\econpjh] FOR LOGIN [FHLBDM\ECONPJH] WITH DEFAULT_SCHEMA = [dbo] END;                                                                      
IF NOT EXISTS (SELECT [name] FROM sys.database_principals WHERE [name] =  'FHLBDM\G-FHLBAPPS-QRM_Book_Value') BEGIN CREATE USER  [FHLBDM\G-FHLBAPPS-QRM_Book_Value] FOR LOGIN [FHLBDM\G-FHLBAPPS-QRM_Book_Value] WITH DEFAULT_SCHEMA = [dbo] END;                
IF NOT EXISTS (SELECT [name] FROM sys.database_principals WHERE [name] =  'FHLBDM\G-FHLBAPPS-QRM_Extract') BEGIN CREATE USER  [FHLBDM\G-FHLBAPPS-QRM_Extract] FOR LOGIN [FHLBDM\G-FHLBAPPS-QRM_Extract] WITH DEFAULT_SCHEMA = [dbo] END;                         
IF NOT EXISTS (SELECT [name] FROM sys.database_principals WHERE [name] =  'FHLBDM\G-FHLBAPPS-QRM_Overrides') BEGIN CREATE USER  [FHLBDM\G-FHLBAPPS-QRM_Overrides] FOR LOGIN [FHLBDM\G-FHLBAPPS-QRM_Overrides] WITH DEFAULT_SCHEMA = [dbo] END;                   
IF NOT EXISTS (SELECT [name] FROM sys.database_principals WHERE [name] =  'FHLBDM\G-FHLBAPPS-QRM_User_Rate_Schedule RO') BEGIN CREATE USER  [FHLBDM\G-FHLBAPPS-QRM_User_Rate_Schedule RO] FOR LOGIN [FHLBDM\G-FHLBAPPS-QRM_User_Rate_Schedule RO] WITH DEFAULT...
IF NOT EXISTS (SELECT [name] FROM sys.database_principals WHERE [name] =  'FHLBDM\G-FHLBAPPS-QRM_User_Rate_Schedule') BEGIN CREATE USER  [FHLBDM\G-FHLBAPPS-QRM_User_Rate_Schedule] FOR LOGIN [FHLBDM\G-FHLBAPPS-QRM_User_Rate_Schedule] WITH DEFAULT_SCHEMA =...
IF NOT EXISTS (SELECT [name] FROM sys.database_principals WHERE [name] =  'FHLBDM\G-FHLB-Developers') BEGIN CREATE USER  [FHLBDM\G-FHLB-Developers] FOR LOGIN [FHLBDM\G-FHLB-Developers] WITH DEFAULT_SCHEMA = [dbo] END;                                        
IF NOT EXISTS (SELECT [name] FROM sys.database_principals WHERE [name] =  'FHLBDM\G-SQL Public') BEGIN CREATE USER  [FHLBDM\G-SQL Public] FOR LOGIN [FHLBDM\G-SQL Public] WITH DEFAULT_SCHEMA = [dbo] END;                                                       
IF NOT EXISTS (SELECT [name] FROM sys.database_principals WHERE [name] =  'FHLBDM\g-sql-qrm_m2m_Spread') BEGIN CREATE USER  [FHLBDM\g-sql-qrm_m2m_Spread] FOR LOGIN [FHLBDM\g-sql-qrm_m2m_Spread] WITH DEFAULT_SCHEMA = [dbo] END;                               
IF NOT EXISTS (SELECT [name] FROM sys.database_principals WHERE [name] =  'FHLBDM\IT-QA-Admin-Testers') BEGIN CREATE USER  [FHLBDM\IT-QA-Admin-Testers] FOR LOGIN [FHLBDM\IT-QA-Admin-Testers] WITH DEFAULT_SCHEMA = [dbo] END;                                  
IF NOT EXISTS (SELECT [name] FROM sys.database_principals WHERE [name] =  'FHLBDM\mlevere') BEGIN CREATE USER  [FHLBDM\mlevere] FOR LOGIN [FHLBDM\mlevere] WITH DEFAULT_SCHEMA = [dbo] END;                                                                      
IF NOT EXISTS (SELECT [name] FROM sys.database_principals WHERE [name] =  'QRM_ETL') BEGIN CREATE USER  [QRM_ETL] FOR LOGIN [QRM_ETL] WITH DEFAULT_SCHEMA = [dbo] END;                                                                                           
IF NOT EXISTS (SELECT [name] FROM sys.database_principals WHERE [name] =  'tsvc_HUBFHLBROLink') BEGIN CREATE USER  [tsvc_HUBFHLBROLink] FOR LOGIN [tsvc_HUBFHLBROLink] WITH DEFAULT_SCHEMA = [dbo] END;                                                          
-- [-- ORPHANED USERS --] --                                                                                                                                                                                                                                     
-- [-- DB ROLES --] --                                                                                                                                                                                                                                           
EXEC sp_addrolemember @rolename = 'db_datareader', @membername = 'FHLBDM\econpjh'                                                                                                                                                                                
EXEC sp_addrolemember @rolename = 'db_datareader', @membername = 'FHLBDM\G-FHLB-Developers'                                                                                                                                                                      
EXEC sp_addrolemember @rolename = 'db_datareader', @membername = 'FHLBDM\G-SQL Public'                                                                                                                                                                           
EXEC sp_addrolemember @rolename = 'db_datareader', @membername = 'QRM_ETL'                                                                                                                                                                                       
EXEC sp_addrolemember @rolename = 'db_owner', @membername = 'FHLBDM\IT-QA-Admin-Testers'                                                                                                                                                                         
EXEC sp_addrolemember @rolename = 'db_owner', @membername = 'FHLBDM\mlevere'                                                                                                                                                                                     
                                                                                                                                                                                                                                                                 
-- [-- OBJECT LEVEL PERMISSIONS --] --                                                                                                                                                                                                                           
GRANT DELETE ON [dbo].[dtproperties] TO [public]                                                                                                                                                                                                                 
GRANT DELETE ON [dbo].[QRM_Book_Value_MBS] TO [FHLBDM\G-FHLBAPPS-QRM_Book_Value]                                                                                                                                                                                 
GRANT DELETE ON [dbo].[QRM_Manual_M2M_Spread] TO [FHLBDM\G-FHLBAPPS-QRM_Extract]                                                                                                                                                                                 
GRANT DELETE ON [dbo].[QRM_Manual_Rate_Index_Code] TO [FHLBDM\G-FHLBAPPS-QRM_Extract]                                                                                                                                                                            
GRANT DELETE ON [dbo].[QRM_USER_AMORT_SCHEDULE] TO [FHLBDM\G-FHLBAPPS-QRM_Extract]                                                                                                                                                                               
GRANT DELETE ON [dbo].[QRM_USER_CO_PSA_Note] TO [FHLBDM\G-FHLBAPPS-QRM_Extract]                                                                                                                                                                                  
GRANT DELETE ON [dbo].[QRM_USER_DUSBondData] TO [FHLBDM\G-FHLBAPPS-QRM_Extract]                                                                                                                                                                                  
GRANT DELETE ON [dbo].[QRM_USER_Economic_Hedges] TO [FHLBDM\G-FHLBAPPS-QRM_Extract]                                                                                                                                                                              
GRANT DELETE ON [dbo].[QRM_USER_MPF_Prices] TO [FHLBDM\G-FHLBAPPS-QRM_Extract]                                                                                                                                                                                   
GRANT DELETE ON [dbo].[QRM_USER_MPF_Prices] TO [FHLBDM\G-FHLB-Developers]                                                                                                                                                                                        
GRANT DELETE ON [dbo].[QRM_USER_MPP_Prices] TO [FHLBDM\G-FHLBAPPS-QRM_Extract]                                                                                                                                                                                   
GRANT DELETE ON [dbo].[QRM_USER_Overrides] TO [FHLBDM\G-FHLBAPPS-QRM_Overrides]                                                                                                                                                                                  
GRANT DELETE ON [dbo].[QRM_USER_PSA_Note_Street_Price] TO [FHLBDM\G-FHLBAPPS-QRM_Extract]                                                                                                                                                                        
GRANT DELETE ON [dbo].[QRM_USER_Rate_Schedule] TO [FHLBDM\G-FHLBAPPS-QRM_Extract]                                                                                                                                                                                
GRANT DELETE ON [dbo].[QRM_USER_Rate_Schedule] TO [FHLBDM\G-FHLBAPPS-QRM_User_Rate_Schedule]                                                                                                                                                                     
GRANT DELETE ON [dbo].[QRM_USER_TBA_Prices] TO [FHLBDM\G-FHLBAPPS-QRM_Extract]                                                                                                                                                                                   
GRANT EXECUTE ON [dbo].[dt_addtosourcecontrol] TO [public]                                                                                                                                                                                                       
GRANT EXECUTE ON [dbo].[dt_addtosourcecontrol_u] TO [public]                                                                                                                                                                                                     
GRANT EXECUTE ON [dbo].[dt_adduserobject] TO [public]                                                                                                                                                                                                            
GRANT EXECUTE ON [dbo].[dt_adduserobject_vcs] TO [public]                                                                                                                                                                                                        
GRANT EXECUTE ON [dbo].[dt_checkinobject] TO [public]                                                                                                                                                                                                            
GRANT EXECUTE ON [dbo].[dt_checkinobject_u] TO [public]                                                                                                                                                                                                          
GRANT EXECUTE ON [dbo].[dt_checkoutobject] TO [public]                                                                                                                                                                                                           
GRANT EXECUTE ON [dbo].[dt_checkoutobject_u] TO [public]                                                                                                                                                                                                         
GRANT EXECUTE ON [dbo].[dt_displayoaerror] TO [public]                                                                                                                                                                                                           
GRANT EXECUTE ON [dbo].[dt_displayoaerror_u] TO [public]                                                                                                                                                                                                         
GRANT EXECUTE ON [dbo].[dt_droppropertiesbyid] TO [public]                                                                                                                                                                                                       
GRANT EXECUTE ON [dbo].[dt_dropuserobjectbyid] TO [public]                                                                                                                                                                                                       
GRANT EXECUTE ON [dbo].[dt_generateansiname] TO [public]                                                                                                                                                                                                         
GRANT EXECUTE ON [dbo].[dt_getobjwithprop] TO [public]                                                                                                                                                                                                           
GRANT EXECUTE ON [dbo].[dt_getobjwithprop_u] TO [public]                                                                                                                                                                                                         
GRANT EXECUTE ON [dbo].[dt_getpropertiesbyid] TO [public]                                                                                                                                                                                                        
GRANT EXECUTE ON [dbo].[dt_getpropertiesbyid_u] TO [public]                                                                                                                                                                                                      
GRANT EXECUTE ON [dbo].[dt_getpropertiesbyid_vcs] TO [public]                                                                                                                                                                                                    
GRANT EXECUTE ON [dbo].[dt_getpropertiesbyid_vcs_u] TO [public]                                                                                                                                                                                                  
GRANT EXECUTE ON [dbo].[dt_isundersourcecontrol] TO [public]                                                                                                                                                                                                     
GRANT EXECUTE ON [dbo].[dt_isundersourcecontrol_u] TO [public]                                                                                                                                                                                                   
GRANT EXECUTE ON [dbo].[dt_removefromsourcecontrol] TO [public]                                                                                                                                                                                                  
GRANT EXECUTE ON [dbo].[dt_setpropertybyid] TO [public]                                                                                                                                                                                                          
GRANT EXECUTE ON [dbo].[dt_setpropertybyid_u] TO [public]                                                                                                                                                                                                        
GRANT EXECUTE ON [dbo].[dt_validateloginparams] TO [public]                                                                                                                                                                                                      
GRANT EXECUTE ON [dbo].[dt_validateloginparams_u] TO [public]                                                                                                                                                                                                    
GRANT EXECUTE ON [dbo].[dt_vcsenabled] TO [public]                                                                                                                                                                                                               
GRANT EXECUTE ON [dbo].[dt_verstamp006] TO [public]                                                                                                                                                                                                              
GRANT EXECUTE ON [dbo].[dt_verstamp007] TO [public]                                                                                                                                                                                                              
GRANT EXECUTE ON [dbo].[dt_whocheckedout] TO [public]                                                                                                                                                                                                            
GRANT EXECUTE ON [dbo].[dt_whocheckedout_u] TO [public]                                                                                                                                                                                                          
GRANT INSERT ON [dbo].[dtproperties] TO [public]                                                                                                                                                                                                                 
GRANT INSERT ON [dbo].[QRM_Book_Value_MBS] TO [FHLBDM\G-FHLBAPPS-QRM_Book_Value]                                                                                                                                                                                 
GRANT INSERT ON [dbo].[QRM_Manual_M2M_Spread] TO [FHLBDM\G-FHLBAPPS-QRM_Extract]                                                                                                                                                                                 
GRANT INSERT ON [dbo].[QRM_Manual_Rate_Index_Code] TO [FHLBDM\G-FHLBAPPS-QRM_Extract]                                                                                                                                                                            
GRANT INSERT ON [dbo].[QRM_USER_AMORT_SCHEDULE] TO [FHLBDM\G-FHLBAPPS-QRM_Extract]                                                                                                                                                                               
GRANT INSERT ON [dbo].[QRM_USER_CO_PSA_Note] TO [FHLBDM\G-FHLBAPPS-QRM_Extract]                                                                                                                                                                                  
GRANT INSERT ON [dbo].[QRM_USER_DUSBondData] TO [FHLBDM\G-FHLBAPPS-QRM_Extract]                                                                                                                                                                                  
GRANT INSERT ON [dbo].[QRM_USER_Economic_Hedges] TO [FHLBDM\G-FHLBAPPS-QRM_Extract]                                                                                                                                                                              
GRANT INSERT ON [dbo].[QRM_USER_MPF_Prices] TO [FHLBDM\G-FHLBAPPS-QRM_Extract]                                                                                                                                                                                   
GRANT INSERT ON [dbo].[QRM_USER_MPF_Prices] TO [FHLBDM\G-FHLB-Developers]                                                                                                                                                                                        
GRANT INSERT ON [dbo].[QRM_USER_MPP_Prices] TO [FHLBDM\G-FHLBAPPS-QRM_Extract]                                                                                                                                                                                   
GRANT INSERT ON [dbo].[QRM_USER_Overrides] TO [FHLBDM\econpjh]                                                                                                                                                                                                   
GRANT INSERT ON [dbo].[QRM_USER_Overrides] TO [FHLBDM\G-FHLBAPPS-QRM_Overrides]                                                                                                                                                                                  
GRANT INSERT ON [dbo].[QRM_USER_PSA_Note_Street_Price] TO [FHLBDM\G-FHLBAPPS-QRM_Extract]                                                                                                                                                                        
GRANT INSERT ON [dbo].[QRM_USER_Rate_Schedule] TO [FHLBDM\G-FHLBAPPS-QRM_Extract]                                                                                                                                                                                
GRANT INSERT ON [dbo].[QRM_USER_Rate_Schedule] TO [FHLBDM\G-FHLBAPPS-QRM_User_Rate_Schedule]                                                                                                                                                                     
GRANT INSERT ON [dbo].[QRM_USER_TBA_Prices] TO [FHLBDM\G-FHLBAPPS-QRM_Extract]                                                                                                                                                                                   
GRANT REFERENCES ON [dbo].[dtproperties] TO [public]                                                                                                                                                                                                             
GRANT SELECT ON [dbo].[dtproperties] TO [public]                                                                                                                                                                                                                 
GRANT SELECT ON [dbo].[QRM] TO [FHLBDM\G-SQL Public]                                                                                                                                                                                                             
GRANT SELECT ON [dbo].[QRM_Advance_Pricing] TO [FHLBDM\G-SQL Public]                                                                                                                                                                                             
GRANT SELECT ON [dbo].[QRM_AMORT_SCHED] TO [FHLBDM\G-SQL Public]                                                                                                                                                                                                 
GRANT SELECT ON [dbo].[QRM_AMORT_SCHED] TO [public]                                                                                                                                                                                                              
GRANT SELECT ON [dbo].[QRM_Book_Value_MBS] TO [FHLBDM\G-FHLBAPPS-QRM_Book_Value]                                                                                                                                                                                 
GRANT SELECT ON [dbo].[QRM_Book_Value_MBS] TO [FHLBDM\G-SQL Public]                                                                                                                                                                                              
GRANT SELECT ON [dbo].[QRM_Book_Value_Spread_Sheet_Tbl] TO [FHLBDM\G-SQL Public]                                                                                                                                                                                 
GRANT SELECT ON [dbo].[QRM_CALL_SCHED] TO [FHLBDM\G-SQL Public]                                                                                                                                                                                                  
GRANT SELECT ON [dbo].[QRM_CALL_SCHED] TO [public]                                                                                                                                                                                                               
GRANT SELECT ON [dbo].[QRM_CO_PSA_Note] TO [FHLBDM\G-SQL Public]                                                                                                                                                                                                 
GRANT SELECT ON [dbo].[QRM_Daily_External_Tbl_WO36720] TO [FHLBDM\G-SQL Public]                                                                                                                                                                                  
GRANT SELECT ON [dbo].[QRM_INV_GNMA_ARM] TO [FHLBDM\G-SQL Public]                                                                                                                                                                                                
GRANT SELECT ON [dbo].[QRM_M2M_Temp_Spread] TO [FHLBDM\G-SQL Public]                                                                                                                                                                                             
GRANT SELECT ON [dbo].[QRM_Manual_M2M_Spread] TO [FHLBDM\G-FHLBAPPS-QRM_Extract]                                                                                                                                                                                 
GRANT SELECT ON [dbo].[QRM_Manual_M2M_Spread] TO [FHLBDM\G-SQL Public]                                                                                                                                                                                           
GRANT SELECT ON [dbo].[QRM_Manual_Rate_Index_Code] TO [FHLBDM\G-FHLBAPPS-QRM_Extract]                                                                                                                                                                            
GRANT SELECT ON [dbo].[QRM_Manual_Rate_Index_Code] TO [FHLBDM\G-SQL Public]                                                                                                                                                                                      
GRANT SELECT ON [dbo].[QRM_PSA_POOL] TO [FHLBDM\G-SQL Public]                                                                                                                                                                                                    
GRANT SELECT ON [dbo].[QRM_SFT_AC] TO [FHLBDM\G-SQL Public]                                                                                                                                                                                                      
GRANT SELECT ON [dbo].[qrm_source_rate_sched_fact_eod] TO [FHLBDM\G-SQL Public]                                                                                                                                                                                  
GRANT SELECT ON [dbo].[QRM_TBA_Hedge] TO [FHLBDM\G-SQL Public]                                                                                                                                                                                                   
GRANT SELECT ON [dbo].[QRM_USER_AMORT_SCHEDULE] TO [FHLBDM\G-FHLBAPPS-QRM_Extract]                                                                                                                                                                               
GRANT SELECT ON [dbo].[QRM_USER_CO_PSA_Note] TO [FHLBDM\G-FHLBAPPS-QRM_Extract]                                                                                                                                                                                  
GRANT SELECT ON [dbo].[QRM_USER_DUSBondData] TO [FHLBDM\G-FHLBAPPS-QRM_Extract]                                                                                                                                                                                  
GRANT SELECT ON [dbo].[QRM_USER_Economic_Hedges] TO [FHLBDM\G-FHLBAPPS-QRM_Extract]                                                                                                                                                                              
GRANT SELECT ON [dbo].[QRM_USER_MPF_Prices] TO [FHLBDM\G-FHLBAPPS-QRM_Extract]                                                                                                                                                                                   
GRANT SELECT ON [dbo].[QRM_USER_MPF_Prices] TO [FHLBDM\G-FHLB-Developers]                                                                                                                                                                                        
GRANT SELECT ON [dbo].[QRM_USER_MPP_Prices] TO [FHLBDM\G-FHLBAPPS-QRM_Extract]                                                                                                                                                                                   
GRANT SELECT ON [dbo].[QRM_USER_Overrides] TO [FHLBDM\econpjh]                                                                                                                                                                                                   
GRANT SELECT ON [dbo].[QRM_USER_Overrides] TO [FHLBDM\G-FHLBAPPS-QRM_Overrides]                                                                                                                                                                                  
GRANT SELECT ON [dbo].[QRM_USER_Overrides] TO [FHLBDM\G-SQL Public]                                                                                                                                                                                              
GRANT SELECT ON [dbo].[QRM_USER_PSA_Note_Street_Price] TO [FHLBDM\G-FHLBAPPS-QRM_Extract]                                                                                                                                                                        
GRANT SELECT ON [dbo].[QRM_USER_Rate_Schedule] TO [FHLBDM\G-FHLBAPPS-QRM_Extract]                                                                                                                                                                                
GRANT SELECT ON [dbo].[QRM_USER_Rate_Schedule] TO [FHLBDM\G-FHLBAPPS-QRM_User_Rate_Schedule RO]                                                                                                                                                                  
GRANT SELECT ON [dbo].[QRM_USER_Rate_Schedule] TO [FHLBDM\G-FHLBAPPS-QRM_User_Rate_Schedule]                                                                                                                                                                     
GRANT SELECT ON [dbo].[QRM_USER_TBA_Prices] TO [FHLBDM\G-FHLBAPPS-QRM_Extract]                                                                                                                                                                                   
GRANT SELECT ON [dbo].[v_QRM_Daily_External_TBL_balance] TO [FHLBDM\G-SQL Public]                                                                                                                                                                                
GRANT SELECT ON [extract].[Market_Price_WO39945] TO [tsvc_HUBFHLBROLink]                                                                                                                                                                                         
GRANT UPDATE ON [dbo].[dtproperties] TO [public]                                                                                                                                                                                                                 
GRANT UPDATE ON [dbo].[QRM_Book_Value_MBS] TO [FHLBDM\G-FHLBAPPS-QRM_Book_Value]                                                                                                                                                                                 
GRANT UPDATE ON [dbo].[QRM_Manual_M2M_Spread] TO [FHLBDM\G-FHLBAPPS-QRM_Extract]                                                                                                                                                                                 
GRANT UPDATE ON [dbo].[QRM_Manual_Rate_Index_Code] TO [FHLBDM\G-FHLBAPPS-QRM_Extract]                                                                                                                                                                            
GRANT UPDATE ON [dbo].[QRM_USER_AMORT_SCHEDULE] TO [FHLBDM\G-FHLBAPPS-QRM_Extract]                                                                                                                                                                               
GRANT UPDATE ON [dbo].[QRM_USER_CO_PSA_Note] TO [FHLBDM\G-FHLBAPPS-QRM_Extract]                                                                                                                                                                                  
GRANT UPDATE ON [dbo].[QRM_USER_DUSBondData] TO [FHLBDM\G-FHLBAPPS-QRM_Extract]                                                                                                                                                                                  
GRANT UPDATE ON [dbo].[QRM_USER_Economic_Hedges] TO [FHLBDM\G-FHLBAPPS-QRM_Extract]                                                                                                                                                                              
GRANT UPDATE ON [dbo].[QRM_USER_MPF_Prices] TO [FHLBDM\G-FHLBAPPS-QRM_Extract]                                                                                                                                                                                   
GRANT UPDATE ON [dbo].[QRM_USER_MPF_Prices] TO [FHLBDM\G-FHLB-Developers]                                                                                                                                                                                        
GRANT UPDATE ON [dbo].[QRM_USER_MPP_Prices] TO [FHLBDM\G-FHLBAPPS-QRM_Extract]                                                                                                                                                                                   
GRANT UPDATE ON [dbo].[QRM_USER_Overrides] TO [FHLBDM\G-FHLBAPPS-QRM_Overrides]                                                                                                                                                                                  
GRANT UPDATE ON [dbo].[QRM_USER_PSA_Note_Street_Price] TO [FHLBDM\G-FHLBAPPS-QRM_Extract]                                                                                                                                                                        
GRANT UPDATE ON [dbo].[QRM_USER_Rate_Schedule] TO [FHLBDM\G-FHLBAPPS-QRM_Extract]                                                                                                                                                                                
GRANT UPDATE ON [dbo].[QRM_USER_Rate_Schedule] TO [FHLBDM\G-FHLBAPPS-QRM_User_Rate_Schedule]                                                                                                                                                                     
GRANT UPDATE ON [dbo].[QRM_USER_TBA_Prices] TO [FHLBDM\G-FHLBAPPS-QRM_Extract]                                                                                                                                                                                   
-- [-- TYPE LEVEL PERMISSIONS --] --                                                                                                                                                                                                                             
                                                                                                                                                                                                                                                                 
-- [--DB LEVEL PERMISSIONS --] --                                                                                                                                                                                                                                
GRANT CONNECT TO [FHLBDM\econpjh]                                                                                                                                                                                                                                
GRANT CONNECT TO [FHLBDM\G-FHLBAPPS-QRM_Book_Value]                                                                                                                                                                                                              
GRANT CONNECT TO [FHLBDM\G-FHLBAPPS-QRM_Extract]                                                                                                                                                                                                                 
GRANT CONNECT TO [FHLBDM\G-FHLBAPPS-QRM_Overrides]                                                                                                                                                                                                               
GRANT CONNECT TO [FHLBDM\G-FHLBAPPS-QRM_User_Rate_Schedule RO]                                                                                                                                                                                                   
GRANT CONNECT TO [FHLBDM\G-FHLBAPPS-QRM_User_Rate_Schedule]                                                                                                                                                                                                      
GRANT CONNECT TO [FHLBDM\G-FHLB-Developers]                                                                                                                                                                                                                      
GRANT CONNECT TO [FHLBDM\G-SQL Public]                                                                                                                                                                                                                           
GRANT CONNECT TO [FHLBDM\g-sql-qrm_m2m_Spread]                                                                                                                                                                                                                   
GRANT CONNECT TO [FHLBDM\IT-QA-Admin-Testers]                                                                                                                                                                                                                    
GRANT CONNECT TO [FHLBDM\mlevere]                                                                                                                                                                                                                                
GRANT CONNECT TO [QRM_ETL]                                                                                                                                                                                                                                       
GRANT CONNECT TO [tsvc_HUBFHLBROLink]                                                                                                                                                                                                                            
GRANT SHOWPLAN TO [FHLBDM\G-FHLB-Developers]                                                                                                                                                                                                                     
GRANT VIEW DEFINITION TO [FHLBDM\G-FHLB-Developers]                                                                                                                                                                                                              
                                                                                                                                                                                                                                                                 
-- [--DB LEVEL SCHEMA PERMISSIONS --] --                                                                                                                                                                                                                         


