
--stmt                                                                                                                                                                                                                                                           
------                                                                                                                                                                                                                                                           
-- [-- DB CONTEXT --] --                                                                                                                                                                                                                                         
USE [eom_pc]                                                                                                                                                                                                                                                     
                                                                                                                                                                                                                                                                 
-- [-- DB USERS --] --                                                                                                                                                                                                                                           
IF NOT EXISTS (SELECT [name] FROM sys.database_principals WHERE [name] =  'dbo') BEGIN CREATE USER  [dbo] FOR LOGIN [sa] WITH DEFAULT_SCHEMA = [dbo] END;                                                                                                        
IF NOT EXISTS (SELECT [name] FROM sys.database_principals WHERE [name] =  'FHLBDM\G-FHLB-Developers') BEGIN CREATE USER  [FHLBDM\G-FHLB-Developers] FOR LOGIN [FHLBDM\G-FHLB-Developers] WITH DEFAULT_SCHEMA = [dbo] END;                                        
IF NOT EXISTS (SELECT [name] FROM sys.database_principals WHERE [name] =  'FHLBDM\Global- Accounting') BEGIN CREATE USER  [FHLBDM\Global- Accounting] FOR LOGIN [FHLBDM\Global- Accounting] WITH DEFAULT_SCHEMA = [dbo] END;                                     
IF NOT EXISTS (SELECT [name] FROM sys.database_principals WHERE [name] =  'FHLBDM\G-SQL Public') BEGIN CREATE USER  [FHLBDM\G-SQL Public] FOR LOGIN [FHLBDM\G-SQL Public] WITH DEFAULT_SCHEMA = [dbo] END;                                                       
-- [-- ORPHANED USERS --] --                                                                                                                                                                                                                                     
-- [-- DB ROLES --] --                                                                                                                                                                                                                                           
EXEC sp_addrolemember @rolename = 'db_datareader', @membername = 'FHLBDM\Global- Accounting'                                                                                                                                                                     
EXEC sp_addrolemember @rolename = 'db_owner', @membername = 'FHLBDM\G-FHLB-Developers'                                                                                                                                                                           
EXEC sp_addrolemember @rolename = 'eom_pc_RO', @membername = 'FHLBDM\G-FHLB-Developers'                                                                                                                                                                          
EXEC sp_addrolemember @rolename = 'eom_pc_RO', @membername = 'FHLBDM\G-SQL Public'                                                                                                                                                                               
                                                                                                                                                                                                                                                                 
-- [-- OBJECT LEVEL PERMISSIONS --] --                                                                                                                                                                                                                           
GRANT DELETE ON [dbo].[dtproperties] TO [public]                                                                                                                                                                                                                 
GRANT DELETE ON [dbo].[GL_Info] TO [eom_pc_data_writer]                                                                                                                                                                                                          
GRANT DELETE ON [dbo].[Trial_Adjustments_Fact_EOM] TO [eom_pc_data_writer]                                                                                                                                                                                       
GRANT DELETE ON [dbo].[TrialOrder_Sorting] TO [eom_pc_data_writer]                                                                                                                                                                                               
GRANT DELETE ON [dbo].[TrialSubtotal_Codes] TO [eom_pc_data_writer]                                                                                                                                                                                              
GRANT DELETE ON [dbo].[TrialSubtotal_Detail] TO [eom_pc_data_writer]                                                                                                                                                                                             
GRANT DELETE ON [dbo].[TrialSummary_Codes] TO [eom_pc_data_writer]                                                                                                                                                                                               
GRANT EXECUTE ON [dbo].[dt_addtosourcecontrol] TO [public]                                                                                                                                                                                                       
GRANT EXECUTE ON [dbo].[dt_addtosourcecontrol_u] TO [public]                                                                                                                                                                                                     
GRANT EXECUTE ON [dbo].[dt_adduserobject] TO [public]                                                                                                                                                                                                            
GRANT EXECUTE ON [dbo].[dt_adduserobject_vcs] TO [public]                                                                                                                                                                                                        
GRANT EXECUTE ON [dbo].[dt_checkinobject] TO [public]                                                                                                                                                                                                            
GRANT EXECUTE ON [dbo].[dt_checkinobject_u] TO [public]                                                                                                                                                                                                          
GRANT EXECUTE ON [dbo].[dt_checkoutobject] TO [public]                                                                                                                                                                                                           
GRANT EXECUTE ON [dbo].[dt_checkoutobject_u] TO [public]                                                                                                                                                                                                         
GRANT EXECUTE ON [dbo].[dt_displayoaerror] TO [public]                                                                                                                                                                                                           
GRANT EXECUTE ON [dbo].[dt_displayoaerror_u] TO [public]                                                                                                                                                                                                         
GRANT EXECUTE ON [dbo].[dt_droppropertiesbyid] TO [public]                                                                                                                                                                                                       
GRANT EXECUTE ON [dbo].[dt_dropuserobjectbyid] TO [public]                                                                                                                                                                                                       
GRANT EXECUTE ON [dbo].[dt_generateansiname] TO [public]                                                                                                                                                                                                         
GRANT EXECUTE ON [dbo].[dt_getobjwithprop] TO [public]                                                                                                                                                                                                           
GRANT EXECUTE ON [dbo].[dt_getobjwithprop_u] TO [public]                                                                                                                                                                                                         
GRANT EXECUTE ON [dbo].[dt_getpropertiesbyid] TO [public]                                                                                                                                                                                                        
GRANT EXECUTE ON [dbo].[dt_getpropertiesbyid_u] TO [public]                                                                                                                                                                                                      
GRANT EXECUTE ON [dbo].[dt_getpropertiesbyid_vcs] TO [public]                                                                                                                                                                                                    
GRANT EXECUTE ON [dbo].[dt_getpropertiesbyid_vcs_u] TO [public]                                                                                                                                                                                                  
GRANT EXECUTE ON [dbo].[dt_isundersourcecontrol] TO [public]                                                                                                                                                                                                     
GRANT EXECUTE ON [dbo].[dt_isundersourcecontrol_u] TO [public]                                                                                                                                                                                                   
GRANT EXECUTE ON [dbo].[dt_removefromsourcecontrol] TO [public]                                                                                                                                                                                                  
GRANT EXECUTE ON [dbo].[dt_setpropertybyid] TO [public]                                                                                                                                                                                                          
GRANT EXECUTE ON [dbo].[dt_setpropertybyid_u] TO [public]                                                                                                                                                                                                        
GRANT EXECUTE ON [dbo].[dt_validateloginparams] TO [public]                                                                                                                                                                                                      
GRANT EXECUTE ON [dbo].[dt_validateloginparams_u] TO [public]                                                                                                                                                                                                    
GRANT EXECUTE ON [dbo].[dt_vcsenabled] TO [public]                                                                                                                                                                                                               
GRANT EXECUTE ON [dbo].[dt_verstamp006] TO [public]                                                                                                                                                                                                              
GRANT EXECUTE ON [dbo].[dt_verstamp007] TO [public]                                                                                                                                                                                                              
GRANT EXECUTE ON [dbo].[dt_whocheckedout] TO [public]                                                                                                                                                                                                            
GRANT EXECUTE ON [dbo].[dt_whocheckedout_u] TO [public]                                                                                                                                                                                                          
GRANT EXECUTE ON [dbo].[usp_TBR_BalanceIncomeMemodandum_ByMonths_Preview] TO [FHLBDM\G-SQL Public]                                                                                                                                                               
GRANT INSERT ON [dbo].[dtproperties] TO [public]                                                                                                                                                                                                                 
GRANT INSERT ON [dbo].[GL_Info] TO [eom_pc_data_writer]                                                                                                                                                                                                          
GRANT INSERT ON [dbo].[Trial_Adjustments_Fact_EOM] TO [eom_pc_data_writer]                                                                                                                                                                                       
GRANT INSERT ON [dbo].[TrialOrder_Sorting] TO [eom_pc_data_writer]                                                                                                                                                                                               
GRANT INSERT ON [dbo].[TrialSubtotal_Codes] TO [eom_pc_data_writer]                                                                                                                                                                                              
GRANT INSERT ON [dbo].[TrialSubtotal_Detail] TO [eom_pc_data_writer]                                                                                                                                                                                             
GRANT INSERT ON [dbo].[TrialSummary_Codes] TO [eom_pc_data_writer]                                                                                                                                                                                               
GRANT REFERENCES ON [dbo].[dtproperties] TO [public]                                                                                                                                                                                                             
GRANT SELECT ON [dbo].[Acc_Staging_Updates] TO [eom_pc_RO]                                                                                                                                                                                                       
GRANT SELECT ON [dbo].[Account_Info] TO [eom_pc_RO]                                                                                                                                                                                                              
GRANT SELECT ON [dbo].[Account_Master] TO [eom_pc_RO]                                                                                                                                                                                                            
GRANT SELECT ON [dbo].[Account_Master_Load] TO [eom_pc_RO]                                                                                                                                                                                                       
GRANT SELECT ON [dbo].[Account_Sub_Info] TO [eom_pc_RO]                                                                                                                                                                                                          
GRANT SELECT ON [dbo].[AccSub_Staging_Updates] TO [eom_pc_RO]                                                                                                                                                                                                    
GRANT SELECT ON [dbo].[Alina_TrialSubtotal_Detail] TO [eom_pc_RO]                                                                                                                                                                                                
GRANT SELECT ON [dbo].[CashFlowMultiplier] TO [eom_pc_RO]                                                                                                                                                                                                        
GRANT SELECT ON [dbo].[Derivative_Reclass] TO [eom_pc_RO]                                                                                                                                                                                                        
GRANT SELECT ON [dbo].[DimDate] TO [eom_pc_RO]                                                                                                                                                                                                                   
GRANT SELECT ON [dbo].[dtproperties] TO [public]                                                                                                                                                                                                                 
GRANT SELECT ON [dbo].[Final_Trial_Fact_EOM] TO [eom_pc_RO]                                                                                                                                                                                                      
GRANT SELECT ON [dbo].[final_trial_fact_eom_temp] TO [eom_pc_RO]                                                                                                                                                                                                 
GRANT SELECT ON [dbo].[First_Staging_Updates] TO [eom_pc_RO]                                                                                                                                                                                                     
GRANT SELECT ON [dbo].[First_SubGroup_Info] TO [eom_pc_RO]                                                                                                                                                                                                       
GRANT SELECT ON [dbo].[fourth_Staging_Updates] TO [eom_pc_RO]                                                                                                                                                                                                    
GRANT SELECT ON [dbo].[Fourth_SubGroup_Info] TO [eom_pc_RO]                                                                                                                                                                                                      
GRANT SELECT ON [dbo].[FRSCRSReport_Codes] TO [eom_pc_RO]                                                                                                                                                                                                        
GRANT SELECT ON [dbo].[Gen_Staging_Updates] TO [eom_pc_RO]                                                                                                                                                                                                       
GRANT SELECT ON [dbo].[General_Group_Info] TO [eom_pc_RO]                                                                                                                                                                                                        
GRANT SELECT ON [dbo].[Gl_Code_Info] TO [eom_pc_RO]                                                                                                                                                                                                              
GRANT SELECT ON [dbo].[GL_Info] TO [eom_pc_RO]                                                                                                                                                                                                                   
GRANT SELECT ON [dbo].[glpost_Fact_EOM] TO [eom_pc_RO]                                                                                                                                                                                                           
GRANT SELECT ON [dbo].[Second_SubGroup_Info] TO [eom_pc_RO]                                                                                                                                                                                                      
GRANT SELECT ON [dbo].[SubTotalConfiguration] TO [eom_pc_RO]                                                                                                                                                                                                     
GRANT SELECT ON [dbo].[TestQuestions] TO [eom_pc_RO]                                                                                                                                                                                                             
GRANT SELECT ON [dbo].[Third_Staging_Updates] TO [eom_pc_RO]                                                                                                                                                                                                     
GRANT SELECT ON [dbo].[Third_SubGroup_Info] TO [eom_pc_RO]                                                                                                                                                                                                       
GRANT SELECT ON [dbo].[Trial_Adjustments_Fact_EOM] TO [eom_pc_data_writer]                                                                                                                                                                                       
GRANT SELECT ON [dbo].[Trial_Adjustments_Fact_EOM] TO [eom_pc_RO]                                                                                                                                                                                                
GRANT SELECT ON [dbo].[Trial_Balance_History_Load] TO [eom_pc_RO]                                                                                                                                                                                                
GRANT SELECT ON [dbo].[TrialOrder_Sorting] TO [eom_pc_data_writer]                                                                                                                                                                                               
GRANT SELECT ON [dbo].[TrialOrder_Sorting] TO [eom_pc_RO]                                                                                                                                                                                                        
GRANT SELECT ON [dbo].[TrialSubtotal_Codes] TO [eom_pc_data_writer]                                                                                                                                                                                              
GRANT SELECT ON [dbo].[TrialSubtotal_Codes] TO [eom_pc_RO]                                                                                                                                                                                                       
GRANT SELECT ON [dbo].[TrialSubtotal_Detail] TO [eom_pc_data_writer]                                                                                                                                                                                             
GRANT SELECT ON [dbo].[TrialSubtotal_Detail] TO [eom_pc_RO]                                                                                                                                                                                                      
GRANT SELECT ON [dbo].[TrialSummary_Codes] TO [eom_pc_data_writer]                                                                                                                                                                                               
GRANT SELECT ON [dbo].[TrialSummary_Codes] TO [eom_pc_RO]                                                                                                                                                                                                        
GRANT SELECT ON [dbo].[TypeOfAccount] TO [eom_pc_RO]                                                                                                                                                                                                             
GRANT SELECT ON [dbo].[udf_MonthLessTotalsVisibility] TO [FHLBDM\G-SQL Public]                                                                                                                                                                                   
GRANT SELECT ON [dbo].[v_Derivative_Adjustments] TO [eom_pc_RO]                                                                                                                                                                                                  
GRANT SELECT ON [dbo].[v_Final_Trial_Fact_EOM] TO [eom_pc_RO]                                                                                                                                                                                                    
GRANT SELECT ON [dbo].[v_GL_Configuration] TO [eom_pc_RO]                                                                                                                                                                                                        
GRANT SELECT ON [dbo].[v_Glpost_Combined_Adj] TO [eom_pc_RO]                                                                                                                                                                                                     
GRANT SELECT ON [dbo].[v_Glpost_Combined_Adj] TO [FHLBDM\G-SQL Public]                                                                                                                                                                                           
GRANT SELECT ON [dbo].[v_GLPost_CompleteList] TO [eom_pc_RO]                                                                                                                                                                                                     
GRANT SELECT ON [dbo].[v_GLPost_CompleteList] TO [FHLBDM\G-SQL Public]                                                                                                                                                                                           
GRANT SELECT ON [dbo].[v_Trial_Adjustments_Fact_EOM] TO [eom_pc_RO]                                                                                                                                                                                              
GRANT SELECT ON [dbo].[v_Trial_Adjustments_Fact_EOM] TO [FHLBDM\G-SQL Public]                                                                                                                                                                                    
GRANT SELECT ON [dbo].[v_Trial_Dates] TO [eom_pc_RO]                                                                                                                                                                                                             
GRANT UPDATE ON [dbo].[dtproperties] TO [public]                                                                                                                                                                                                                 
GRANT UPDATE ON [dbo].[GL_Info] TO [eom_pc_data_writer]                                                                                                                                                                                                          
GRANT UPDATE ON [dbo].[Trial_Adjustments_Fact_EOM] TO [eom_pc_data_writer]                                                                                                                                                                                       
GRANT UPDATE ON [dbo].[TrialOrder_Sorting] TO [eom_pc_data_writer]                                                                                                                                                                                               
GRANT UPDATE ON [dbo].[TrialSubtotal_Codes] TO [eom_pc_data_writer]                                                                                                                                                                                              
GRANT UPDATE ON [dbo].[TrialSubtotal_Detail] TO [eom_pc_data_writer]                                                                                                                                                                                             
GRANT UPDATE ON [dbo].[TrialSummary_Codes] TO [eom_pc_data_writer]                                                                                                                                                                                               
-- [-- TYPE LEVEL PERMISSIONS --] --                                                                                                                                                                                                                             
                                                                                                                                                                                                                                                                 
-- [--DB LEVEL PERMISSIONS --] --                                                                                                                                                                                                                                
GRANT CONNECT TO [FHLBDM\G-FHLB-Developers]                                                                                                                                                                                                                      
GRANT CONNECT TO [FHLBDM\Global- Accounting]                                                                                                                                                                                                                     
GRANT CONNECT TO [FHLBDM\G-SQL Public]                                                                                                                                                                                                                           
                                                                                                                                                                                                                                                                 
-- [--DB LEVEL SCHEMA PERMISSIONS --] --                                                                                                                                                                                                                         


