
--stmt                                                                                                                                                                                                                                                           
------                                                                                                                                                                                                                                                           
-- [-- DB CONTEXT --] --                                                                                                                                                                                                                                         
USE [MPF_LnCmt]                                                                                                                                                                                                                                                  
                                                                                                                                                                                                                                                                 
-- [-- DB USERS --] --                                                                                                                                                                                                                                           
IF NOT EXISTS (SELECT [name] FROM sys.database_principals WHERE [name] =  'dbo') BEGIN CREATE USER  [dbo] FOR LOGIN [FHLBDM\netappsrvc] WITH DEFAULT_SCHEMA = [dbo] END;                                                                                         
IF NOT EXISTS (SELECT [name] FROM sys.database_principals WHERE [name] =  'FHLBDM\DEVLTST') BEGIN CREATE USER  [FHLBDM\DEVLTST] FOR LOGIN [FHLBDM\DEVLTST] WITH DEFAULT_SCHEMA = [FHLBDM\DEVLTST] END;                                                           
IF NOT EXISTS (SELECT [name] FROM sys.database_principals WHERE [name] =  'FHLBDM\G-FHLBAPPS-MP FActivity') BEGIN CREATE USER  [FHLBDM\G-FHLBAPPS-MP FActivity] FOR LOGIN [FHLBDM\G-FHLBAPPS-MPF Activity] WITH DEFAULT_SCHEMA = [dbo] END;                      
IF NOT EXISTS (SELECT [name] FROM sys.database_principals WHERE [name] =  'FHLBDM\G-FHLBAPPS-MPF Loan Commitment RO') BEGIN CREATE USER  [FHLBDM\G-FHLBAPPS-MPF Loan Commitment RO] FOR LOGIN [FHLBDM\G-FHLBAPPS-MPF Loan Commitment RO] WITH DEFAULT_SCHEMA =...
IF NOT EXISTS (SELECT [name] FROM sys.database_principals WHERE [name] =  'FHLBDM\G-FHLBAPPS-MPF Loan Commitment') BEGIN CREATE USER  [FHLBDM\G-FHLBAPPS-MPF Loan Commitment] FOR LOGIN [FHLBDM\G-FHLBAPPS-MPF Loan Commitment] WITH DEFAULT_SCHEMA = [dbo] END; 
IF NOT EXISTS (SELECT [name] FROM sys.database_principals WHERE [name] =  'FHLBDM\G-FHLB-Developers') BEGIN CREATE USER  [FHLBDM\G-FHLB-Developers] FOR LOGIN [FHLBDM\G-FHLB-Developers] WITH DEFAULT_SCHEMA = [dbo] END;                                        
IF NOT EXISTS (SELECT [name] FROM sys.database_principals WHERE [name] =  'FHLBDM\G-SQL Public') BEGIN CREATE USER  [FHLBDM\G-SQL Public] FOR LOGIN [FHLBDM\G-SQL Public] WITH DEFAULT_SCHEMA = [dbo] END;                                                       
IF NOT EXISTS (SELECT [name] FROM sys.database_principals WHERE [name] =  'FHLBDM\G-SQL-HUB Testers') BEGIN CREATE USER  [FHLBDM\G-SQL-HUB Testers] FOR LOGIN [FHLBDM\G-SQL-HUB Testers] WITH DEFAULT_SCHEMA = [dbo] END;                                        
IF NOT EXISTS (SELECT [name] FROM sys.database_principals WHERE [name] =  'FHLBDM\PKalakot') BEGIN CREATE USER  [FHLBDM\PKalakot] FOR LOGIN [FHLBDM\PKalakot] WITH DEFAULT_SCHEMA = [FHLBDM\PKalakot] END;                                                       
-- [-- ORPHANED USERS --] --                                                                                                                                                                                                                                     
-- [-- DB ROLES --] --                                                                                                                                                                                                                                           
EXEC sp_addrolemember @rolename = 'db_datareader', @membername = 'FHLBDM\G-FHLBAPPS-MP FActivity'                                                                                                                                                                
EXEC sp_addrolemember @rolename = 'db_datareader', @membername = 'FHLBDM\G-FHLBAPPS-MPF Loan Commitment'                                                                                                                                                         
EXEC sp_addrolemember @rolename = 'db_datareader', @membername = 'FHLBDM\G-FHLBAPPS-MPF Loan Commitment RO'                                                                                                                                                      
EXEC sp_addrolemember @rolename = 'db_owner', @membername = 'FHLBDM\G-FHLB-Developers'                                                                                                                                                                           
EXEC sp_addrolemember @rolename = 'db_owner', @membername = 'FHLBDM\G-SQL-HUB Testers'                                                                                                                                                                           
                                                                                                                                                                                                                                                                 
-- [-- OBJECT LEVEL PERMISSIONS --] --                                                                                                                                                                                                                           
DENY EXECUTE ON [dbo].[fn_diagramobjects] TO [guest]                                                                                                                                                                                                             
DENY EXECUTE ON [dbo].[sp_alterdiagram] TO [guest]                                                                                                                                                                                                               
DENY EXECUTE ON [dbo].[sp_creatediagram] TO [guest]                                                                                                                                                                                                              
DENY EXECUTE ON [dbo].[sp_dropdiagram] TO [guest]                                                                                                                                                                                                                
DENY EXECUTE ON [dbo].[sp_helpdiagramdefinition] TO [guest]                                                                                                                                                                                                      
DENY EXECUTE ON [dbo].[sp_helpdiagrams] TO [guest]                                                                                                                                                                                                               
DENY EXECUTE ON [dbo].[sp_renamediagram] TO [guest]                                                                                                                                                                                                              
GRANT DELETE ON [dbo].[CouponSpread] TO [FHLBDM\G-FHLBAPPS-MPF Loan Commitment]                                                                                                                                                                                  
GRANT DELETE ON [dbo].[DC_Price_EOM_Trades] TO [FHLBDM\G-FHLBAPPS-MPF Loan Commitment]                                                                                                                                                                           
GRANT DELETE ON [dbo].[dtproperties] TO [public]                                                                                                                                                                                                                 
GRANT DELETE ON [dbo].[Loan_MTD] TO [FHLBDM\G-FHLBAPPS-MPF Loan Commitment]                                                                                                                                                                                      
GRANT DELETE ON [dbo].[loan_mtd_test] TO [FHLBDM\G-FHLBAPPS-MPF Loan Commitment]                                                                                                                                                                                 
GRANT DELETE ON [dbo].[TradesFilter] TO [FHLBDM\G-FHLBAPPS-MPF Loan Commitment]                                                                                                                                                                                  
GRANT EXECUTE ON [dbo].[dt_addtosourcecontrol] TO [public]                                                                                                                                                                                                       
GRANT EXECUTE ON [dbo].[dt_addtosourcecontrol_u] TO [public]                                                                                                                                                                                                     
GRANT EXECUTE ON [dbo].[dt_adduserobject] TO [public]                                                                                                                                                                                                            
GRANT EXECUTE ON [dbo].[dt_adduserobject_vcs] TO [public]                                                                                                                                                                                                        
GRANT EXECUTE ON [dbo].[dt_checkinobject] TO [public]                                                                                                                                                                                                            
GRANT EXECUTE ON [dbo].[dt_checkinobject_u] TO [public]                                                                                                                                                                                                          
GRANT EXECUTE ON [dbo].[dt_checkoutobject] TO [public]                                                                                                                                                                                                           
GRANT EXECUTE ON [dbo].[dt_checkoutobject_u] TO [public]                                                                                                                                                                                                         
GRANT EXECUTE ON [dbo].[dt_displayoaerror] TO [public]                                                                                                                                                                                                           
GRANT EXECUTE ON [dbo].[dt_displayoaerror_u] TO [public]                                                                                                                                                                                                         
GRANT EXECUTE ON [dbo].[dt_droppropertiesbyid] TO [public]                                                                                                                                                                                                       
GRANT EXECUTE ON [dbo].[dt_dropuserobjectbyid] TO [public]                                                                                                                                                                                                       
GRANT EXECUTE ON [dbo].[dt_generateansiname] TO [public]                                                                                                                                                                                                         
GRANT EXECUTE ON [dbo].[dt_getobjwithprop] TO [public]                                                                                                                                                                                                           
GRANT EXECUTE ON [dbo].[dt_getobjwithprop_u] TO [public]                                                                                                                                                                                                         
GRANT EXECUTE ON [dbo].[dt_getpropertiesbyid] TO [public]                                                                                                                                                                                                        
GRANT EXECUTE ON [dbo].[dt_getpropertiesbyid_u] TO [public]                                                                                                                                                                                                      
GRANT EXECUTE ON [dbo].[dt_getpropertiesbyid_vcs] TO [public]                                                                                                                                                                                                    
GRANT EXECUTE ON [dbo].[dt_getpropertiesbyid_vcs_u] TO [public]                                                                                                                                                                                                  
GRANT EXECUTE ON [dbo].[dt_isundersourcecontrol] TO [public]                                                                                                                                                                                                     
GRANT EXECUTE ON [dbo].[dt_isundersourcecontrol_u] TO [public]                                                                                                                                                                                                   
GRANT EXECUTE ON [dbo].[dt_removefromsourcecontrol] TO [public]                                                                                                                                                                                                  
GRANT EXECUTE ON [dbo].[dt_setpropertybyid] TO [public]                                                                                                                                                                                                          
GRANT EXECUTE ON [dbo].[dt_setpropertybyid_u] TO [public]                                                                                                                                                                                                        
GRANT EXECUTE ON [dbo].[dt_validateloginparams] TO [public]                                                                                                                                                                                                      
GRANT EXECUTE ON [dbo].[dt_validateloginparams_u] TO [public]                                                                                                                                                                                                    
GRANT EXECUTE ON [dbo].[dt_vcsenabled] TO [public]                                                                                                                                                                                                               
GRANT EXECUTE ON [dbo].[dt_verstamp006] TO [public]                                                                                                                                                                                                              
GRANT EXECUTE ON [dbo].[dt_verstamp007] TO [public]                                                                                                                                                                                                              
GRANT EXECUTE ON [dbo].[dt_whocheckedout] TO [public]                                                                                                                                                                                                            
GRANT EXECUTE ON [dbo].[dt_whocheckedout_u] TO [public]                                                                                                                                                                                                          
GRANT EXECUTE ON [dbo].[fn_diagramobjects] TO [public]                                                                                                                                                                                                           
GRANT EXECUTE ON [dbo].[sp_alterdiagram] TO [public]                                                                                                                                                                                                             
GRANT EXECUTE ON [dbo].[sp_creatediagram] TO [public]                                                                                                                                                                                                            
GRANT EXECUTE ON [dbo].[sp_dropdiagram] TO [public]                                                                                                                                                                                                              
GRANT EXECUTE ON [dbo].[sp_helpdiagramdefinition] TO [public]                                                                                                                                                                                                    
GRANT EXECUTE ON [dbo].[sp_helpdiagrams] TO [public]                                                                                                                                                                                                             
GRANT EXECUTE ON [dbo].[sp_renamediagram] TO [public]                                                                                                                                                                                                            
GRANT INSERT ON [dbo].[CouponSpread] TO [FHLBDM\G-FHLBAPPS-MPF Loan Commitment]                                                                                                                                                                                  
GRANT INSERT ON [dbo].[DC_Price_EOM_Trades] TO [FHLBDM\G-FHLBAPPS-MPF Loan Commitment]                                                                                                                                                                           
GRANT INSERT ON [dbo].[dtproperties] TO [public]                                                                                                                                                                                                                 
GRANT INSERT ON [dbo].[Loan_MTD] TO [FHLBDM\G-FHLBAPPS-MPF Loan Commitment]                                                                                                                                                                                      
GRANT INSERT ON [dbo].[loan_mtd_test] TO [FHLBDM\G-FHLBAPPS-MPF Loan Commitment]                                                                                                                                                                                 
GRANT INSERT ON [dbo].[TradesFilter] TO [FHLBDM\G-FHLBAPPS-MPF Loan Commitment]                                                                                                                                                                                  
GRANT REFERENCES ON [dbo].[dtproperties] TO [public]                                                                                                                                                                                                             
GRANT SELECT ON [dbo].[Acct_Mark_EOM] TO [FHLBDM\G-FHLBAPPS-MPF Loan Commitment RO]                                                                                                                                                                              
GRANT SELECT ON [dbo].[Acct_Mark_EOM] TO [FHLBDM\G-FHLBAPPS-MPF Loan Commitment]                                                                                                                                                                                 
GRANT SELECT ON [dbo].[Acct_Mark_EOM] TO [FHLBDM\G-SQL Public]                                                                                                                                                                                                   
GRANT SELECT ON [dbo].[Acct_Mark_EOM_DC100] TO [FHLBDM\G-FHLBAPPS-MPF Loan Commitment RO]                                                                                                                                                                        
GRANT SELECT ON [dbo].[Acct_Mark_EOM_DC100] TO [FHLBDM\G-FHLBAPPS-MPF Loan Commitment]                                                                                                                                                                           
GRANT SELECT ON [dbo].[Acct_Mark_EOM_DC100_Fact_EOD] TO [FHLBDM\G-FHLBAPPS-MPF Loan Commitment]                                                                                                                                                                  
GRANT SELECT ON [dbo].[Acct_Mark_EOM_DC100_Fact_EOD] TO [FHLBDM\G-SQL Public]                                                                                                                                                                                    
GRANT SELECT ON [dbo].[Acct_Mark_EOM_Fact_EOD] TO [FHLBDM\G-SQL Public]                                                                                                                                                                                          
GRANT SELECT ON [dbo].[Acct_Price_Final] TO [FHLBDM\G-FHLBAPPS-MPF Loan Commitment RO]                                                                                                                                                                           
GRANT SELECT ON [dbo].[Acct_Price_Final] TO [FHLBDM\G-FHLBAPPS-MPF Loan Commitment]                                                                                                                                                                              
GRANT SELECT ON [dbo].[Acct_Price_Final_Fact_EOD] TO [FHLBDM\G-SQL Public]                                                                                                                                                                                       
GRANT SELECT ON [dbo].[Acct_Report_V] TO [FHLBDM\G-FHLBAPPS-MPF Loan Commitment RO]                                                                                                                                                                              
GRANT SELECT ON [dbo].[Acct_Report_V] TO [FHLBDM\G-FHLBAPPS-MPF Loan Commitment]                                                                                                                                                                                 
GRANT SELECT ON [dbo].[CouponSpread] TO [FHLBDM\G-FHLBAPPS-MPF Loan Commitment RO]                                                                                                                                                                               
GRANT SELECT ON [dbo].[CouponSpread] TO [FHLBDM\G-FHLBAPPS-MPF Loan Commitment]                                                                                                                                                                                  
GRANT SELECT ON [dbo].[CouponSpread_Fact_EOD] TO [FHLBDM\G-SQL Public]                                                                                                                                                                                           
GRANT SELECT ON [dbo].[DC_Decision] TO [FHLBDM\G-FHLBAPPS-MPF Loan Commitment RO]                                                                                                                                                                                
GRANT SELECT ON [dbo].[DC_Decision] TO [FHLBDM\G-FHLBAPPS-MPF Loan Commitment]                                                                                                                                                                                   
GRANT SELECT ON [dbo].[DC_Decision_Fact_EOD] TO [FHLBDM\G-SQL Public]                                                                                                                                                                                            
GRANT SELECT ON [dbo].[DC_ExpirationPricing] TO [FHLBDM\G-FHLBAPPS-MPF Loan Commitment RO]                                                                                                                                                                       
GRANT SELECT ON [dbo].[DC_ExpirationPricing] TO [FHLBDM\G-FHLBAPPS-MPF Loan Commitment]                                                                                                                                                                          
GRANT SELECT ON [dbo].[DC_ExpirationPricing_Fact_EOD] TO [FHLBDM\G-SQL Public]                                                                                                                                                                                   
GRANT SELECT ON [dbo].[DC_Expiring] TO [FHLBDM\G-FHLBAPPS-MPF Loan Commitment RO]                                                                                                                                                                                
GRANT SELECT ON [dbo].[DC_Expiring] TO [FHLBDM\G-FHLBAPPS-MPF Loan Commitment]                                                                                                                                                                                   
GRANT SELECT ON [dbo].[DC_Expiring_Fact_EOD] TO [FHLBDM\G-SQL Public]                                                                                                                                                                                            
GRANT SELECT ON [dbo].[DC_Price_EOM] TO [FHLBDM\G-FHLBAPPS-MPF Loan Commitment RO]                                                                                                                                                                               
GRANT SELECT ON [dbo].[DC_Price_EOM] TO [FHLBDM\G-FHLBAPPS-MPF Loan Commitment]                                                                                                                                                                                  
GRANT SELECT ON [dbo].[DC_Price_EOM_Fact_EOD] TO [FHLBDM\G-SQL Public]                                                                                                                                                                                           
GRANT SELECT ON [dbo].[DC_Price_EOM_Trades] TO [FHLBDM\G-FHLBAPPS-MPF Loan Commitment RO]                                                                                                                                                                        
GRANT SELECT ON [dbo].[DC_Price_EOM_Trades] TO [FHLBDM\G-FHLBAPPS-MPF Loan Commitment]                                                                                                                                                                           
GRANT SELECT ON [dbo].[DC_Price_EOM_Trades_Fact_EOD] TO [FHLBDM\G-SQL Public]                                                                                                                                                                                    
GRANT SELECT ON [dbo].[DC_Prior] TO [FHLBDM\G-FHLBAPPS-MPF Loan Commitment RO]                                                                                                                                                                                   
GRANT SELECT ON [dbo].[DC_Prior] TO [FHLBDM\G-FHLBAPPS-MPF Loan Commitment]                                                                                                                                                                                      
GRANT SELECT ON [dbo].[DC_Prior_Backup] TO [FHLBDM\G-FHLBAPPS-MPF Loan Commitment RO]                                                                                                                                                                            
GRANT SELECT ON [dbo].[DC_Prior_Backup] TO [FHLBDM\G-FHLBAPPS-MPF Loan Commitment]                                                                                                                                                                               
GRANT SELECT ON [dbo].[DC_Prior_Fact_EOD] TO [FHLBDM\G-SQL Public]                                                                                                                                                                                               
GRANT SELECT ON [dbo].[DC_Spread] TO [FHLBDM\G-FHLBAPPS-MPF Loan Commitment RO]                                                                                                                                                                                  
GRANT SELECT ON [dbo].[DC_Spread] TO [FHLBDM\G-FHLBAPPS-MPF Loan Commitment]                                                                                                                                                                                     
GRANT SELECT ON [dbo].[DC_Spread_Fact_EOD] TO [FHLBDM\G-SQL Public]                                                                                                                                                                                              
GRANT SELECT ON [dbo].[dtproperties] TO [public]                                                                                                                                                                                                                 
GRANT SELECT ON [dbo].[Loan_MTD] TO [FHLBDM\G-FHLBAPPS-MPF Loan Commitment]                                                                                                                                                                                      
GRANT SELECT ON [dbo].[loan_mtd_test] TO [FHLBDM\G-FHLBAPPS-MPF Loan Commitment]                                                                                                                                                                                 
GRANT SELECT ON [dbo].[MPF_EODPricing_V] TO [FHLBDM\G-FHLBAPPS-MPF Loan Commitment RO]                                                                                                                                                                           
GRANT SELECT ON [dbo].[MPF_EODPricing_V] TO [FHLBDM\G-FHLBAPPS-MPF Loan Commitment]                                                                                                                                                                              
GRANT SELECT ON [dbo].[MPF_Export_V_VIEW] TO [FHLBDM\G-FHLBAPPS-MPF Loan Commitment RO]                                                                                                                                                                          
GRANT SELECT ON [dbo].[MPF_Export_V_VIEW] TO [FHLBDM\G-FHLBAPPS-MPF Loan Commitment]                                                                                                                                                                             
GRANT SELECT ON [dbo].[MPF_ReportDate_V] TO [FHLBDM\G-FHLBAPPS-MPF Loan Commitment RO]                                                                                                                                                                           
GRANT SELECT ON [dbo].[MPF_ReportDate_V] TO [FHLBDM\G-FHLBAPPS-MPF Loan Commitment]                                                                                                                                                                              
GRANT SELECT ON [dbo].[MPF_Trans_DC_1_V] TO [FHLBDM\G-FHLBAPPS-MPF Loan Commitment RO]                                                                                                                                                                           
GRANT SELECT ON [dbo].[MPF_Trans_DC_1_V] TO [FHLBDM\G-FHLBAPPS-MPF Loan Commitment]                                                                                                                                                                              
GRANT SELECT ON [dbo].[MPF_Trans_DC_V] TO [FHLBDM\G-FHLBAPPS-MPF Loan Commitment RO]                                                                                                                                                                             
GRANT SELECT ON [dbo].[MPF_Trans_DC_V] TO [FHLBDM\G-FHLBAPPS-MPF Loan Commitment]                                                                                                                                                                                
GRANT SELECT ON [dbo].[MPF_Trans_Trades_1_V] TO [FHLBDM\G-FHLBAPPS-MPF Loan Commitment RO]                                                                                                                                                                       
GRANT SELECT ON [dbo].[MPF_Trans_Trades_1_V] TO [FHLBDM\G-FHLBAPPS-MPF Loan Commitment]                                                                                                                                                                          
GRANT SELECT ON [dbo].[MPF_Trans_Trades_V] TO [FHLBDM\G-FHLBAPPS-MPF Loan Commitment RO]                                                                                                                                                                         
GRANT SELECT ON [dbo].[MPF_Trans_Trades_V] TO [FHLBDM\G-FHLBAPPS-MPF Loan Commitment]                                                                                                                                                                            
GRANT SELECT ON [dbo].[TBA_Exposure] TO [FHLBDM\G-SQL Public]                                                                                                                                                                                                    
GRANT SELECT ON [dbo].[TradesFilter] TO [FHLBDM\G-FHLBAPPS-MPF Loan Commitment RO]                                                                                                                                                                               
GRANT SELECT ON [dbo].[TradesFilter] TO [FHLBDM\G-FHLBAPPS-MPF Loan Commitment]                                                                                                                                                                                  
GRANT SELECT ON [dbo].[TradesFilter_Fact_EOD] TO [FHLBDM\G-SQL Public]                                                                                                                                                                                           
GRANT SELECT ON [dbo].[xlsBloomberg] TO [FHLBDM\G-FHLBAPPS-MPF Loan Commitment RO]                                                                                                                                                                               
GRANT SELECT ON [dbo].[xlsBloomberg] TO [FHLBDM\G-FHLBAPPS-MPF Loan Commitment]                                                                                                                                                                                  
GRANT SELECT ON [dbo].[xlsBloomberg_Fact_EOD] TO [FHLBDM\G-SQL Public]                                                                                                                                                                                           
GRANT SELECT ON [dbo].[xlsBloombergAM] TO [FHLBDM\G-FHLBAPPS-MPF Loan Commitment RO]                                                                                                                                                                             
GRANT SELECT ON [dbo].[xlsBloombergAM] TO [FHLBDM\G-FHLBAPPS-MPF Loan Commitment]                                                                                                                                                                                
GRANT SELECT ON [dbo].[xlsBloombergAM_Fact_EOD] TO [FHLBDM\G-SQL Public]                                                                                                                                                                                         
GRANT SELECT ON [dbo].[xlsSettleDays] TO [FHLBDM\G-FHLBAPPS-MPF Loan Commitment RO]                                                                                                                                                                              
GRANT SELECT ON [dbo].[xlsSettleDays] TO [FHLBDM\G-FHLBAPPS-MPF Loan Commitment]                                                                                                                                                                                 
GRANT SELECT ON [dbo].[xlsSettleDays_Fact_EOD] TO [FHLBDM\G-SQL Public]                                                                                                                                                                                          
GRANT UPDATE ON [dbo].[CouponSpread] TO [FHLBDM\G-FHLBAPPS-MPF Loan Commitment]                                                                                                                                                                                  
GRANT UPDATE ON [dbo].[DC_Price_EOM_Trades] TO [FHLBDM\G-FHLBAPPS-MPF Loan Commitment]                                                                                                                                                                           
GRANT UPDATE ON [dbo].[dtproperties] TO [public]                                                                                                                                                                                                                 
GRANT UPDATE ON [dbo].[Loan_MTD] TO [FHLBDM\G-FHLBAPPS-MPF Loan Commitment]                                                                                                                                                                                      
GRANT UPDATE ON [dbo].[loan_mtd_test] TO [FHLBDM\G-FHLBAPPS-MPF Loan Commitment]                                                                                                                                                                                 
GRANT UPDATE ON [dbo].[TradesFilter] TO [FHLBDM\G-FHLBAPPS-MPF Loan Commitment]                                                                                                                                                                                  
-- [-- TYPE LEVEL PERMISSIONS --] --                                                                                                                                                                                                                             
                                                                                                                                                                                                                                                                 
-- [--DB LEVEL PERMISSIONS --] --                                                                                                                                                                                                                                
GRANT CONNECT TO [FHLBDM\DEVLTST]                                                                                                                                                                                                                                
GRANT CONNECT TO [FHLBDM\G-FHLBAPPS-MP FActivity]                                                                                                                                                                                                                
GRANT CONNECT TO [FHLBDM\G-FHLBAPPS-MPF Loan Commitment RO]                                                                                                                                                                                                      
GRANT CONNECT TO [FHLBDM\G-FHLBAPPS-MPF Loan Commitment]                                                                                                                                                                                                         
GRANT CONNECT TO [FHLBDM\G-FHLB-Developers]                                                                                                                                                                                                                      
GRANT CONNECT TO [FHLBDM\G-SQL Public]                                                                                                                                                                                                                           
GRANT CONNECT TO [FHLBDM\G-SQL-HUB Testers]                                                                                                                                                                                                                      
                                                                                                                                                                                                                                                                 
-- [--DB LEVEL SCHEMA PERMISSIONS --] --                                                                                                                                                                                                                         


